In [2]:
%pip install recordlinkage

Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: jellyfish is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

Collecting recordlinkage
  Downloading recordlinkage-0.15-py3-none-any.whl (926 kB)
     ---------------------------------------- 0.0/926.5 kB ? eta -:--:--
     --- ----------------------------------- 81.9/926.5 kB 2.2 MB/s eta 0:00:01
     ------- ------------------------------ 194.6/926.5 kB 2.3 MB/s eta 0:00:01
     ------------ ------------------------- 307.2/926.5 kB 2.1 MB/s eta 0:00:01
     ---------------- --------------------- 409.6/926.5 kB 2.3 MB/s eta 0:00:01
     --------------------- ---------------- 522.2/926.5 kB 2.2 MB/s eta 0:00:01
     ------------------------- ------------ 624.6/926.5 kB 2.2 MB/s eta 0:00:01
     ----------------------------- -------- 727.0/926.5 kB 2.3 MB/s eta 0:00:01
     ---------------------------------- --- 829.4/926.5 kB 2.3 MB/s eta 0:00:01
     -------------------------------------  921.6/926.5 kB 2.2 MB/s eta 0:00:01
     -------------------------------------- 926.5/926.5 kB 2.1 MB/s eta 0:00:00
Collecting jellyfish>=0.8.0
  Downloading jellyfish-0.9.0.tar.gz (132 kB)
     ---------------------------------------- 0.0/132.6 kB ? eta -:--:--
     -------------------------------- ----- 112.6/132.6 kB 2.2 MB/s eta 0:00:01
     -------------------------------------- 132.6/132.6 kB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy>=1.13.0 in c:\python311\lib\site-packages (from recordlinkage) (1.24.2)
Collecting pandas<2,>=1
  Using cached pandas-1.5.3-cp311-cp311-win_amd64.whl (10.3 MB)
Collecting scipy>=1
  Using cached scipy-1.10.0-cp311-cp311-win_amd64.whl (42.2 MB)
Collecting scikit-learn>=0.19.0
  Downloading scikit_learn-1.2.1-cp311-cp311-win_amd64.whl (8.2 MB)
     ---------------------------------------- 0.0/8.2 MB ? eta -:--:--
     ---------------------------------------- 0.1/8.2 MB 1.1 MB/s eta 0:00:08
      --------------------------------------- 0.2/8.2 MB 2.4 MB/s eta 0:00:04
     - -------------------------------------- 0.3/8.2 MB 2.2 MB/s eta 0:00:04
     - -------------------------------------- 0.4/8.2 MB 2.2 MB/s eta 0:00:04
     -- ------------------------------------- 0.5/8.2 MB 2.3 MB/s eta 0:00:04
     -- ------------------------------------- 0.6/8.2 MB 2.3 MB/s eta 0:00:04
     --- ------------------------------------ 0.7/8.2 MB 2.2 MB/s eta 0:00:04
     --- ------------------------------------ 0.8/8.2 MB 2.2 MB/s eta 0:00:04
     ---- ----------------------------------- 0.9/8.2 MB 2.2 MB/s eta 0:00:04
     ---- ----------------------------------- 1.0/8.2 MB 2.2 MB/s eta 0:00:04
     ----- ---------------------------------- 1.1/8.2 MB 2.2 MB/s eta 0:00:04
     ----- ---------------------------------- 1.2/8.2 MB 2.2 MB/s eta 0:00:04
     ------ --------------------------------- 1.4/8.2 MB 2.3 MB/s eta 0:00:04
     ------ --------------------------------- 1.4/8.2 MB 2.2 MB/s eta 0:00:04
     ------- -------------------------------- 1.5/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.7/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.8/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.9/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.9/8.2 MB 2.2 MB/s eta 0:00:03
     --------- ------------------------------ 2.0/8.2 MB 2.2 MB/s eta 0:00:03
     ---------- ----------------------------- 2.2/8.2 MB 2.2 MB/s eta 0:00:03
     ---------- ----------------------------- 2.3/8.2 MB 2.2 MB/s eta 0:00:03
     ----------- ---------------------------- 2.4/8.2 MB 2.2 MB/s eta 0:00:03
     ----------- ---------------------------- 2.5/8.2 MB 2.2 MB/s eta 0:00:03
     ------------ --------------------------- 2.6/8.2 MB 2.2 MB/s eta 0:00:03
     ------------- -------------------------- 2.7/8.2 MB 2.2 MB/s eta 0:00:03
     ------------- -------------------------- 2.8/8.2 MB 2.2 MB/s eta 0:00:03
     -------------- ------------------------- 2.9/8.2 MB 2.2 MB/s eta 0:00:03
     -------------- ------------------------- 3.0/8.2 MB 2.2 MB/s eta 0:00:03
     --------------- ------------------------ 3.1/8.2 MB 2.2 MB/s eta 0:00:03
     --------------- ------------------------ 3.2/8.2 MB 2.2 MB/s eta 0:00:03
     ---------------- ----------------------- 3.3/8.2 MB 2.2 MB/s eta 0:00:03
     ---------------- ----------------------- 3.4/8.2 MB 2.2 MB/s eta 0:00:03
     ----------------- ---------------------- 3.5/8.2 MB 2.2 MB/s eta 0:00:03
     ----------------- ---------------------- 3.6/8.2 MB 2.2 MB/s eta 0:00:03
     ------------------ --------------------- 3.7/8.2 MB 2.2 MB/s eta 0:00:03
     ------------------ --------------------- 3.8/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------- -------------------- 3.9/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------- -------------------- 4.0/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------- ------------------- 4.1/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------- ------------------- 4.3/8.2 MB 2.2 MB/s eta 0:00:02
     --------------------- ------------------ 4.4/8.2 MB 2.2 MB/s eta 0:00:02
     --------------------- ------------------ 4.5/8.2 MB 2.2 MB/s eta 0:00:02
     ---------------------- ----------------- 4.6/8.2 MB 2.2 MB/s eta 0:00:02
     ---------------------- ----------------- 4.7/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------- ---------------- 4.8/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------- ---------------- 4.9/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------------ --------------- 5.0/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------------ --------------- 5.1/8.2 MB 2.3 MB/s eta 0:00:02
     ------------------------- -------------- 5.2/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------------- -------------- 5.3/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------------- ------------- 5.4/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------------- ------------- 5.5/8.2 MB 2.3 MB/s eta 0:00:02
     --------------------------- ------------ 5.6/8.2 MB 2.2 MB/s eta 0:00:02
     --------------------------- ------------ 5.8/8.2 MB 2.2 MB/s eta 0:00:02
     ---------------------------- ----------- 5.8/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------------- ---------- 6.0/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------------- ---------- 6.1/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------ --------- 6.2/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------ --------- 6.3/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------- -------- 6.4/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------- -------- 6.5/8.2 MB 2.2 MB/s eta 0:00:01
     -------------------------------- ------- 6.6/8.2 MB 2.3 MB/s eta 0:00:01
     -------------------------------- ------- 6.7/8.2 MB 2.2 MB/s eta 0:00:01
     --------------------------------- ------ 6.8/8.2 MB 2.3 MB/s eta 0:00:01
     --------------------------------- ------ 6.9/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------- ----- 7.0/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------- ----- 7.1/8.2 MB 2.2 MB/s eta 0:00:01
     ----------------------------------- ---- 7.2/8.2 MB 2.2 MB/s eta 0:00:01
     ----------------------------------- ---- 7.3/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------------ --- 7.5/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------------ --- 7.6/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------------- -- 7.7/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------------- -- 7.8/8.2 MB 2.3 MB/s eta 0:00:01
     -------------------------------------- - 7.9/8.2 MB 2.3 MB/s eta 0:00:01
     -------------------------------------- - 8.0/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------------  8.1/8.2 MB 2.3 MB/s eta 0:00:01
     ---------------------------------------  8.2/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------------  8.2/8.2 MB 2.3 MB/s eta 0:00:01
     ---------------------------------------- 8.2/8.2 MB 2.2 MB/s eta 0:00:00
Collecting joblib
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\andre\appdata\roaming\python\python311\site-packages (from pandas<2,>=1->recordlinkage) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas<2,>=1->recordlinkage) (2022.7.1)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: six>=1.5 in c:\users\andre\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas<2,>=1->recordlinkage) (1.16.0)
Installing collected packages: threadpoolctl, scipy, joblib, jellyfish, scikit-learn, pandas, recordlinkage
  Running setup.py install for jellyfish: started
  Running setup.py install for jellyfish: finished with status 'done'
Successfully installed jellyfish-0.9.0 joblib-1.2.0 pandas-1.5.3 recordlinkage-0.15 scikit-learn-1.2.1 scipy-1.10.0 threadpoolctl-3.1.0

# Record linkage con Python Record Linkage Toolkit

In [1]:
import recordlinkage
import pandas as pd

In [2]:
df = pd.read_json('output_alignment_multithread_finalpass/schema_mediato.json')
print(len(df))

# half_size = int(len(df)/2)
# df_a = df.iloc[:half_size,:]
# df_b = df.iloc[half_size:,:]

df_a = df
df_b = df

display(df_a)
display(df_b)

198615

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
0,None,Artificial intelligence,None,None,China,None,None,None,None,None,None,None,None,None,None,None
1,None,Other,None,None,United States,None,None,None,None,None,None,None,None,None,None,None
2,None,E-commerce & direct-to-consumer,None,None,China,None,None,None,None,None,None,None,None,None,None,None
3,None,Fintech,None,None,United States,None,None,None,None,None,None,None,None,None,None,None
4,None,Internet software & services,None,None,Australia,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198610,\n Olajide Semi...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198611,\n Kaidi Klein\...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198612,\n Liridon Resh...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198613,\n Margus L\xc3...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198614,\n Hannes Rosin...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
0,None,Artificial intelligence,None,None,China,None,None,None,None,None,None,None,None,None,None,None
1,None,Other,None,None,United States,None,None,None,None,None,None,None,None,None,None,None
2,None,E-commerce & direct-to-consumer,None,None,China,None,None,None,None,None,None,None,None,None,None,None
3,None,Fintech,None,None,United States,None,None,None,None,None,None,None,None,None,None,None
4,None,Internet software & services,None,None,Australia,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198610,\n Olajide Semi...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198611,\n Kaidi Klein\...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198612,\n Liridon Resh...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198613,\n Margus L\xc3...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198614,\n Hannes Rosin...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [10]:
print(df[df.index == 1202]['name'])
print(df[df.index == 1202]['name'].values[0])

1202    Apple
Name: name, dtype: object
Apple

In [3]:
indexer = recordlinkage.Index()
indexer.block('name')
candidate_links = indexer.index(df_a, df_b)

print(candidate_links)

MultiIndex([(  1202,   1202),
            (  1202,   7104),
            (  1202,   8099),
            (  1202,  16099),
            (  1202,  23192),
            (  1202,  25046),
            (  1202,  40045),
            (  1202,  49100),
            (  1202,  59782),
            (  1202,  67005),
            ...
            (198603, 198603),
            (198605, 198605),
            (198606, 198606),
            (198607, 198607),
            (198608, 198608),
            (198609, 198609),
            (198610, 198610),
            (198611, 198611),
            (198612, 198612),
            (198613, 198613)],
           length=916434)

In [4]:
set_no_copy = set()
for (c,b) in candidate_links:
    if (b,c) not in set_no_copy and (c != b):
        set_no_copy.add((c,b))

print(len(set_no_copy))

list_no_copy = list(set_no_copy)
# gli elementi delle coppie vengono distribuite su due liste parallele
list_0 = [x[0] for x in list_no_copy]
list_1 = [x[1] for x in list_no_copy]

362257

In [5]:
multi_index = pd.MultiIndex.from_arrays([list_0, list_1])

In [6]:
print(multi_index)

MultiIndex([( 16914,  53017),
            ( 96199, 150619),
            ( 48460, 141092),
            ( 76166, 186366),
            ( 25075, 101547),
            ( 55814, 105606),
            ( 91775, 157193),
            ( 20651, 123205),
            (119755, 139657),
            (101835, 186271),
            ...
            (151583, 162585),
            ( 90760, 167186),
            (160670, 171680),
            (124224, 188318),
            (186715, 186771),
            (  1322,   8235),
            ( 87684, 178903),
            ( 24107,  84941),
            (  5010,  13297),
            ( 20528,  79822)],
           length=362257)

# Dataset Unlabeled

In [7]:
df_unlabel = pd.DataFrame(columns=['label','left_id', 'left_name' , 'left_industry', 'left_market_cap', 'left_employees', 'left_country', 'left_headquarters', 'left_address', 'left_sector', 'left_ceo', 'left_founded', 'left_founders', 'left_share_price', 'left_website', 'left_stock', 'left_area_served', 'left_revenue', 'right_id','right_name' , 'right_industry', 'right_market_cap', 'right_employees', 'right_country', 'right_headquarters', 'right_address', 'right_sector', 'right_ceo', 'right_founded', 'right_founders', 'right_share_price', 'right_website', 'right_stock', 'right_area_served', 'right_revenue'])

for i,j in multi_index:
    df_unlabel.loc[len(df_unlabel.index)] = ([0, i, df[df.index == i]['name'].values[0] , df[df.index == i]['industry'].values[0], df[df.index == i]['market_cap'].values[0], df[df.index == i]['employees'].values[0], df[df.index == i]['country'].values[0], df[df.index == i]['headquarters'].values[0], df[df.index == i]['address'].values[0], df[df.index == i]['sector'].values[0], df[df.index == i]['ceo'].values[0], df[df.index == i]['founded'].values[0], df[df.index == i]['founders'].values[0], df[df.index == i]['share_price'].values[0], df[df.index == i]['website'].values[0], df[df.index == i]['stock'].values[0], df[df.index == i]['area_served'].values[0], df[df.index == i]['revenue'].values[0], j, df[df.index == j]['name'].values[0], df[df.index == j]['industry'].values[0], df[df.index == j]['market_cap'].values[0], df[df.index == j]['employees'].values[0], df[df.index == j]['country'].values[0], df[df.index == j]['headquarters'].values[0], df[df.index == j]['address'].values[0], df[df.index == j]['sector'].values[0], df[df.index == j]['ceo'].values[0], df[df.index == j]['founded'].values[0], df[df.index == j]['founders'].values[0], df[df.index == j]['share_price'].values[0], df[df.index == j]['website'].values[0], df[df.index == j]['stock'].values[0], df[df.index == j]['area_served'].values[0], df[df.index == j]['revenue'].values[0]])

In [17]:
#rimuovi colonna label
# df_unlabel = df_unlabel.drop(['label'], axis = 1)

# Ottieni la lista delle colonne
cols = df_unlabel.columns.tolist()

# Sposta la 19esima colonna (colonna 'col19') alla terza posizione
cols.insert(1, cols.pop(cols.index('right_id')))

# Riordina il DataFrame utilizzando la nuova lista di colonne
df_unlabel = df_unlabel.reindex(columns=cols)

In [18]:
# Crea un nuovo attributo "id" come indice numerico progressivo
df_unlabel['_id'] = range(1, len(df_unlabel) + 1)
df_unlabel = df_unlabel.reset_index(drop=True)
# Imposta la colonna "id" come prima colonna
cols = df_unlabel.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_unlabel = df_unlabel[cols]

In [19]:
display(df_unlabel)

,_id,left_id,right_id,left_name,left_industry,left_market_cap,left_employees,left_country,left_headquarters,left_address,...,right_address,right_sector,right_ceo,right_founded,right_founders,right_share_price,right_website,right_stock,right_area_served,right_revenue
0,1,16914,53017,Foot Locker,None,$3.62 B,None,USA,None,None,...,None,None,None,None,None,None,https://www.footlocker-inc.com/,None,None,"8,958 Million USD"
1,2,96199,150619,LS CORP,None,None,,None,South Korea,None,...,None,None,Not found,Not found,None,None,None,None,None,Not found
2,3,48460,141092,"American International Group, Inc.",Insurance—Diversified,$54.31 B,None,United States,None,None,...,None,financials,None,None,None,None,None,AIG,None,None
3,4,76166,186366,Aon,None,None,None,UK,None,None,...,None,None,None,None,None,$317.17,None,None,None,$12.42 B
4,5,25075,101547,Morgan Stanley,None,$150.95 B,None,United States,None,None,...,None,None,None,None,None,$91.66,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362252,362253,1322,8235,Keyence,None,$102.68 B,None,Japan,None,None,...,None,None,None,None,None,$413.49,None,6861.T,None,None
362253,362254,87684,178903,RELX,None,None,33500,None,UK,None,...,None,None,Erik Engstrom,1993.0,None,None,None,None,None,None
362254,362255,24107,84941,Marathon Oil Corporation,None,$19.54 Billion,"1,531",None,Houston,None,...,None,Energy,None,None,None,None,None,MRO,None,None
362255,362256,5010,13297,Newegg,None,$0.66 B,None,USA,None,None,...,None,None,None,None,None,$1.57,None,NEGG,None,None
362256,362257,20528,79822,Tamarack Valley Energy,None,$1.88 B,None,Canada,None,None,...,None,None,None,None,None,None,None,None,None,None

In [20]:
df_unlabel.to_csv('output_match/df_unlabel.csv')

# Unione di df_match e df_no_match e suddivisione in train, test, validation per Deepmatcher

In [26]:
df_match = pd.read_csv('output_match/df_match.csv')
df_no_match = pd.read_csv('output_match/df_no_match.csv')
df_match = df_match.sample(len(df_no_match))

df_match = df_match.drop(['Unnamed: 0'], axis = 1)
df_no_match = df_no_match.drop(['Unnamed: 0'], axis = 1)

C:\Users\andre\AppData\Local\Temp\ipykernel_19332\1655444761.py:1: DtypeWarning: Columns (6,8,9,11,12,14,16,25,26,31,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_match = pd.read_csv('output_match/df_match.csv')
C:\Users\andre\AppData\Local\Temp\ipykernel_19332\1655444761.py:2: DtypeWarning: Columns (4,6,8,10,11,12,16,21,23,25,27,28,29,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_no_match = pd.read_csv('output_match/df_no_match.csv')

In [29]:
df_union = pd.concat([df_match, df_no_match], ignore_index=True)
# display(df_union)

In [32]:
df_train = df_union.sample(7000)
df_test = df_union.sample(2300)
df_validation = df_union.sample(2300)

# Crea un nuovo attributo "id" come indice numerico progressivo per TRAIN SET
df_train['id'] = range(1, len(df_train) + 1)
df_train = df_train.reset_index(drop=True)
# Imposta la colonna "id" come prima colonna
cols = df_train.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_train = df_train[cols]

# Crea un nuovo attributo "id" come indice numerico progressivo per TEST SET
df_test['id'] = range(1, len(df_test) + 1)
df_test = df_test.reset_index(drop=True)
# Imposta la colonna "id" come prima colonna
cols = df_test.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_test = df_test[cols]

# Crea un nuovo attributo "id" come indice numerico progressivo per VALIDATION SET
df_validation['id'] = range(1, len(df_validation) + 1)
df_validation = df_validation.reset_index(drop=True)
# Imposta la colonna "id" come prima colonna
cols = df_validation.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_validation = df_validation[cols]


display(df_train)
display(df_test)
display(df_validation)

,id,label,left_id,left_name,left_industry,left_market_cap,left_employees,left_country,left_headquarters,left_address,...,right_address,right_sector,right_ceo,right_founded,right_founders,right_share_price,right_website,right_stock,right_area_served,right_revenue
0,1,0,2907,Riley Permian,NaN,$0.69 B,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$9.27,NaN,NaN,NaN,NaN
1,2,1,10060,Bid Corp,NaN,$6.47 B,NaN,South Africa,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,69100,NtechLab,NaN,NaN,44,Cyprus,NaN,NaN,...,NaN,Technology,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0,15344,Boston Scientific Corporation,Medical Devices,$63.08 B,NaN,United States,NaN,NaN,...,NaN,Industrials,NaN,NaN,NaN,NaN,NaN,FDX,NaN,NaN
4,5,1,4854,System1,NaN,$0.54 B,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$4.90,NaN,SST,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,0,15844,FUJIFILM Holdings Corp,Business Equipment & Supplies,$24.12 B,NaN,Japan,NaN,NaN,...,NaN,Healthcare,NaN,NaN,NaN,NaN,NaN,FRE,NaN,NaN
6996,6997,0,22129,ENEOS Holdings,NaN,$9.95 B,NaN,Japan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$178.56,NaN,NaN,NaN,NaN
6997,6998,1,6490,Xerox,NaN,$2.64 B,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$17.01,NaN,NaN,NaN,NaN
6998,6999,0,9607,Synnex,NaN,$9.53 B,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$84.40,NaN,HLE.F,NaN,NaN
6999,7000,1,5791,Perimeter Solutions,NaN,$1.44 B,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,id,label,left_id,left_name,left_industry,left_market_cap,left_employees,left_country,left_headquarters,left_address,...,right_address,right_sector,right_ceo,right_founded,right_founders,right_share_price,right_website,right_stock,right_area_served,right_revenue
0,1,0,20874,Acerinox,NaN,$2.56 B,NaN,Spain,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$11.93,NaN,NaN,NaN,NaN
1,2,1,148206,XENIA HOTELS & RESORTS,"Real Estate, Hotels, Consumer Services, Resor...",NaN,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,0,19247,Greenlam Industries,NaN,$0.50 B,NaN,India,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$12.51,NaN,NaN,NaN,NaN
3,4,1,4450,Telos,NaN,$0.32 B,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$5.12,NaN,NaN,NaN,NaN
4,5,0,7511,Schweppes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2295,2296,0,1671,Sun Hung Kai Properties,NaN,$34.86 B,NaN,Hong Kong,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$55.56,NaN,NaN,NaN,NaN
2296,2297,0,15304,Wal-Mart de Mexico SAB de CV,Discount Stores,$71.96 B,NaN,Mexico,NaN,NaN,...,NaN,Basic Materials,NaN,NaN,NaN,NaN,NaN,FCX,NaN,NaN
2297,2298,1,2061,Straumann,NaN,$18.80 B,NaN,Switzerland,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$128.67,NaN,NaN,NaN,NaN
2298,2299,1,11217,TUI,NaN,$2.96 B,NaN,Germany,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$2.36,NaN,NaN,NaN,NaN
2299,2300,0,18684,RGC Resources,NaN,$0.21 B,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$5.56,NaN,NaN,NaN,NaN

,id,label,left_id,left_name,left_industry,left_market_cap,left_employees,left_country,left_headquarters,left_address,...,right_address,right_sector,right_ceo,right_founded,right_founders,right_share_price,right_website,right_stock,right_area_served,right_revenue
0,1,0,9220,Almarai,NaN,$14.04 B,NaN,S. Arabia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$0.13,NaN,ENELAM.SN,NaN,NaN
1,2,1,9811,Nissin Foods,NaN,$7.85 B,NaN,Japan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$77.65,NaN,NaN,NaN,NaN
2,3,1,148916,NTG NORDIC TRANSPORT GROUP A/S,"Industries, Logistics",NaN,NaN,Denmark,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0,3383,Direct Digital Holdings,NaN,$13.59 M,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$3.63,NaN,NaN,NaN,NaN
4,5,0,23971,Baoshan Iron & Steel Co. Ltd,NaN,CN¥150.07 Billion,"47,710",NaN,Shanghai,NaN,...,NaN,NaN,Mr. James M. Loree,1843,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2295,2296,1,69445,Scherer,NaN,NaN,4,Germany,NaN,NaN,...,NaN,Support Services,NaN,2016,NaN,NaN,NaN,NaN,NaN,NaN
2296,2297,1,9627,Zalando,NaN,$9.31 B,NaN,Germany,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2297,2298,0,19567,Repay Holdings,NaN,$0.74 B,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,$18.46,NaN,NaN,NaN,NaN
2298,2299,1,15655,"Cellnex Telecom, SA",Telecom Services,$32.32 B,NaN,Spain,NaN,NaN,...,NaN,Communication Services,Mr. Tobias Martinez Gimeno,NaN,NaN,NaN,NaN,CLNX,NaN,NaN
2299,2300,1,144891,OWL ROCK CAPITAL CORPORATION,"Financial Services, Provides Loans",NaN,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df_train.to_csv('output_match/df_train.csv')
df_test.to_csv('output_match/df_test.csv')
df_validation.to_csv('output_match/df_validation.csv')

# Record Linkage con DeepMatcher

In [3]:
%pip install torchtext==0.10.0

Note: you may need to restart the kernel to use updated packages.Collecting torchtext==0.10.0
  Downloading torchtext-0.10.0-cp39-cp39-win_amd64.whl (1.4 MB)
Collecting torch==1.9.0
  Downloading torch-1.9.0-cp39-cp39-win_amd64.whl (222.0 MB)
Requirement already satisfied: tqdm in c:\users\andre\anaconda3\lib\site-packages (from torchtext==0.10.0) (4.62.3)
Requirement already satisfied: numpy in c:\users\andre\anaconda3\lib\site-packages (from torchtext==0.10.0) (1.22.4)
Requirement already satisfied: requests in c:\users\andre\anaconda3\lib\site-packages (from torchtext==0.10.0) (2.26.0)
Requirement already satisfied: typing-extensions in c:\users\andre\anaconda3\lib\site-packages (from torch==1.9.0->torchtext==0.10.0) (4.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\andre\anaconda3\lib\site-packages (from requests->torchtext==0.10.0) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\andre\anaconda3\lib\site-packages (from requests->torchtext==0.10.0) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\andre\anaconda3\lib\site-packages (from requests->torchtext==0.10.0) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\andre\anaconda3\lib\site-packages (from requests->torchtext==0.10.0) (2.0.4)
Requirement already satisfied: colorama in c:\users\andre\appdata\roaming\python\python39\site-packages (from tqdm->torchtext==0.10.0) (0.4.6)
Installing collected packages: torch, torchtext
  Attempting uninstall: torch
    Found existing installation: torch 1.13.1
    Uninstalling torch-1.13.1:
      Successfully uninstalled torch-1.13.1

ERROR: Could not install packages due to an OSError: [WinError 5] Accesso negato: 'C:\\Users\\andre\\anaconda3\\Lib\\site-packages\\~orch\\lib\\asmjit.dll'
Consider using the `--user` option or check the permissions.

In [2]:
%pip install torch torchvision torchaudio

Requirement already satisfied: torch in c:\users\andre\anaconda3\lib\site-packages (1.13.1)
Requirement already satisfied: torchvision in c:\users\andre\anaconda3\lib\site-packages (0.14.1)
Requirement already satisfied: torchaudio in c:\users\andre\anaconda3\lib\site-packages (0.13.1)
Requirement already satisfied: typing-extensions in c:\users\andre\anaconda3\lib\site-packages (from torch) (4.4.0)
Requirement already satisfied: requests in c:\users\andre\anaconda3\lib\site-packages (from torchvision) (2.26.0)
Requirement already satisfied: numpy in c:\users\andre\anaconda3\lib\site-packages (from torchvision) (1.22.4)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in c:\users\andre\anaconda3\lib\site-packages (from torchvision) (8.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\andre\anaconda3\lib\site-packages (from requests->torchvision) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\andre\anaconda3\lib\site-packages (from requests->torchvision) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\andre\anaconda3\lib\site-packages (from requests->torchvision) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\andre\anaconda3\lib\site-packages (from requests->torchvision) (2021.10.8)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install deepmatcher

Collecting deepmatcher
  Using cached deepmatcher-0.1.2.post2.tar.gz (50 kB)
Requirement already satisfied: torch>=1.0 in c:\users\andre\anaconda3\lib\site-packages (from deepmatcher) (1.13.1)
Requirement already satisfied: tqdm in c:\users\andre\anaconda3\lib\site-packages (from deepmatcher) (4.62.3)
Collecting pyprind
  Downloading PyPrind-2.11.3-py2.py3-none-any.whl (8.4 kB)
Requirement already satisfied: six in c:\users\andre\appdata\roaming\python\python39\site-packages (from deepmatcher) (1.16.0)
Requirement already satisfied: Cython in c:\users\andre\anaconda3\lib\site-packages (from deepmatcher) (0.29.24)
Collecting torchtext>=0.9
  Downloading torchtext-0.14.1-cp39-cp39-win_amd64.whl (1.9 MB)
Requirement already satisfied: nltk>=3.2.5 in c:\users\andre\anaconda3\lib\site-packages (from deepmatcher) (3.6.5)
Collecting fasttext
  Downloading fasttext-0.9.2.tar.gz (68 kB)
Requirement already satisfied: pandas in c:\users\andre\anaconda3\lib\site-packages (from deepmatcher) (1.3.4)
Requirement already satisfied: dill in c:\users\andre\anaconda3\lib\site-packages (from deepmatcher) (0.3.5.1)
Requirement already satisfied: scikit-learn in c:\users\andre\anaconda3\lib\site-packages (from deepmatcher) (0.24.2)
Requirement already satisfied: click in c:\users\andre\anaconda3\lib\site-packages (from nltk>=3.2.5->deepmatcher) (8.0.3)
Requirement already satisfied: joblib in c:\users\andre\anaconda3\lib\site-packages (from nltk>=3.2.5->deepmatcher) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\andre\anaconda3\lib\site-packages (from nltk>=3.2.5->deepmatcher) (2021.8.3)
Requirement already satisfied: typing-extensions in c:\users\andre\anaconda3\lib\site-packages (from torch>=1.0->deepmatcher) (4.4.0)
Requirement already satisfied: requests in c:\users\andre\anaconda3\lib\site-packages (from torchtext>=0.9->deepmatcher) (2.26.0)
Requirement already satisfied: numpy in c:\users\andre\anaconda3\lib\site-packages (from torchtext>=0.9->deepmatcher) (1.22.4)
Requirement already satisfied: colorama in c:\users\andre\appdata\roaming\python\python39\site-packages (from click->nltk>=3.2.5->deepmatcher) (0.4.6)
Collecting pybind11>=2.2
  Using cached pybind11-2.10.3-py3-none-any.whl (222 kB)
Requirement already satisfied: setuptools>=0.7.0 in c:\users\andre\anaconda3\lib\site-packages (from fasttext->deepmatcher) (58.0.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\andre\anaconda3\lib\site-packages (from pandas->deepmatcher) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\andre\appdata\roaming\python\python39\site-packages (from pandas->deepmatcher) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\andre\anaconda3\lib\site-packages (from requests->torchtext>=0.9->deepmatcher) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\andre\anaconda3\lib\site-packages (from requests->torchtext>=0.9->deepmatcher) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\andre\anaconda3\lib\site-packages (from requests->torchtext>=0.9->deepmatcher) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\andre\anaconda3\lib\site-packages (from requests->torchtext>=0.9->deepmatcher) (1.26.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\andre\anaconda3\lib\site-packages (from scikit-learn->deepmatcher) (2.2.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\andre\anaconda3\lib\site-packages (from scikit-learn->deepmatcher) (1.7.1)
Building wheels for collected packages: deepmatcher, fasttext
  Building wheel for deepmatcher (setup.py): started
  Building wheel for deepmatcher (setup.py): finished with status 'done'
  Created wheel for deepmatcher: filename=deepmatcher-0.1.2.post2-py2.py3-none-any.whl size=54218 sha256=5037d88e60df6562148758a2d9bec50b054860230e0ac60e68a55e3d9c6bc087
  Stored in directory: c:\users\andre\appdata\local\pip\cache\wheels\8b\1e\ff\051a4994e08e3910d089f9401ae02663a2bb79360c38fc1936
  Building wheel for fasttext (setup.py): started
  Building wheel for fasttext (setup.py): finished with status 'done'
  Created wheel for fasttext: filename=fasttext-0.9.2-cp39-cp39-win_amd64.whl size=240767 sha256=5e7e4ecef4f7e8f2629b1d18367a9ebbb061b1b7e21af356627e71969eba2184
  Stored in directory: c:\users\andre\appdata\local\pip\cache\wheels\64\57\bc\1741406019061d5664914b070bd3e71f6244648732bc96109e
Successfully built deepmatcher fasttext
Installing collected packages: pybind11, torchtext, pyprind, fasttext, deepmatcher
Successfully installed deepmatcher-0.1.2.post2 fasttext-0.9.2 pybind11-2.10.3 pyprind-2.11.3 torchtext-0.14.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import deepmatcher as dm
train, validation, test = dm.data.process(path='output_match',
    train='df_train.csv', validation='df_validation.csv', test='df_test.csv')

ModuleNotFoundError: No module named 'torchtext.legacy'

In [ ]:
model = dm.MatchingModel()

In [ ]:
model.run_train(train, validation, best_save_path='best_model.pth')

In [ ]:
model.run_eval(test)

unlabeled = dm.data.process_unlabeled(path='data_directory/unlabeled.csv', trained_model=model)
model.run_prediction(unlabeled)