In [2]:
%pip install recordlinkage

Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: jellyfish is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

Collecting recordlinkage
  Downloading recordlinkage-0.15-py3-none-any.whl (926 kB)
     ---------------------------------------- 0.0/926.5 kB ? eta -:--:--
     --- ----------------------------------- 81.9/926.5 kB 2.2 MB/s eta 0:00:01
     ------- ------------------------------ 194.6/926.5 kB 2.3 MB/s eta 0:00:01
     ------------ ------------------------- 307.2/926.5 kB 2.1 MB/s eta 0:00:01
     ---------------- --------------------- 409.6/926.5 kB 2.3 MB/s eta 0:00:01
     --------------------- ---------------- 522.2/926.5 kB 2.2 MB/s eta 0:00:01
     ------------------------- ------------ 624.6/926.5 kB 2.2 MB/s eta 0:00:01
     ----------------------------- -------- 727.0/926.5 kB 2.3 MB/s eta 0:00:01
     ---------------------------------- --- 829.4/926.5 kB 2.3 MB/s eta 0:00:01
     -------------------------------------  921.6/926.5 kB 2.2 MB/s eta 0:00:01
     -------------------------------------- 926.5/926.5 kB 2.1 MB/s eta 0:00:00
Collecting jellyfish>=0.8.0
  Downloading jellyfish-0.9.0.tar.gz (132 kB)
     ---------------------------------------- 0.0/132.6 kB ? eta -:--:--
     -------------------------------- ----- 112.6/132.6 kB 2.2 MB/s eta 0:00:01
     -------------------------------------- 132.6/132.6 kB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy>=1.13.0 in c:\python311\lib\site-packages (from recordlinkage) (1.24.2)
Collecting pandas<2,>=1
  Using cached pandas-1.5.3-cp311-cp311-win_amd64.whl (10.3 MB)
Collecting scipy>=1
  Using cached scipy-1.10.0-cp311-cp311-win_amd64.whl (42.2 MB)
Collecting scikit-learn>=0.19.0
  Downloading scikit_learn-1.2.1-cp311-cp311-win_amd64.whl (8.2 MB)
     ---------------------------------------- 0.0/8.2 MB ? eta -:--:--
     ---------------------------------------- 0.1/8.2 MB 1.1 MB/s eta 0:00:08
      --------------------------------------- 0.2/8.2 MB 2.4 MB/s eta 0:00:04
     - -------------------------------------- 0.3/8.2 MB 2.2 MB/s eta 0:00:04
     - -------------------------------------- 0.4/8.2 MB 2.2 MB/s eta 0:00:04
     -- ------------------------------------- 0.5/8.2 MB 2.3 MB/s eta 0:00:04
     -- ------------------------------------- 0.6/8.2 MB 2.3 MB/s eta 0:00:04
     --- ------------------------------------ 0.7/8.2 MB 2.2 MB/s eta 0:00:04
     --- ------------------------------------ 0.8/8.2 MB 2.2 MB/s eta 0:00:04
     ---- ----------------------------------- 0.9/8.2 MB 2.2 MB/s eta 0:00:04
     ---- ----------------------------------- 1.0/8.2 MB 2.2 MB/s eta 0:00:04
     ----- ---------------------------------- 1.1/8.2 MB 2.2 MB/s eta 0:00:04
     ----- ---------------------------------- 1.2/8.2 MB 2.2 MB/s eta 0:00:04
     ------ --------------------------------- 1.4/8.2 MB 2.3 MB/s eta 0:00:04
     ------ --------------------------------- 1.4/8.2 MB 2.2 MB/s eta 0:00:04
     ------- -------------------------------- 1.5/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.7/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.8/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.9/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.9/8.2 MB 2.2 MB/s eta 0:00:03
     --------- ------------------------------ 2.0/8.2 MB 2.2 MB/s eta 0:00:03
     ---------- ----------------------------- 2.2/8.2 MB 2.2 MB/s eta 0:00:03
     ---------- ----------------------------- 2.3/8.2 MB 2.2 MB/s eta 0:00:03
     ----------- ---------------------------- 2.4/8.2 MB 2.2 MB/s eta 0:00:03
     ----------- ---------------------------- 2.5/8.2 MB 2.2 MB/s eta 0:00:03
     ------------ --------------------------- 2.6/8.2 MB 2.2 MB/s eta 0:00:03
     ------------- -------------------------- 2.7/8.2 MB 2.2 MB/s eta 0:00:03
     ------------- -------------------------- 2.8/8.2 MB 2.2 MB/s eta 0:00:03
     -------------- ------------------------- 2.9/8.2 MB 2.2 MB/s eta 0:00:03
     -------------- ------------------------- 3.0/8.2 MB 2.2 MB/s eta 0:00:03
     --------------- ------------------------ 3.1/8.2 MB 2.2 MB/s eta 0:00:03
     --------------- ------------------------ 3.2/8.2 MB 2.2 MB/s eta 0:00:03
     ---------------- ----------------------- 3.3/8.2 MB 2.2 MB/s eta 0:00:03
     ---------------- ----------------------- 3.4/8.2 MB 2.2 MB/s eta 0:00:03
     ----------------- ---------------------- 3.5/8.2 MB 2.2 MB/s eta 0:00:03
     ----------------- ---------------------- 3.6/8.2 MB 2.2 MB/s eta 0:00:03
     ------------------ --------------------- 3.7/8.2 MB 2.2 MB/s eta 0:00:03
     ------------------ --------------------- 3.8/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------- -------------------- 3.9/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------- -------------------- 4.0/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------- ------------------- 4.1/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------- ------------------- 4.3/8.2 MB 2.2 MB/s eta 0:00:02
     --------------------- ------------------ 4.4/8.2 MB 2.2 MB/s eta 0:00:02
     --------------------- ------------------ 4.5/8.2 MB 2.2 MB/s eta 0:00:02
     ---------------------- ----------------- 4.6/8.2 MB 2.2 MB/s eta 0:00:02
     ---------------------- ----------------- 4.7/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------- ---------------- 4.8/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------- ---------------- 4.9/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------------ --------------- 5.0/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------------ --------------- 5.1/8.2 MB 2.3 MB/s eta 0:00:02
     ------------------------- -------------- 5.2/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------------- -------------- 5.3/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------------- ------------- 5.4/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------------- ------------- 5.5/8.2 MB 2.3 MB/s eta 0:00:02
     --------------------------- ------------ 5.6/8.2 MB 2.2 MB/s eta 0:00:02
     --------------------------- ------------ 5.8/8.2 MB 2.2 MB/s eta 0:00:02
     ---------------------------- ----------- 5.8/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------------- ---------- 6.0/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------------- ---------- 6.1/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------ --------- 6.2/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------ --------- 6.3/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------- -------- 6.4/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------- -------- 6.5/8.2 MB 2.2 MB/s eta 0:00:01
     -------------------------------- ------- 6.6/8.2 MB 2.3 MB/s eta 0:00:01
     -------------------------------- ------- 6.7/8.2 MB 2.2 MB/s eta 0:00:01
     --------------------------------- ------ 6.8/8.2 MB 2.3 MB/s eta 0:00:01
     --------------------------------- ------ 6.9/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------- ----- 7.0/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------- ----- 7.1/8.2 MB 2.2 MB/s eta 0:00:01
     ----------------------------------- ---- 7.2/8.2 MB 2.2 MB/s eta 0:00:01
     ----------------------------------- ---- 7.3/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------------ --- 7.5/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------------ --- 7.6/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------------- -- 7.7/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------------- -- 7.8/8.2 MB 2.3 MB/s eta 0:00:01
     -------------------------------------- - 7.9/8.2 MB 2.3 MB/s eta 0:00:01
     -------------------------------------- - 8.0/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------------  8.1/8.2 MB 2.3 MB/s eta 0:00:01
     ---------------------------------------  8.2/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------------  8.2/8.2 MB 2.3 MB/s eta 0:00:01
     ---------------------------------------- 8.2/8.2 MB 2.2 MB/s eta 0:00:00
Collecting joblib
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\andre\appdata\roaming\python\python311\site-packages (from pandas<2,>=1->recordlinkage) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas<2,>=1->recordlinkage) (2022.7.1)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: six>=1.5 in c:\users\andre\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas<2,>=1->recordlinkage) (1.16.0)
Installing collected packages: threadpoolctl, scipy, joblib, jellyfish, scikit-learn, pandas, recordlinkage
  Running setup.py install for jellyfish: started
  Running setup.py install for jellyfish: finished with status 'done'
Successfully installed jellyfish-0.9.0 joblib-1.2.0 pandas-1.5.3 recordlinkage-0.15 scikit-learn-1.2.1 scipy-1.10.0 threadpoolctl-3.1.0

# Record linkage con Python Record Linkage Toolkit

In [35]:
import recordlinkage
import pandas as pd

In [36]:
def getCompleteDataset():
    df = pd.read_json('output_alignment_multithread_finalpass/schema_mediato.json')

    df = df[df.name.isnull() == False]

    df['name'] = df['name'].replace(r'\s+|\\n|\\r', ' ', regex=True)
    df['name'] = df['name'].str.upper()
    df['industry'] = df['industry'].str.upper()
    df['country'] = df['country'].str.upper()
    df['headquarters'] = df['headquarters'].str.upper()
    df['address'] = df['address'].str.upper()
    df['sector'] = df['sector'].str.upper()
    df['ceo'] = df['ceo'].str.upper()
    df['founders'] = df['founders'].str.upper()
    df['area_served'] = df['area_served'].str.upper()

    return df

df=getCompleteDataset()
# half_size = int(len(df)/2)
# df_a = df.iloc[:half_size,:]
# df_b = df.iloc[half_size:,:]

df_a = df
df_b = df

display(df_a)
display(df_b)

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
1202,APPLE,None,$2.351 T,None,USA,None,None,None,None,None,None,$147.81,None,None,None,None
1203,BRISTOL-MYERS SQUIBB,None,$172.49 B,None,USA,None,None,None,None,None,None,$81.13,None,None,None,None
1204,WELLS FARGO,None,$175.05 B,None,USA,None,None,None,None,None,None,$45.94,None,None,None,None
1205,NIKE,None,$175.54 B,None,USA,None,None,None,None,None,None,$112.20,None,None,None,None
1206,WALT DISNEY,None,$177.08 B,None,USA,None,None,None,None,None,None,$99.43,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198610,OLAJIDE SEMIU AKINTOLA,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198611,KAIDI KLEIN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198612,LIRIDON RESHANI,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198613,MARGUS L\XC3\XB5HMUS,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198614,HANNES ROSIN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
1202,APPLE,None,$2.351 T,None,USA,None,None,None,None,None,None,$147.81,None,None,None,None
1203,BRISTOL-MYERS SQUIBB,None,$172.49 B,None,USA,None,None,None,None,None,None,$81.13,None,None,None,None
1204,WELLS FARGO,None,$175.05 B,None,USA,None,None,None,None,None,None,$45.94,None,None,None,None
1205,NIKE,None,$175.54 B,None,USA,None,None,None,None,None,None,$112.20,None,None,None,None
1206,WALT DISNEY,None,$177.08 B,None,USA,None,None,None,None,None,None,$99.43,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198610,OLAJIDE SEMIU AKINTOLA,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198611,KAIDI KLEIN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198612,LIRIDON RESHANI,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198613,MARGUS L\XC3\XB5HMUS,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198614,HANNES ROSIN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [37]:
indexer = recordlinkage.Index()
indexer.block('name')
candidate_links = indexer.index(df_a, df_b)

print(candidate_links)

MultiIndex([(  1202,   1202),
            (  1202,   7104),
            (  1202,   8099),
            (  1202,  16099),
            (  1202,  23192),
            (  1202,  25046),
            (  1202,  40045),
            (  1202,  49100),
            (  1202,  59782),
            (  1202,  67005),
            ...
            (198562, 198562),
            (198563, 198563),
            (198570, 198570),
            (198571, 198571),
            (198574, 198574),
            (198576, 198576),
            (198581, 198581),
            (198583, 198583),
            (198586, 198586),
            (198591, 198591)],
           length=1311840)

In [38]:
set_no_copy = set()
for (c,b) in candidate_links:
    if (b,c) not in set_no_copy and (c != b):
        set_no_copy.add((c,b))

print(len(set_no_copy))

list_no_copy = list(set_no_copy)
# gli elementi delle coppie vengono distribuite su due liste parallele
list_0 = [x[0] for x in list_no_copy]
list_1 = [x[1] for x in list_no_copy]

559960

In [39]:
multi_index = pd.MultiIndex.from_arrays([list_0, list_1])

In [40]:
compare = recordlinkage.Compare()

compare.string('name', 'name', method='jarowinkler', threshold=0.7)
# compare.string('industry', 'industry', method='jarowinkler', threshold=0.85)
compare.string('country', 'country', method='jarowinkler', threshold=0.5, missing_value=1)
compare.string('headquarters', 'country', method='jarowinkler', threshold=0.5, missing_value=1)
# compare.string('country', 'headquarters', method='jarowinkler', threshold=0.5)
# compare.string('headquarters', 'headquarters', method='jarowinkler', threshold=0.5)


# compare.string('headquarters', 'headquarters', method='jarowinkler', threshold=0.85)
# compare.string('ceo', 'ceo', method='jarowinkler', threshold=0.85)
# compare.string('sector', 'sector', method='jarowinkler', threshold=0.85)

# The comparison vectors
compare_vectors = compare.compute(candidate_links, df_a, df_b)
print(compare_vectors)
type(compare_vectors)

                 0    1    2
1202   1202    1.0  1.0  1.0
       7104    1.0  1.0  1.0
       8099    1.0  1.0  1.0
       16099   1.0  1.0  1.0
       23192   1.0  1.0  1.0
...            ...  ...  ...
198576 198576  1.0  1.0  1.0
198581 198581  1.0  1.0  1.0
198583 198583  1.0  1.0  1.0
198586 198586  1.0  1.0  1.0
198591 198591  1.0  1.0  1.0

[1311840 rows x 3 columns]

pandas.core.frame.DataFrame

In [41]:
compare_vectors = compare_vectors[compare_vectors.index.isin(multi_index)]
display(compare_vectors)

                 0    1    2
1202   7104    1.0  1.0  1.0
       8099    1.0  1.0  1.0
       16099   1.0  1.0  1.0
       23192   1.0  1.0  1.0
       25046   1.0  0.0  1.0
...            ...  ...  ...
198175 198254  1.0  1.0  1.0
198244 198247  1.0  1.0  1.0
198440 198450  1.0  1.0  1.0
       198451  1.0  1.0  1.0
198450 198451  1.0  1.0  1.0

[559960 rows x 3 columns]

In [42]:
ecm = recordlinkage.ECMClassifier()
matches = ecm.fit_predict(compare_vectors)

# Creazione di un dizionario con chiave che corrispondono a record relativi ad una entità e come valore una lista di entità che corrispondono a quella relativa alla chiave associata

In [43]:
dict_matches_global = {}
keyToIgnore = set()
for k, v in matches:
    if k in keyToIgnore:
        continue
    elif k in dict_matches_global.keys():
        dict_matches_global[k].append(v)
        keyToIgnore.add(v)
    else :
        dict_matches_global[k] = [v]
        keyToIgnore.add(v)

In [44]:
import json
with open('dict_matches.txt', 'w') as file:
     file.write(json.dumps(dict_matches_global))

In [45]:
df = getCompleteDataset()

In [ ]:
df_integrato_matches = pd.DataFrame(columns=['name' , 'industry', 'market_cap', 'employees', 'country', 'headquarters', 'address', 'sector', 'ceo', 'founded', 'founders', 'share_price', 'website', 'stock', 'area_served', 'revenue'])

i = 0

for k in dict_matches_global.keys():
    row = df[df.index == k]
    for v in dict_matches_global[k]:
        for field in row:
            if(row[field].isnull().values.any()):
                if(not df[df.index == v][field].isnull().values.any()):
                    row.at[k, field] = df[df.index==v][field].values[0]
    df_integrato_matches.loc[len(df_integrato_matches.index)]=row.values[0]

In [ ]:
df_integrato_matches.to_csv('output_integration/matches_collapsed.csv', index=False)

# Seconda passata di matching
#### criteri: matching 1:1 su name

In [ ]:
import recordlinkage

df_collapsed_prima = pd.read_csv('output_integration/matches_collapsed.csv')

df_collapsed_prima['name'] = df_collapsed_prima['name'].replace(r'\.', '', regex=True)

df_collapsed_prima_a = df_collapsed_prima
df_collapsed_prima_b = df_collapsed_prima

In [ ]:
indexer = recordlinkage.Index()
indexer.block('name')
candidate_links = indexer.index(df_collapsed_prima_a, df_collapsed_prima_b)

In [ ]:
set_no_copy = set()
for (c,b) in candidate_links:
    if (b,c) not in set_no_copy and (c != b):
        set_no_copy.add((c,b))

print(len(set_no_copy))

list_no_copy = list(set_no_copy)
# gli elementi delle coppie vengono distribuite su due liste parallele
list_0 = [x[0] for x in list_no_copy]
list_1 = [x[1] for x in list_no_copy]

multi_index = pd.MultiIndex.from_arrays([list_0, list_1])

1039

In [ ]:
compare = recordlinkage.Compare()

compare.string('name', 'name', method='jarowinkler', threshold=1)
# workaround
compare.string('country', 'country', method='jarowinkler', threshold=0)

# The comparison vectors
compare_vectors = compare.compute(candidate_links, df_collapsed_prima_a, df_collapsed_prima_b)

compare_vectors[compare_vectors.index.isin(multi_index)]

               0    1
0     1      1.0  1.0
3     4      1.0  1.0
5     6      1.0  1.0
7     8      1.0  1.0
9     10     1.0  1.0
...          ...  ...
13079 13080  1.0  1.0
13081 13082  1.0  1.0
13083 13084  1.0  1.0
13085 13086  1.0  1.0
22114 22115  1.0  1.0

[1039 rows x 2 columns]

In [ ]:
compare_vectors = compare_vectors[compare_vectors.index.isin(multi_index)]
ecm = recordlinkage.ECMClassifier()
matches = ecm.fit_predict(compare_vectors)

matches

MultiIndex([(    0,     1),
            (    3,     4),
            (    5,     6),
            (    7,     8),
            (    9,    10),
            (   12,    13),
            (   16,    17),
            (   21,    22),
            (   23,    24),
            (   25,    26),
            ...
            (13061, 13062),
            (13063, 13064),
            (13065, 13066),
            (13075, 13076),
            (13077, 13078),
            (13079, 13080),
            (13081, 13082),
            (13083, 13084),
            (13085, 13086),
            (22114, 22115)],
           length=1026)

In [ ]:
dict_matches = {}
keyToIgnore = set()
for k, v in matches:
    if k in keyToIgnore:
        continue
    elif k in dict_matches.keys():
        dict_matches[k].append(v)
        keyToIgnore.add(v)
    else :
        dict_matches[k] = [v]
        keyToIgnore.add(v)

In [ ]:
df_integrato_matches2 = pd.DataFrame(columns=['name' , 'industry', 'market_cap', 'employees', 'country', 'headquarters', 'address', 'sector', 'ceo', 'founded', 'founders', 'share_price', 'website', 'stock', 'area_served', 'revenue'])
indexesToDelete = []
i = 0

for k in dict_matches.keys():
    indexesToDelete.append(k)
    row = df_collapsed_prima[df_collapsed_prima.index == k]
    for v in dict_matches[k]:
        indexesToDelete.append(v)
        for field in row:
            if(row[field].isnull().values.any()):
                if(not df_collapsed_prima[df_collapsed_prima.index == v][field].isnull().values.any()):
                    row.at[k, field] = df_collapsed_prima[df_collapsed_prima.index==v][field].values[0]
    df_integrato_matches2.loc[len(df_integrato_matches2.index)]=row.values[0]
df_integrato_clean = df_collapsed_prima.drop(indexesToDelete)
df_integrato_matches2 = pd.concat([df_integrato_clean, df_integrato_matches2], ignore_index=True)

In [ ]:
len(df_integrato_matches2)

26730

In [ ]:
df_integrato_matches2.to_csv('output_integration/matches_collapsed.csv', index=False)

# Passo finale integration

### eliminazione righe 'doppione'
### concatenazione dataframe integrato dei match

In [ ]:
df = getCompleteDataset()

In [ ]:
indexesToDelete = []
for k, vs in dict_matches_global.items():
    indexesToDelete.append(k)
    indexesToDelete += vs

len(indexesToDelete)

148170

In [ ]:
print(len(df))
df_clean = df.drop(indexesToDelete)
print(len(df_clean))

191920
45610

In [ ]:
df_final = pd.concat([df_clean, df_integrato_matches2], ignore_index=True)
len(df_final)

72339

In [ ]:
df_final.to_csv('output_integration/final_plt.csv', index=False)

In [47]:
def removechars(x):
    if type(x) == 'str': 
        return x.rstrip()
    else:
        return x

In [34]:
df_names = pd.DataFrame(df_final['name'].values)
df_names.to_csv('solonomi.csv', index=False)

# Creazione Dataset con coppie di record che sono in match

In [16]:
import csv
import time

start = time.time()

df_match = pd.DataFrame(columns=['label','left_id', 'left_name' , 'left_industry', 'left_market_cap', 'left_employees', 'left_country', 'left_headquarters', 'left_address', 'left_sector', 'left_ceo', 'left_founded', 'left_founders', 'left_share_price', 'left_website', 'left_stock', 'left_area_served', 'left_revenue', 'right_id','right_name' , 'right_industry', 'right_market_cap', 'right_employees', 'right_country', 'right_headquarters', 'right_address', 'right_sector', 'right_ceo', 'right_founded', 'right_founders', 'right_share_price', 'right_website', 'right_stock', 'right_area_served', 'right_revenue'])
for k in dict_matches.keys():
    for v in dict_matches[k]:
        df_match.loc[len(df_match.index)] = ([1, k, df[df.index == k]['name'].values[0] , df[df.index == k]['industry'].values[0], df[df.index == k]['market_cap'].values[0], df[df.index == k]['employees'].values[0], df[df.index == k]['country'].values[0], df[df.index == k]['headquarters'].values[0], df[df.index == k]['address'].values[0], df[df.index == k]['sector'].values[0], df[df.index == k]['ceo'].values[0], df[df.index == k]['founded'].values[0], df[df.index == k]['founders'].values[0], df[df.index == k]['share_price'].values[0], df[df.index == k]['website'].values[0], df[df.index == k]['stock'].values[0], df[df.index == k]['area_served'].values[0], df[df.index == k]['revenue'].values[0], v, df[df.index == v]['name'].values[0], df[df.index == v]['industry'].values[0], df[df.index == v]['market_cap'].values[0], df[df.index == v]['employees'].values[0], df[df.index == v]['country'].values[0], df[df.index == v]['headquarters'].values[0], df[df.index == v]['address'].values[0], df[df.index == v]['sector'].values[0], df[df.index == v]['ceo'].values[0], df[df.index == v]['founded'].values[0], df[df.index == v]['founders'].values[0], df[df.index == v]['share_price'].values[0], df[df.index == v]['website'].values[0], df[df.index == v]['stock'].values[0], df[df.index == v]['area_served'].values[0], df[df.index == v]['revenue'].values[0]])
end = time.time()
print("The time of execution of above program is :", (end-start) * 10**3, "ms")

The time of execution of above program is : 17507378.231287003 ms

In [17]:
df_match.to_csv('output_match/df_match.csv')

# Creazione Dataset con coppie di record che NON sono in match

In [20]:
candidate_links

MultiIndex([(  1202,   1202),
            (  1202,   7104),
            (  1202,   8099),
            (  1202,  16099),
            (  1202,  23192),
            (  1202,  25046),
            (  1202,  40045),
            (  1202,  49100),
            (  1202,  59782),
            (  1202,  67005),
            ...
            (198603, 198603),
            (198605, 198605),
            (198606, 198606),
            (198607, 198607),
            (198608, 198608),
            (198609, 198609),
            (198610, 198610),
            (198611, 198611),
            (198612, 198612),
            (198613, 198613)],
           length=916434)

In [35]:
lista_indici_nomi_null = df[df.name.isnull() == True].index
df = df.drop(lista_indici_nomi_null)
display(df)

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
1202,Apple,None,$2.351 T,None,USA,None,None,None,None,None,None,$147.81,None,None,None,None
1203,Bristol-myers Squibb,None,$172.49 B,None,USA,None,None,None,None,None,None,$81.13,None,None,None,None
1204,Wells Fargo,None,$175.05 B,None,USA,None,None,None,None,None,None,$45.94,None,None,None,None
1205,Nike,None,$175.54 B,None,USA,None,None,None,None,None,None,$112.20,None,None,None,None
1206,Walt Disney,None,$177.08 B,None,USA,None,None,None,None,None,None,$99.43,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198610,\n Olajide Semi...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198611,\n Kaidi Klein\...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198612,\n Liridon Resh...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198613,\n Margus L\xc3...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198614,\n Hannes Rosin...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [60]:
stop = 0
df_no_match = pd.DataFrame(columns=['label','left_id', 'left_name' , 'left_industry', 'left_market_cap', 'left_employees', 'left_country', 'left_headquarters', 'left_address', 'left_sector', 'left_ceo', 'left_founded', 'left_founders', 'left_share_price', 'left_website', 'left_stock', 'left_area_served', 'left_revenue', 'right_id','right_name' , 'right_industry', 'right_market_cap', 'right_employees', 'right_country', 'right_headquarters', 'right_address', 'right_sector', 'right_ceo', 'right_founded', 'right_founders', 'right_share_price', 'right_website', 'right_stock', 'right_area_served', 'right_revenue'])

for k,v in zip(df.index, df.index):
    try:
        k = k + 1
        if (k, v) not in candidate_links:
            df_no_match.loc[len(df_no_match.index)] = ([0, k, df[df.index == k]['name'].values[0] , df[df.index == k]['industry'].values[0], df[df.index == k]['market_cap'].values[0], df[df.index == k]['employees'].values[0], df[df.index == k]['country'].values[0], df[df.index == k]['headquarters'].values[0], df[df.index == k]['address'].values[0], df[df.index == k]['sector'].values[0], df[df.index == k]['ceo'].values[0], df[df.index == k]['founded'].values[0], df[df.index == k]['founders'].values[0], df[df.index == k]['share_price'].values[0], df[df.index == k]['website'].values[0], df[df.index == k]['stock'].values[0], df[df.index == k]['area_served'].values[0], df[df.index == k]['revenue'].values[0], v, df[df.index == v]['name'].values[0], df[df.index == v]['industry'].values[0], df[df.index == v]['market_cap'].values[0], df[df.index == v]['employees'].values[0], df[df.index == v]['country'].values[0], df[df.index == v]['headquarters'].values[0], df[df.index == v]['address'].values[0], df[df.index == v]['sector'].values[0], df[df.index == v]['ceo'].values[0], df[df.index == v]['founded'].values[0], df[df.index == v]['founders'].values[0], df[df.index == v]['share_price'].values[0], df[df.index == v]['website'].values[0], df[df.index == v]['stock'].values[0], df[df.index == v]['area_served'].values[0], df[df.index == v]['revenue'].values[0]])
            # print("i: " + str(k) + ", j: " + str(v))
        if stop >= 60000:
            break
        stop = stop + 1
    except:
        break

In [62]:
display(df_no_match.left_name, df_no_match.right_name)

0              Bristol-myers Squibb
1                       Wells Fargo
2                              Nike
3                       Walt Disney
4               Abbott Laboratories
                    ...
22984      Asahi Group Holdings Ltd
22985    Haitong Securities Co. Ltd
22986                Catalent, Inc.
22987         Quanta Services, Inc.
22988                 Ubiquiti Inc.
Name: left_name, Length: 22989, dtype: object

0                             Apple
1              Bristol-myers Squibb
2                       Wells Fargo
3                              Nike
4                       Walt Disney
                    ...
22984     Capitec Bank Holdings Ltd
22985      Asahi Group Holdings Ltd
22986    Haitong Securities Co. Ltd
22987                Catalent, Inc.
22988         Quanta Services, Inc.
Name: right_name, Length: 22989, dtype: object

In [61]:
df_no_match.to_csv('output_match/df_no_match.csv')

# Dataset Unlabeled

In [ ]:
df_unlabel = pd.DataFrame(columns=['label','left_id', 'left_name' , 'left_industry', 'left_market_cap', 'left_employees', 'left_country', 'left_headquarters', 'left_address', 'left_sector', 'left_ceo', 'left_founded', 'left_founders', 'left_share_price', 'left_website', 'left_stock', 'left_area_served', 'left_revenue', 'right_id','right_name' , 'right_industry', 'right_market_cap', 'right_employees', 'right_country', 'right_headquarters', 'right_address', 'right_sector', 'right_ceo', 'right_founded', 'right_founders', 'right_share_price', 'right_website', 'right_stock', 'right_area_served', 'right_revenue'])

for i,j in multi_index:
    df_unlabel.loc[len(df_unlabel.index)] = ([0, i, df[df.index == i]['name'].values[0] , df[df.index == i]['industry'].values[0], df[df.index == i]['market_cap'].values[0], df[df.index == i]['employees'].values[0], df[df.index == i]['country'].values[0], df[df.index == i]['headquarters'].values[0], df[df.index == i]['address'].values[0], df[df.index == i]['sector'].values[0], df[df.index == i]['ceo'].values[0], df[df.index == i]['founded'].values[0], df[df.index == i]['founders'].values[0], df[df.index == i]['share_price'].values[0], df[df.index == i]['website'].values[0], df[df.index == i]['stock'].values[0], df[df.index == i]['area_served'].values[0], df[df.index == i]['revenue'].values[0], j, df[df.index == j]['name'].values[0], df[df.index == j]['industry'].values[0], df[df.index == j]['market_cap'].values[0], df[df.index == j]['employees'].values[0], df[df.index == j]['country'].values[0], df[df.index == j]['headquarters'].values[0], df[df.index == j]['address'].values[0], df[df.index == j]['sector'].values[0], df[df.index == j]['ceo'].values[0], df[df.index == j]['founded'].values[0], df[df.index == j]['founders'].values[0], df[df.index == j]['share_price'].values[0], df[df.index == j]['website'].values[0], df[df.index == j]['stock'].values[0], df[df.index == j]['area_served'].values[0], df[df.index == j]['revenue'].values[0]])

In [ ]:
df_unlabel.to_csv('output_match/df_unlabel.csv')

# Unione di df_match e df_no_match e suddivisione in train, test, validation per Deepmatcher

In [ ]:
df_match = pd.read_csv('output_match/df_match.csv')
df_no_match = pd.read_csv('output_match/df_no_match.csv')
df_union = pd.concat([df_match, df_no_match], ignore_index=True)

In [ ]:
df_train = df_union.sample(7000)
df_test = df_union.sample(2300)
df_validation = df_union.sample(2300)

In [ ]:
df_train.to_csv('output_match/df_train.csv')
df_test.to_csv('output_match/df_test.csv')
df_validation.to_csv('output_match/df_validation.csv')

# Record Linkage con DeepMatcher

In [ ]:
import deepmatcher as dm
train, validation, test = dm.data.process(path='data_directory',
    train='train.csv', validation='validation.csv', test='test.csv')

In [ ]:
model = dm.MatchingModel()

In [ ]:
model.run_train(train, validation, best_save_path='best_model.pth')

In [ ]:
model.run_eval(test)

unlabeled = dm.data.process_unlabeled(path='data_directory/unlabeled.csv', trained_model=model)
model.run_prediction(unlabeled)