In [2]:
%pip install recordlinkage

Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: jellyfish is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

Collecting recordlinkage
  Downloading recordlinkage-0.15-py3-none-any.whl (926 kB)
     ---------------------------------------- 0.0/926.5 kB ? eta -:--:--
     --- ----------------------------------- 81.9/926.5 kB 2.2 MB/s eta 0:00:01
     ------- ------------------------------ 194.6/926.5 kB 2.3 MB/s eta 0:00:01
     ------------ ------------------------- 307.2/926.5 kB 2.1 MB/s eta 0:00:01
     ---------------- --------------------- 409.6/926.5 kB 2.3 MB/s eta 0:00:01
     --------------------- ---------------- 522.2/926.5 kB 2.2 MB/s eta 0:00:01
     ------------------------- ------------ 624.6/926.5 kB 2.2 MB/s eta 0:00:01
     ----------------------------- -------- 727.0/926.5 kB 2.3 MB/s eta 0:00:01
     ---------------------------------- --- 829.4/926.5 kB 2.3 MB/s eta 0:00:01
     -------------------------------------  921.6/926.5 kB 2.2 MB/s eta 0:00:01
     -------------------------------------- 926.5/926.5 kB 2.1 MB/s eta 0:00:00
Collecting jellyfish>=0.8.0
  Downloading jellyfish-0.9.0.tar.gz (132 kB)
     ---------------------------------------- 0.0/132.6 kB ? eta -:--:--
     -------------------------------- ----- 112.6/132.6 kB 2.2 MB/s eta 0:00:01
     -------------------------------------- 132.6/132.6 kB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy>=1.13.0 in c:\python311\lib\site-packages (from recordlinkage) (1.24.2)
Collecting pandas<2,>=1
  Using cached pandas-1.5.3-cp311-cp311-win_amd64.whl (10.3 MB)
Collecting scipy>=1
  Using cached scipy-1.10.0-cp311-cp311-win_amd64.whl (42.2 MB)
Collecting scikit-learn>=0.19.0
  Downloading scikit_learn-1.2.1-cp311-cp311-win_amd64.whl (8.2 MB)
     ---------------------------------------- 0.0/8.2 MB ? eta -:--:--
     ---------------------------------------- 0.1/8.2 MB 1.1 MB/s eta 0:00:08
      --------------------------------------- 0.2/8.2 MB 2.4 MB/s eta 0:00:04
     - -------------------------------------- 0.3/8.2 MB 2.2 MB/s eta 0:00:04
     - -------------------------------------- 0.4/8.2 MB 2.2 MB/s eta 0:00:04
     -- ------------------------------------- 0.5/8.2 MB 2.3 MB/s eta 0:00:04
     -- ------------------------------------- 0.6/8.2 MB 2.3 MB/s eta 0:00:04
     --- ------------------------------------ 0.7/8.2 MB 2.2 MB/s eta 0:00:04
     --- ------------------------------------ 0.8/8.2 MB 2.2 MB/s eta 0:00:04
     ---- ----------------------------------- 0.9/8.2 MB 2.2 MB/s eta 0:00:04
     ---- ----------------------------------- 1.0/8.2 MB 2.2 MB/s eta 0:00:04
     ----- ---------------------------------- 1.1/8.2 MB 2.2 MB/s eta 0:00:04
     ----- ---------------------------------- 1.2/8.2 MB 2.2 MB/s eta 0:00:04
     ------ --------------------------------- 1.4/8.2 MB 2.3 MB/s eta 0:00:04
     ------ --------------------------------- 1.4/8.2 MB 2.2 MB/s eta 0:00:04
     ------- -------------------------------- 1.5/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.7/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.8/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.9/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.9/8.2 MB 2.2 MB/s eta 0:00:03
     --------- ------------------------------ 2.0/8.2 MB 2.2 MB/s eta 0:00:03
     ---------- ----------------------------- 2.2/8.2 MB 2.2 MB/s eta 0:00:03
     ---------- ----------------------------- 2.3/8.2 MB 2.2 MB/s eta 0:00:03
     ----------- ---------------------------- 2.4/8.2 MB 2.2 MB/s eta 0:00:03
     ----------- ---------------------------- 2.5/8.2 MB 2.2 MB/s eta 0:00:03
     ------------ --------------------------- 2.6/8.2 MB 2.2 MB/s eta 0:00:03
     ------------- -------------------------- 2.7/8.2 MB 2.2 MB/s eta 0:00:03
     ------------- -------------------------- 2.8/8.2 MB 2.2 MB/s eta 0:00:03
     -------------- ------------------------- 2.9/8.2 MB 2.2 MB/s eta 0:00:03
     -------------- ------------------------- 3.0/8.2 MB 2.2 MB/s eta 0:00:03
     --------------- ------------------------ 3.1/8.2 MB 2.2 MB/s eta 0:00:03
     --------------- ------------------------ 3.2/8.2 MB 2.2 MB/s eta 0:00:03
     ---------------- ----------------------- 3.3/8.2 MB 2.2 MB/s eta 0:00:03
     ---------------- ----------------------- 3.4/8.2 MB 2.2 MB/s eta 0:00:03
     ----------------- ---------------------- 3.5/8.2 MB 2.2 MB/s eta 0:00:03
     ----------------- ---------------------- 3.6/8.2 MB 2.2 MB/s eta 0:00:03
     ------------------ --------------------- 3.7/8.2 MB 2.2 MB/s eta 0:00:03
     ------------------ --------------------- 3.8/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------- -------------------- 3.9/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------- -------------------- 4.0/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------- ------------------- 4.1/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------- ------------------- 4.3/8.2 MB 2.2 MB/s eta 0:00:02
     --------------------- ------------------ 4.4/8.2 MB 2.2 MB/s eta 0:00:02
     --------------------- ------------------ 4.5/8.2 MB 2.2 MB/s eta 0:00:02
     ---------------------- ----------------- 4.6/8.2 MB 2.2 MB/s eta 0:00:02
     ---------------------- ----------------- 4.7/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------- ---------------- 4.8/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------- ---------------- 4.9/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------------ --------------- 5.0/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------------ --------------- 5.1/8.2 MB 2.3 MB/s eta 0:00:02
     ------------------------- -------------- 5.2/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------------- -------------- 5.3/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------------- ------------- 5.4/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------------- ------------- 5.5/8.2 MB 2.3 MB/s eta 0:00:02
     --------------------------- ------------ 5.6/8.2 MB 2.2 MB/s eta 0:00:02
     --------------------------- ------------ 5.8/8.2 MB 2.2 MB/s eta 0:00:02
     ---------------------------- ----------- 5.8/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------------- ---------- 6.0/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------------- ---------- 6.1/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------ --------- 6.2/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------ --------- 6.3/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------- -------- 6.4/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------- -------- 6.5/8.2 MB 2.2 MB/s eta 0:00:01
     -------------------------------- ------- 6.6/8.2 MB 2.3 MB/s eta 0:00:01
     -------------------------------- ------- 6.7/8.2 MB 2.2 MB/s eta 0:00:01
     --------------------------------- ------ 6.8/8.2 MB 2.3 MB/s eta 0:00:01
     --------------------------------- ------ 6.9/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------- ----- 7.0/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------- ----- 7.1/8.2 MB 2.2 MB/s eta 0:00:01
     ----------------------------------- ---- 7.2/8.2 MB 2.2 MB/s eta 0:00:01
     ----------------------------------- ---- 7.3/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------------ --- 7.5/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------------ --- 7.6/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------------- -- 7.7/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------------- -- 7.8/8.2 MB 2.3 MB/s eta 0:00:01
     -------------------------------------- - 7.9/8.2 MB 2.3 MB/s eta 0:00:01
     -------------------------------------- - 8.0/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------------  8.1/8.2 MB 2.3 MB/s eta 0:00:01
     ---------------------------------------  8.2/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------------  8.2/8.2 MB 2.3 MB/s eta 0:00:01
     ---------------------------------------- 8.2/8.2 MB 2.2 MB/s eta 0:00:00
Collecting joblib
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\andre\appdata\roaming\python\python311\site-packages (from pandas<2,>=1->recordlinkage) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas<2,>=1->recordlinkage) (2022.7.1)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: six>=1.5 in c:\users\andre\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas<2,>=1->recordlinkage) (1.16.0)
Installing collected packages: threadpoolctl, scipy, joblib, jellyfish, scikit-learn, pandas, recordlinkage
  Running setup.py install for jellyfish: started
  Running setup.py install for jellyfish: finished with status 'done'
Successfully installed jellyfish-0.9.0 joblib-1.2.0 pandas-1.5.3 recordlinkage-0.15 scikit-learn-1.2.1 scipy-1.10.0 threadpoolctl-3.1.0

# Record linkage con Python Record Linkage Toolkit

In [52]:
import recordlinkage
import pandas as pd

In [190]:
def getCompleteDataset():
    df = pd.read_json('output_alignment_multithread_finalpass/schema_mediato.json')

    df = df[df.name.isnull() == False]

    df['name'] = df['name'].replace(r'\s+|\\n|\\r', ' ', regex=True)
    df['name'] = df['name'].str.upper()
    df['industry'] = df['industry'].str.upper()
    df['country'] = df['country'].str.upper()
    df['headquarters'] = df['headquarters'].str.upper()
    df['address'] = df['address'].str.upper()
    df['sector'] = df['sector'].str.upper()
    df['ceo'] = df['ceo'].str.upper()
    df['founders'] = df['founders'].str.upper()
    df['area_served'] = df['area_served'].str.upper()

    return df

df=getCompleteDataset()
# half_size = int(len(df)/2)
# df_a = df.iloc[:half_size,:]
# df_b = df.iloc[half_size:,:]

df_a = df
df_b = df

display(df_a)
display(df_b)

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
1202,APPLE,None,$2.351 T,None,USA,None,None,None,None,None,None,$147.81,None,None,None,None
1203,BRISTOL-MYERS SQUIBB,None,$172.49 B,None,USA,None,None,None,None,None,None,$81.13,None,None,None,None
1204,WELLS FARGO,None,$175.05 B,None,USA,None,None,None,None,None,None,$45.94,None,None,None,None
1205,NIKE,None,$175.54 B,None,USA,None,None,None,None,None,None,$112.20,None,None,None,None
1206,WALT DISNEY,None,$177.08 B,None,USA,None,None,None,None,None,None,$99.43,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198610,OLAJIDE SEMIU AKINTOLA,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198611,KAIDI KLEIN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198612,LIRIDON RESHANI,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198613,MARGUS L\XC3\XB5HMUS,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198614,HANNES ROSIN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
1202,APPLE,None,$2.351 T,None,USA,None,None,None,None,None,None,$147.81,None,None,None,None
1203,BRISTOL-MYERS SQUIBB,None,$172.49 B,None,USA,None,None,None,None,None,None,$81.13,None,None,None,None
1204,WELLS FARGO,None,$175.05 B,None,USA,None,None,None,None,None,None,$45.94,None,None,None,None
1205,NIKE,None,$175.54 B,None,USA,None,None,None,None,None,None,$112.20,None,None,None,None
1206,WALT DISNEY,None,$177.08 B,None,USA,None,None,None,None,None,None,$99.43,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198610,OLAJIDE SEMIU AKINTOLA,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198611,KAIDI KLEIN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198612,LIRIDON RESHANI,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198613,MARGUS L\XC3\XB5HMUS,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198614,HANNES ROSIN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [191]:
indexer = recordlinkage.Index()
indexer.block('name')
candidate_links = indexer.index(df_a, df_b)

print(candidate_links)

MultiIndex([(  1202,   1202),
            (  1202,   7104),
            (  1202,   8099),
            (  1202,  16099),
            (  1202,  23192),
            (  1202,  25046),
            (  1202,  40045),
            (  1202,  49100),
            (  1202,  59782),
            (  1202,  67005),
            ...
            (198562, 198562),
            (198563, 198563),
            (198570, 198570),
            (198571, 198571),
            (198574, 198574),
            (198576, 198576),
            (198581, 198581),
            (198583, 198583),
            (198586, 198586),
            (198591, 198591)],
           length=1311840)

In [192]:
set_no_copy = set()
for (c,b) in candidate_links:
    if (b,c) not in set_no_copy and (c != b):
        set_no_copy.add((c,b))

print(len(set_no_copy))

list_no_copy = list(set_no_copy)
# gli elementi delle coppie vengono distribuite su due liste parallele
list_0 = [x[0] for x in list_no_copy]
list_1 = [x[1] for x in list_no_copy]

559960

In [193]:
multi_index = pd.MultiIndex.from_arrays([list_0, list_1])

In [135]:
print(multi_index)

MultiIndex([( 16914,  53017),
            ( 96199, 150619),
            ( 48460, 141092),
            ( 76166, 186366),
            ( 25075, 101547),
            ( 25282,  88062),
            (175279, 175762),
            ( 55814, 105606),
            ( 91775, 157193),
            (  1446,  87683),
            ...
            ( 87684, 178903),
            (123124, 147060),
            (123027, 166375),
            (  2349, 165395),
            ( 49905, 179379),
            ( 81850, 107399),
            ( 53404, 146073),
            ( 21510, 174981),
            ( 20528,  79822),
            ( 88433, 102618)],
           length=559960)

In [194]:
compare = recordlinkage.Compare()

compare.string('name', 'name', method='jarowinkler', threshold=0.7)
# compare.string('industry', 'industry', method='jarowinkler', threshold=0.85)
compare.string('country', 'country', method='jarowinkler', threshold=0.5, missing_value=1)
compare.string('headquarters', 'country', method='jarowinkler', threshold=0.5, missing_value=1)
# compare.string('country', 'headquarters', method='jarowinkler', threshold=0.5)
# compare.string('headquarters', 'headquarters', method='jarowinkler', threshold=0.5)


# compare.string('headquarters', 'headquarters', method='jarowinkler', threshold=0.85)
# compare.string('ceo', 'ceo', method='jarowinkler', threshold=0.85)
# compare.string('sector', 'sector', method='jarowinkler', threshold=0.85)

# The comparison vectors
compare_vectors = compare.compute(candidate_links, df_a, df_b)
print(compare_vectors)
type(compare_vectors)

                 0    1    2
1202   1202    1.0  1.0  1.0
       7104    1.0  1.0  1.0
       8099    1.0  1.0  1.0
       16099   1.0  1.0  1.0
       23192   1.0  1.0  1.0
...            ...  ...  ...
198576 198576  1.0  1.0  1.0
198581 198581  1.0  1.0  1.0
198583 198583  1.0  1.0  1.0
198586 198586  1.0  1.0  1.0
198591 198591  1.0  1.0  1.0

[1311840 rows x 3 columns]

pandas.core.frame.DataFrame

In [195]:
compare_vectors = compare_vectors[compare_vectors.index.isin(multi_index)]
display(compare_vectors)

                 0    1    2
1202   7104    1.0  1.0  1.0
       8099    1.0  1.0  1.0
       16099   1.0  1.0  1.0
       23192   1.0  1.0  1.0
       25046   1.0  0.0  1.0
...            ...  ...  ...
198175 198254  1.0  1.0  1.0
198244 198247  1.0  1.0  1.0
198440 198450  1.0  1.0  1.0
       198451  1.0  1.0  1.0
198450 198451  1.0  1.0  1.0

[559960 rows x 3 columns]

In [196]:
ecm = recordlinkage.ECMClassifier()
matches = ecm.fit_predict(compare_vectors)

# Creazione di un dizionario con chiave che corrispondono a record relativi ad una entità e come valore una lista di entità che corrispondono a quella relativa alla chiave associata

In [197]:
dict_matches_global = {}
keyToIgnore = set()
for k, v in matches:
    if k in keyToIgnore:
        continue
    elif k in dict_matches_global.keys():
        dict_matches_global[k].append(v)
        keyToIgnore.add(v)
    else :
        dict_matches_global[k] = [v]
        keyToIgnore.add(v)

In [198]:
import json
with open('dict_matches.txt', 'w') as file:
     file.write(json.dumps(dict_matches_global))

In [199]:
df = getCompleteDataset()

In [200]:
df_integrato_matches = pd.DataFrame(columns=['name' , 'industry', 'market_cap', 'employees', 'country', 'headquarters', 'address', 'sector', 'ceo', 'founded', 'founders', 'share_price', 'website', 'stock', 'area_served', 'revenue'])

i = 0

for k in dict_matches_global.keys():
    row = df[df.index == k]
    for v in dict_matches_global[k]:
        for field in row:
            if(row[field].isnull().values.any()):
                if(not df[df.index == v][field].isnull().values.any()):
                    row.at[k, field] = df[df.index==v][field].values[0]
    df_integrato_matches.loc[len(df_integrato_matches.index)]=row.values[0]

In [ ]:
df_integrato_matches

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
0,APPLE,"SEMICONDUCTORS, ELECTRONICS, ELECTRICAL ENGINE...",$2.351 T,"100,000",USA,CUPERTINO,None,None,MR. TIMOTHY D. COOK,"April 1, 1976","STEVE JOBS, STEVE WOZNIAK, RONALD WAYNE",$147.81,https://www.apple.com/,AAPL,None,"394,330 Million USD"
1,APPLE,"SEMICONDUCTORS, ELECTRONICS, ELECTRICAL ENGINE...","$2,640.32 B","100,000",UNITED STATES,"CUPERTINO, CA, UNITED STATES",None,TECHNOLOGY,MR. TIMOTHY D. COOK,1976,"STEVE JOBS, STEVE WOZNIAK, RONALD WAYNE",None,https://www.apple.com/,None,None,"394,330 Million USD"
2,BRISTOL-MYERS SQUIBB,None,$172.49 B,None,USA,None,None,None,None,None,None,$81.13,None,BMY,None,None
3,WELLS FARGO,BANKING,$175.05 B,"247,848",USA,SANFRANCISCO,None,None,MR. CHARLES W. SCHARF,1929,None,$45.94,None,WFC,None,$84.1B
4,WELLS FARGO,BANKING,$176.77 B,"247,848",UNITED STATES,"SAN FRANCISCO, CA, UNITED STATES",None,FINANCIALS,MR. CHARLES W. SCHARF,1852,None,None,None,None,None,$84.1B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27728,FRED KREBETS,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
27729,TARMO PUNGER,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
27730,WATERGATE O\XC3\X9C,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
27731,OLEG OSSINOVSKI,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
27732,MART KAJARI,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [ ]:
df_integrato_matches.to_csv('output_integration/matches_collapsed22.csv', index=False)

# Seconda passata di matching
#### criteri: matching 1:1 su name

In [ ]:
import recordlinkage

df_collapsed_prima = pd.read_csv('output_integration/matches_collapsed22.csv')

df_collapsed_prima['name'] = df_collapsed_prima['name'].replace(r'.', ' ', regex=True)

df_collapsed_prima_a = df_collapsed_prima
df_collapsed_prima_b = df_collapsed_prima

In [ ]:
df_collapsed_prima

Empty DataFrame
Columns: [name, industry, market_cap, employees, country, headquarters, address, sector, ceo, founded, founders, share_price, website, stock, area_served, revenue]
Index: []

In [ ]:
indexer = recordlinkage.Index()
indexer.block('name')
candidate_links = indexer.index(df_collapsed_prima_a, df_collapsed_prima_b)

c:\Users\feder\anaconda3\envs\bert\lib\site-packages\recordlinkage\base.py:139: RuntimeWarning: invalid value encountered in long_scalars
  rr = 1 - n / n_max
c:\Users\feder\anaconda3\envs\bert\lib\site-packages\recordlinkage\base.py:155: RuntimeWarning: invalid value encountered in long_scalars
  rr_avg = 1 - n_total / n_max_total

In [ ]:
set_no_copy = set()
for (c,b) in candidate_links:
    if (b,c) not in set_no_copy and (c != b):
        set_no_copy.add((c,b))

print(len(set_no_copy))

list_no_copy = list(set_no_copy)
# gli elementi delle coppie vengono distribuite su due liste parallele
list_0 = [x[0] for x in list_no_copy]
list_1 = [x[1] for x in list_no_copy]

multi_index = pd.MultiIndex.from_arrays([list_0, list_1])

0

In [ ]:
compare = recordlinkage.Compare()

compare.string('name', 'name', method='jarowinkler', threshold=1)
# workaround
compare.string('country', 'country', method='jarowinkler', threshold=0)

# The comparison vectors
compare_vectors = compare.compute(candidate_links, df_collapsed_prima_a, df_collapsed_prima_b)

compare_vectors[compare_vectors.index.isin(multi_index)]

c:\Users\feder\anaconda3\envs\bert\lib\site-packages\recordlinkage\algorithms\string.py:36: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  conc = pandas.Series(list(zip(s1, s2)))

Empty DataFrame
Columns: [0, 1]
Index: []

In [ ]:
compare_vectors = compare_vectors[compare_vectors.index.isin(multi_index)]
ecm = recordlinkage.ECMClassifier()
matches = ecm.fit_predict(compare_vectors)

matches

MultiIndex([(    0,     1),
            (    3,     4),
            (    5,     6),
            (    7,     8),
            (    9,    10),
            (   12,    13),
            (   16,    17),
            (   21,    22),
            (   23,    24),
            (   25,    26),
            ...
            (13061, 13062),
            (13063, 13064),
            (13065, 13066),
            (13075, 13076),
            (13077, 13078),
            (13079, 13080),
            (13081, 13082),
            (13083, 13084),
            (13085, 13086),
            (22114, 22115)],
           length=1025)

In [150]:
df_collapsed_prima[df_collapsed_prima.name=='Apple']

Empty DataFrame
Columns: [name, industry, market_cap, employees, country, headquarters, address, sector, ceo, founded, founders, share_price, website, stock, area_served, revenue]
Index: []

In [ ]:
dict_matches = {}
keyToIgnore = set()
for k, v in matches:
    if k in keyToIgnore:
        continue
    elif k in dict_matches.keys():
        dict_matches[k].append(v)
        keyToIgnore.add(v)
    else :
        dict_matches[k] = [v]
        keyToIgnore.add(v)

In [152]:
dict_matches

{0: [1],
 3: [4],
 5: [6],
 7: [8],
 9: [10],
 12: [13],
 16: [17],
 21: [22],
 23: [24],
 25: [26],
 27: [28],
 29: [30],
 31: [32],
 34: [35],
 38: [39],
 40: [41],
 44: [45],
 46: [47],
 49: [50],
 54: [55],
 56: [57],
 58: [59],
 60: [61],
 62: [63],
 66: [67],
 68: [69],
 70: [71],
 74: [75],
 76: [77],
 78: [79],
 81: [82],
 83: [84],
 85: [86],
 91: [92],
 95: [96],
 100: [101],
 102: [103],
 106: [107],
 108: [109],
 111: [112],
 115: [116],
 117: [118],
 120: [121],
 122: [123],
 124: [125],
 128: [129],
 131: [132],
 134: [135],
 136: [137, 138],
 139: [140],
 141: [142],
 144: [145],
 146: [147],
 148: [149],
 150: [151],
 152: [153],
 155: [156],
 163: [164],
 165: [166],
 167: [168],
 172: [173],
 175: [176],
 179: [180],
 181: [182],
 183: [184],
 192: [193],
 194: [195],
 196: [197],
 198: [199],
 200: [201],
 203: [204],
 205: [206],
 207: [208],
 212: [213],
 216: [217],
 218: [219],
 222: [223],
 224: [225],
 226: [227],
 228: [229],
 230: [231],
 234: [235],
 236: [237],
 239: [240],
 247: [248, 249],
 250: [251, 252],
 255: [256],
 257: [258],
 259: [260],
 263: [264],
 267: [268],
 269: [270],
 274: [275],
 276: [277],
 278: [279],
 280: [281],
 286: [287],
 288: [289],
 293: [294],
 295: [296],
 300: [301],
 305: [306],
 307: [308],
 312: [313],
 315: [316],
 317: [318],
 320: [321],
 324: [325],
 326: [327],
 330: [331],
 334: [335],
 337: [338],
 343: [344],
 347: [348],
 349: [350, 351],
 354: [355, 356],
 357: [358],
 359: [360],
 364: [365],
 366: [367],
 370: [371],
 372: [373],
 375: [376],
 379: [380],
 383: [384],
 387: [388],
 389: [390],
 391: [392],
 394: [395],
 397: [398],
 399: [400],
 404: [405],
 408: [409],
 411: [412],
 413: [414],
 417: [418],
 419: [420],
 422: [423],
 424: [425],
 426: [427],
 428: [429],
 430: [431],
 436: [437],
 439: [440],
 446: [447],
 451: [452],
 456: [457],
 459: [460],
 462: [463],
 468: [469],
 474: [475],
 476: [477],
 478: [479],
 481: [482],
 483: [484],
 487: [488],
 492: [493],
 494: [495],
 510: [511],
 512: [513],
 516: [517],
 518: [519],
 525: [526],
 529: [530],
 531: [532],
 536: [537, 538],
 539: [540],
 543: [544],
 546: [547],
 551: [552],
 555: [556],
 557: [558],
 560: [561, 562],
 563: [564],
 566: [567],
 569: [570],
 572: [573],
 577: [578],
 579: [580],
 582: [583],
 586: [587],
 589: [590],
 594: [595],
 603: [604],
 605: [606],
 608: [609],
 618: [619],
 620: [621],
 624: [625],
 626: [627],
 638: [639],
 644: [645],
 646: [647],
 651: [652],
 655: [656],
 657: [658],
 660: [661],
 664: [665],
 666: [667],
 671: [672],
 674: [675],
 678: [679],
 680: [681],
 683: [684],
 685: [686],
 690: [691],
 698: [699],
 701: [702],
 705: [706],
 708: [709],
 711: [712],
 714: [715],
 722: [723],
 729: [730],
 736: [737],
 738: [739],
 747: [748],
 751: [752],
 753: [754],
 755: [756],
 761: [762],
 763: [764],
 765: [766],
 767: [768],
 769: [770],
 772: [773],
 774: [775],
 778: [779],
 783: [784],
 785: [786],
 788: [789],
 792: [793],
 794: [795],
 797: [798],
 802: [803],
 814: [815, 816],
 819: [820],
 826: [827],
 834: [835],
 838: [839],
 840: [841],
 843: [844],
 850: [851],
 852: [853],
 854: [855],
 856: [857],
 870: [871],
 872: [873],
 881: [882],
 884: [885],
 887: [888],
 889: [890],
 892: [893],
 895: [896],
 908: [909],
 911: [912],
 918: [919],
 922: [923],
 926: [927],
 928: [929],
 931: [932],
 933: [934],
 935: [936, 937],
 939: [940],
 947: [948],
 956: [957],
 959: [960],
 964: [965],
 976: [977],
 979: [980],
 981: [982],
 984: [985],
 986: [987],
 989: [990],
 991: [992],
 993: [994],
 997: [998],
 1003: [1004],
 1007: [1008],
 1013: [1014],
 1016: [1017],
 1022: [1023],
 1024: [1025],
 1039: [1040],
 1041: [1042, 1043],
 1045: [1046],
 1047: [1048],
 1051: [1052],
 1056: [1057, 1058],
 1059: [1060],
 1061: [1062],
 1064: [1065],
 1066: [1067],
 1068: [1069],
 1074: [1075],
 1076: [1077],
 1079: [1080],
 1081: [1082],
 1083: [1084],
 1086: [1087],
 1090: [1091],
 1100: [1101],
 1115: [1116],
 1117: [1118],
 1124: [1125],
 1135: [1136],
 1139: [1140],
 1152: [1153],
 1159: [1160],
 1162: [1163],
 1166: [1167],
 1172: [1173],
 1180: [1181],
 1185: [1186],
 1194: [1195],
 1201: [1202],
 1205: [1206],
 1209: [1210],
 1212: [1213],
 1222: [1223],
 1224: [1225],
 1227: [1228],
 1232: [1233],
 1234: [1235],
 1244: [1245],
 1255: [1256],
 1262: [1263],
 1264: [1265],
 1272: [1273],
 1280: [1281],
 1283: [1284],
 1285: [1286],
 1290: [1291],
 1295: [1296],
 1297: [1298],
 1305: [1306],
 1310: [1311],
 1313: [1314],
 1315: [1316],
 1319: [1320],
 1321: [1322],
 1323: [1324],
 1328: [1329, 1330],
 1331: [1332],
 1338: [1339],
 1340: [1341],
 1349: [1350],
 1354: [1355],
 1357: [1358],
 1364: [1365],
 1385: [1386],
 1391: [1392],
 1399: [1400],
 1401: [1402],
 1407: [1408],
 1415: [1416],
 1437: [1438],
 1443: [1444, 1445],
 1451: [1452],
 1465: [1466],
 1480: [1481],
 1488: [1489],
 1492: [1493],
 1501: [1502],
 1510: [1511],
 1517: [1518],
 1519: [1520],
 1521: [1522],
 1523: [1524],
 1529: [1530],
 1540: [1541],
 1544: [1545],
 1549: [1550],
 1556: [1557],
 1558: [1559],
 1600: [1601],
 1620: [1621],
 1625: [1626],
 1644: [1645],
 1646: [1647],
 1683: [1684],
 1691: [1692],
 1712: [1713],
 1717: [1718],
 1724: [1725],
 1727: [1728],
 1731: [1732],
 1776: [1777, 1778],
 1783: [1784],
 1800: [1801],
 1833: [1834],
 1837: [1838],
 1847: [1848],
 1875: [1876],
 1932: [1933],
 1955: [1956],
 1967: [1968],
 1972: [1973],
 2027: [2028],
 2032: [2033],
 2055: [2056],
 2064: [2065],
 2071: [2072],
 2080: [2081],
 2105: [2106],
 2120: [2121],
 2137: [2138],
 2173: [2174],
 2201: [2202],
 2213: [2214],
 2253: [2254],
 2280: [2281],
 2291: [2292],
 2309: [2310],
 2323: [2324],
 2785: [2786],
 2829: [2830],
 2916: [2917],
 2983: [2984],
 2991: [2992],
 3015: [3016],
 3023: [3024],
 3187: [3188],
 3190: [3191],
 3271: [3272],
 3301: [3302],
 3314: [3315],
 3325: [3326],
 3341: [3342],
 3355: [3356],
 3379: [3380],
 3383: [3384],
 3417: [3418],
 3459: [3460],
 3467: [3468],
 3473: [3474],
 3673: [3674],
 3682: [3683],
 3787: [3788],
 3832: [3833],
 3922: [3923],
 3955: [3956],
 4020: [4021],
 4033: [4034],
 4040: [4041],
 4060: [4061],
 4064: [4065],
 4095: [4096],
 4105: [4106],
 4113: [4114],
 4117: [4118],
 4142: [4143],
 4152: [4153],
 4155: [4156],
 4174: [4175],
 4215: [4216],
 4246: [4247],
 4252: [4253],
 4263: [4264],
 4276: [4277],
 4286: [4287],
 4294: [4295],
 4317: [4318],
 4357: [4358],
 4383: [4384],
 4388: [4389],
 4403: [4404],
 4413: [4414],
 4456: [4457],
 4464: [4465],
 4489: [4490],
 4495: [4496],
 4503: [4504],
 4514: [4515],
 4538: [4539],
 4545: [4546],
 4585: [4586],
 4666: [4667],
 4686: [4687],
 4701: [4702],
 4709: [4710],
 4712: [4713],
 4740: [4741],
 4758: [4759],
 4773: [4774],
 4820: [4821],
 4834: [4835],
 4875: [4876],
 4904: [4905],
 4928: [4929],
 4954: [4955],
 4963: [4964],
 4967: [4968],
 4982: [4983],
 4984: [4985],
 4991: [4992],
 5011: [5012],
 5048: [5049],
 5051: [5052],
 5119: [5120],
 5231: [5232],
 5258: [5259],
 5274: [5275],
 5283: [5284],
 5290: [5291],
 5315: [5316],
 5386: [5387],
 5400: [5401],
 5422: [5423],
 5426: [5427],
 5429: [5430],
 5446: [5447],
 5475: [5476],
 5494: [5495],
 5516: [5517],
 5541: [5542],
 5552: [5553],
 5556: [5557],
 5584: [5585],
 5586: [5587],
 5602: [5603],
 5605: [5606],
 5633: [5634],
 5640: [5641],
 5651: [5652],
 5667: [5668],
 5673: [5674],
 5692: [5693],
 5699: [5700],
 5706: [5707],
 5716: [5717],
 5720: [5721],
 5732: [5733],
 5744: [5745],
 5760: [5761],
 5803: [5804],
 5805: [5806],
 5807: [5808],
 5811: [5812],
 5813: [5814],
 5820: [5821],
 5857: [5858],
 5865: [5866],
 5868: [5869, 5870],
 5880: [5881],
 5887: [5888],
 5934: [5935],
 5955: [5956],
 5981: [5982],
 5985: [5986],
 6004: [6005],
 6022: [6023],
 6078: [6079],
 6081: [6082],
 6106: [6107],
 6129: [6130],
 6131: [6132],
 6143: [6144],
 6151: [6152],
 6165: [6166],
 6181: [6182],
 6191: [6192],
 6234: [6235],
 6245: [6246],
 6265: [6266],
 6280: [6281],
 6294: [6295],
 6303: [6304],
 6337: [6338],
 6388: [6389],
 6410: [6411],
 6416: [6417],
 6643: [6644],
 6646: [6647],
 6651: [6652],
 6657: [6658],
 6659: [6660],
 6670: [6671],
 6683: [6684],
 6685: [6686],
 6688: [6689],
 6697: [6698],
 6699: [6700],
 6701: [6702],
 6704: [6705],
 6706: [6707],
 6712: [6713],
 6726: [6727],
 6728: [6729],
 6731: [6732],
 6733: [6734],
 6735: [6736],
 6739: [6740],
 6742: [6743],
 6751: [6752],
 6760: [6761],
 6762: [6763],
 6776: [6777],
 6779: [6780],
 6782: [6783],
 6785: [6786],
 6789: [6790],
 6791: [6792],
 6796: [6797],
 6798: [6799],
 6801: [6802],
 6812: [6813],
 6814: [6815],
 6823: [6824],
 6829: [6830],
 6843: [6844],
 6845: [6846],
 6849: [6850],
 6857: [6858],
 6865: [6866],
 6869: [6870],
 6875: [6876],
 6877: [6878, 6879],
 6887: [6888],
 6889: [6890],
 6898: [6899],
 6900: [6901],
 6903: [6904],
 6907: [6908],
 6912: [6913],
 6917: [6918],
 6922: [6923],
 6930: [6931],
 6946: [6947],
 6957: [6958],
 6963: [6964],
 6969: [6970],
 6971: [6972, 6973],
 6983: [6984],
 6992: [6993],
 6994: [6995],
 7003: [7004],
 7010: [7011],
 7015: [7016],
 7022: [7023],
 7032: [7033],
 7056: [7057],
 7067: [7068],
 7077: [7078],
 7082: [7083],
 7086: [7087],
 7089: [7090],
 7096: [7097],
 7101: [7102],
 7109: [7110],
 7125: [7126, 7127],
 7147: [7148],
 7163: [7164],
 7170: [7171],
 7175: [7176],
 7181: [7182],
 7186: [7187],
 7191: [7192],
 7194: [7195, 7196],
 7202: [7203],
 7213: [7214],
 7225: [7226],
 7230: [7231],
 7234: [7235],
 7240: [7241],
 7242: [7243],
 7247: [7248],
 7249: [7250],
 7257: [7258],
 7261: [7262, 7263],
 7274: [7275],
 7280: [7281],
 7294: [7295, 7296],
 7298: [7299],
 7306: [7307],
 7322: [7323],
 7325: [7326],
 7327: [7328],
 7342: [7343],
 7348: [7349],
 7350: [7351],
 7356: [7357],
 7375: [7376],
 7384: [7385],
 7389: [7390],
 7426: [7427],
 7440: [7441],
 7444: [7445],
 7450: [7451],
 7459: [7460],
 7461: [7462],
 7480: [7481],
 7491: [7492],
 7496: [7497],
 7504: [7505],
 7510: [7511],
 7517: [7518],
 7521: [7522],
 7537: [7538],
 7541: [7542],
 7564: [7565],
 7579: [7580],
 7589: [7590],
 7595: [7596],
 7635: [7636],
 7641: [7642],
 7662: [7663],
 7664: [7665],
 7668: [7669],
 7671: [7672],
 7690: [7691],
 7697: [7698],
 7709: [7710],
 7728: [7729],
 7736: [7737],
 7751: [7752],
 7762: [7763],
 7776: [7777],
 7783: [7784],
 7788: [7789],
 7830: [7831],
 7835: [7836, 7837],
 7853: [7854],
 7857: [7858],
 7871: [7872],
 7891: [7892],
 7899: [7900],
 7915: [7916],
 7919: [7920],
 7923: [7924],
 7929: [7930],
 7953: [7954],
 7977: [7978],
 7982: [7983],
 7991: [7992],
 7996: [7997],
 8010: [8011],
 8025: [8026],
 8028: [8029],
 8042: [8043],
 8054: [8055],
 8056: [8057],
 8061: [8062],
 8081: [8082],
 8110: [8111],
 8112: [8113],
 8114: [8115],
 8132: [8133],
 8139: [8140],
 8152: [8153],
 8155: [8156],
 8159: [8160],
 8166: [8167],
 8169: [8170],
 8173: [8174],
 8178: [8179],
 8182: [8183],
 8187: [8188],
 8192: [8193],
 8194: [8195],
 8200: [8201],
 8207: [8208],
 8215: [8216],
 8219: [8220],
 8221: [8222],
 8234: [8235],
 8244: [8245],
 8259: [8260],
 8270: [8271],
 8274: [8275],
 8287: [8288],
 8309: [8310],
 8311: [8312],
 8321: [8322],
 8333: [8334],
 8335: [8336],
 8341: [8342],
 8348: [8349],
 8351: [8352],
 8354: [8355],
 8363: [8364],
 8387: [8388],
 8389: [8390],
 8391: [8392],
 8398: [8399],
 8400: [8401],
 8402: [8403],
 8406: [8407],
 8410: [8411],
 8413: [8414],
 8428: [8429],
 8435: [8436],
 8457: [8458],
 8471: [8472],
 8474: [8475],
 8483: [8484],
 8498: [8499],
 8512: [8513],
 8521: [8522],
 8534: [8535],
 8543: [8544],
 8559: [8560],
 8574: [8575],
 8581: [8582],
 8590: [8591],
 8596: [8597],
 8601: [8602],
 8607: [8608],
 8624: [8625],
 8634: [8635],
 8641: [8642],
 8650: [8651],
 8675: [8676],
 8690: [8691],
 8699: [8700],
 8714: [8715],
 8722: [8723],
 8727: [8728],
 8736: [8737],
 8769: [8770],
 8775: [8776],
 8795: [8796],
 8810: [8811],
 8812: [8813],
 8829: [8830],
 8846: [8847],
 8860: [8861],
 8862: [8863],
 8866: [8867],
 8873: [8874],
 8877: [8878],
 8884: [8885],
 8892: [8893],
 8898: [8899],
 8913: [8914],
 8921: [8922],
 8928: [8929],
 8939: [8940],
 8961: [8962],
 8973: [8974],
 8976: [8977],
 8978: [8979],
 8980: [8981],
 8993: [8994],
 8995: [8996],
 9021: [9022],
 9027: [9028],
 9031: [9032],
 9035: [9036],
 9037: [9038],
 9051: [9052],
 9054: [9055],
 9066: [9067],
 9068: [9069],
 9075: [9076],
 9084: [9085],
 9091: [9092],
 9095: [9096],
 9136: [9137],
 9154: [9155],
 9170: [9171],
 9186: [9187],
 9244: [9245],
 9251: [9252],
 9267: [9268],
 9287: [9288],
 9292: [9293],
 9301: [9302],
 9307: [9308],
 9319: [9320],
 9327: [9328],
 9349: [9350],
 9361: [9362],
 9375: [9376],
 9379: [9380],
 9400: [9401],
 9405: [9406],
 9422: [9423],
 9424: [9425],
 9446: [9447],
 9474: [9475],
 9484: [9485],
 9498: [9499],
 9543: [9544],
 9604: [9605],
 9642: [9643],
 9671: [9672],
 9684: [9685],
 9687: [9688],
 9694: [9695],
 9724: [9725],
 9740: [9741],
 9754: [9755],
 9780: [9781],
 9788: [9789],
 9803: [9804],
 9833: [9834],
 9841: [9842],
 9856: [9857],
 9863: [9864],
 9869: [9870],
 9884: [9885],
 9896: [9897],
 9900: [9901],
 9912: [9913],
 9941: [9942],
 9951: [9952],
 9979: [9980],
 10024: [10025],
 10061: [10062],
 10077: [10078],
 10079: [10080],
 10086: [10087],
 10094: [10095],
 12794: [12795],
 12796: [12797],
 12798: [12799],
 12801: [12802],
 12806: [12807],
 12810: [12811],
 12812: [12813],
 12814: [12815],
 12830: [12831],
 12834: [12835],
 12838: [12839],
 12843: [12844],
 12845: [12846],
 12851: [12852],
 12858: [12859],
 12860: [12861],
 12865: [12866],
 12877: [12878],
 12886: [12887],
 12888: [12889],
 12898: [12899],
 12906: [12907],
 12916: [12917],
 12920: [12921],
 12932: [12933],
 12938: [12939],
 12940: [12941],
 12944: [12945],
 12949: [12950],
 12960: [12961],
 12962: [12963],
 12964: [12965],
 12966: [12967],
 12969: [12970],
 12972: [12973],
 12975: [12976],
 12978: [12979],
 12981: [12982],
 12985: [12986],
 12992: [12993],
 12996: [12997],
 12999: [13000],
 13002: [13003],
 13005: [13006],
 13008: [13009],
 13010: [13011],
 13012: [13013],
 13014: [13015],
 13028: [13029],
 13030: [13031],
 13032: [13033],
 13037: [13038],
 13040: [13041],
 13050: [13051],
 13052: [13053],
 13055: [13056],
 13059: [13060],
 13061: [13062],
 13063: [13064],
 13065: [13066],
 13075: [13076],
 13077: [13078],
 13079: [13080],
 13081: [13082],
 13083: [13084],
 13085: [13086],
 22114: [22115]}

In [ ]:
df_integrato_matches2 = pd.DataFrame(columns=['name' , 'industry', 'market_cap', 'employees', 'country', 'headquarters', 'address', 'sector', 'ceo', 'founded', 'founders', 'share_price', 'website', 'stock', 'area_served', 'revenue'])
indexesToDelete = []
i = 0

for k in dict_matches.keys():
    indexesToDelete.append(k)
    row = df_collapsed_prima[df_collapsed_prima.index == k]
    for v in dict_matches[k]:
        indexesToDelete.append(v)
        for field in row:
            if(row[field].isnull().values.any()):
                if(not df_collapsed_prima[df_collapsed_prima.index == v][field].isnull().values.any()):
                    row.at[k, field] = df_collapsed_prima[df_collapsed_prima.index==v][field].values[0]
    df_integrato_matches2.loc[len(df_integrato_matches2.index)]=row.values[0]
df_integrato_clean = df_collapsed_prima.drop(indexesToDelete)
df_integrato_matches2 = pd.concat([df_integrato_clean, df_integrato_matches2], ignore_index=True)

In [154]:
len(df_integrato_matches2)

26730

In [ ]:
df_integrato_matches2.to_csv('output_integration/matches_collapsed222.csv', index=False)

# Passo finale integration

### eliminazione righe 'doppione'
### concatenazione dataframe integrato dei match

In [ ]:
df = getCompleteDataset()

191920

In [21]:
df[df.name=='Apple Inc.']

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
15099,Apple Inc.,Consumer Electronics,$2.825 T,None,United States,None,None,Technology,None,None,None,None,None,AAPL,None,None
48100,Apple Inc.,Consumer Electronics,$2.825 T,None,United States,None,None,Technology,None,None,None,None,None,AAPL,None,None
84007,Apple Inc.,Consumer Electronics,2825000000000,None,United States,None,None,Technology,None,None,None,None,None,AAPL,None,None
119490,Apple Inc.,Consumer Electronics,$2.825 T,"100,000",United States,"Cupertino,CA,UnitedStates",None,Technology,Mr. Timothy D. Cook,"April 1, 1976",None,None,None,AAPL,None,None
139207,Apple Inc.,Consumer electronics Software services Online ...,None,None,None,1 Apple Park Way,None,None,None,"April 1, 1976; 46 years ago (1976-04-01) in Lo...",None,None,None,None,Worldwide,None
140714,Apple Inc.,"Consumer electronics, Software services, Onli...",None,"164,000 (2022)",None,1 Apple Park Way,None,None,None,"Los Altos, California","Steve Jobs, Steve Wozniak, Ronald Wayne",None,,None,None,", (2022)"
140782,Apple Inc.,None,$2.825 T,None,united states,None,None,technology,None,None,None,None,None,AAPL,None,None

In [ ]:
indexesToDelete = []
for k, vs in dict_matches_global.items():
    indexesToDelete.append(k)
    indexesToDelete += vs

len(indexesToDelete)

148170

In [ ]:
print(len(df))
df_clean = df.drop(indexesToDelete)
print(len(df_clean))

191920
45610

In [ ]:
df_final = pd.concat([df_clean, df_integrato_matches2], ignore_index=True)
len(df_final)

72340

In [163]:
display(df_final[df_final.name.str.startswith("APPLE")])

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
10502,APPLEGREEN PLC,None,€596.9 Million,"11,145",None,"DUBLIN, IRELAND",None,None,NOT FOUND,None,None,None,None,None,None,None
15385,APPLE HOSPITALITY REIT,None,$3.81 B,None,USA,None,None,None,None,None,None,$16.70,None,None,None,None
31687,APPLE INC,TECHNOLOGY AND COMMUNICATIONS,"$2,141.2B","164,000",None,UNITED STATES OF AMERICA,"ONE APPLE PARK WAY, CUPERTINO, CALIFORNIA, 95014",None,None,None,None,None,www.apple.com,None,None,$394.3B
40421,APPLE HOSPITALITY REIT,None,$3.77 B,63.0,APLE,None,None,None,None,None,None,$16.49,None,None,None,$1.18 B
43894,"APPLE INSURANCE & FINANCIAL SERVICES, INC.",None,None,None,UNITED STATES,None,3010 N MILITARY TRL STE 310,None,None,None,None,None,None,None,None,None
46562,APPLE HOSPITALITY REIT,"REAL ESTATE, CONSUMER SERVICES, HOTELS, PROPE...",$3.87 B,63,USA,USA,NaN,NaN,NaN,2007,NaN,$16.92,https://applehospitalityreit.com,APLE,NaN,933 Million USD
52225,APPLE INC.,CONSUMER ELECTRONICS,$2.825 T,"100,000",UNITED STATES,"CUPERTINO,CA,UNITEDSTATES",1 APPLE PARK WAY,TECHNOLOGY,MR. TIMOTHY D. COOK,"April 1, 1976","STEVE JOBS, STEVE WOZNIAK, RONALD WAYNE",NaN,,AAPL,WORLDWIDE,", (2022)"
64588,APPLEGREEN,"CONSUMER CYCLICAL, RETAIL",0.849 Billion USD,NaN,IRELAND,IRELAND,NaN,NaN,NaN,1992,NaN,NaN,https://www.applegreenstores.com/,NaN,NaN,Not found
70020,APPLE (UK) LIMITED,NaN,NaN,NaN,UNITED KINGDOM,NaN,"2 FURZE GROUNDWAY, STOCKLEY PARK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71359,APPLE,"SEMICONDUCTORS, ELECTRONICS, ELECTRICAL ENGINE...",$2.351 T,"100,000",USA,CUPERTINO,NaN,TECHNOLOGY,MR. TIMOTHY D. COOK,"April 1, 1976","STEVE JOBS, STEVE WOZNIAK, RONALD WAYNE",$147.81,https://www.apple.com/,AAPL,NaN,"394,330 Million USD"

In [ ]:
df_final.to_csv('output_integration/final_plt222.csv', index=False)

In [15]:

# keyToIgnore
# print(dict_matches)
print(len(dict_matches.keys()))

22842

In [39]:
import pandas as pd
df_final = pd.read_csv('output_integration/final_plt.csv')

AttributeError: 'float' object has no attribute 'rstrip'

In [3]:
df_final[df_final.name=='Apple']

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
62385,Apple,"Semiconductors, Electronics, Electrical Engine...",$2.351 T,"100,000",USA,Cupertino,NaN,Technology,Mr. Timothy D. Cook,"April 1, 1976","Steve Jobs, Steve Wozniak, Ronald Wayne",$147.81,https://www.apple.com/,AAPL,NaN,"394,330 Million USD"

In [47]:
def removechars(x):
    if type(x) == 'str': 
        return x.rstrip()
    else:
        return x

In [50]:
df_names = pd.DataFrame(df_final['name'].values)
df_names=df_names.applymap(removechars)
df_names.to_csv('solonomi.csv', index=False)

# Creazione Dataset con coppie di record che sono in match

In [16]:
import csv
import time

start = time.time()

df_match = pd.DataFrame(columns=['label','left_id', 'left_name' , 'left_industry', 'left_market_cap', 'left_employees', 'left_country', 'left_headquarters', 'left_address', 'left_sector', 'left_ceo', 'left_founded', 'left_founders', 'left_share_price', 'left_website', 'left_stock', 'left_area_served', 'left_revenue', 'right_id','right_name' , 'right_industry', 'right_market_cap', 'right_employees', 'right_country', 'right_headquarters', 'right_address', 'right_sector', 'right_ceo', 'right_founded', 'right_founders', 'right_share_price', 'right_website', 'right_stock', 'right_area_served', 'right_revenue'])
for k in dict_matches.keys():
    for v in dict_matches[k]:
        df_match.loc[len(df_match.index)] = ([1, k, df[df.index == k]['name'].values[0] , df[df.index == k]['industry'].values[0], df[df.index == k]['market_cap'].values[0], df[df.index == k]['employees'].values[0], df[df.index == k]['country'].values[0], df[df.index == k]['headquarters'].values[0], df[df.index == k]['address'].values[0], df[df.index == k]['sector'].values[0], df[df.index == k]['ceo'].values[0], df[df.index == k]['founded'].values[0], df[df.index == k]['founders'].values[0], df[df.index == k]['share_price'].values[0], df[df.index == k]['website'].values[0], df[df.index == k]['stock'].values[0], df[df.index == k]['area_served'].values[0], df[df.index == k]['revenue'].values[0], v, df[df.index == v]['name'].values[0], df[df.index == v]['industry'].values[0], df[df.index == v]['market_cap'].values[0], df[df.index == v]['employees'].values[0], df[df.index == v]['country'].values[0], df[df.index == v]['headquarters'].values[0], df[df.index == v]['address'].values[0], df[df.index == v]['sector'].values[0], df[df.index == v]['ceo'].values[0], df[df.index == v]['founded'].values[0], df[df.index == v]['founders'].values[0], df[df.index == v]['share_price'].values[0], df[df.index == v]['website'].values[0], df[df.index == v]['stock'].values[0], df[df.index == v]['area_served'].values[0], df[df.index == v]['revenue'].values[0]])
end = time.time()
print("The time of execution of above program is :", (end-start) * 10**3, "ms")

The time of execution of above program is : 17507378.231287003 ms

In [17]:
df_match.to_csv('output_match/df_match.csv')

# Creazione Dataset con coppie di record che NON sono in match

In [20]:
candidate_links

MultiIndex([(  1202,   1202),
            (  1202,   7104),
            (  1202,   8099),
            (  1202,  16099),
            (  1202,  23192),
            (  1202,  25046),
            (  1202,  40045),
            (  1202,  49100),
            (  1202,  59782),
            (  1202,  67005),
            ...
            (198603, 198603),
            (198605, 198605),
            (198606, 198606),
            (198607, 198607),
            (198608, 198608),
            (198609, 198609),
            (198610, 198610),
            (198611, 198611),
            (198612, 198612),
            (198613, 198613)],
           length=916434)

In [35]:
lista_indici_nomi_null = df[df.name.isnull() == True].index
df = df.drop(lista_indici_nomi_null)
display(df)

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
1202,Apple,None,$2.351 T,None,USA,None,None,None,None,None,None,$147.81,None,None,None,None
1203,Bristol-myers Squibb,None,$172.49 B,None,USA,None,None,None,None,None,None,$81.13,None,None,None,None
1204,Wells Fargo,None,$175.05 B,None,USA,None,None,None,None,None,None,$45.94,None,None,None,None
1205,Nike,None,$175.54 B,None,USA,None,None,None,None,None,None,$112.20,None,None,None,None
1206,Walt Disney,None,$177.08 B,None,USA,None,None,None,None,None,None,$99.43,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198610,\n Olajide Semi...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198611,\n Kaidi Klein\...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198612,\n Liridon Resh...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198613,\n Margus L\xc3...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198614,\n Hannes Rosin...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [60]:
stop = 0
df_no_match = pd.DataFrame(columns=['label','left_id', 'left_name' , 'left_industry', 'left_market_cap', 'left_employees', 'left_country', 'left_headquarters', 'left_address', 'left_sector', 'left_ceo', 'left_founded', 'left_founders', 'left_share_price', 'left_website', 'left_stock', 'left_area_served', 'left_revenue', 'right_id','right_name' , 'right_industry', 'right_market_cap', 'right_employees', 'right_country', 'right_headquarters', 'right_address', 'right_sector', 'right_ceo', 'right_founded', 'right_founders', 'right_share_price', 'right_website', 'right_stock', 'right_area_served', 'right_revenue'])

for k,v in zip(df.index, df.index):
    try:
        k = k + 1
        if (k, v) not in candidate_links:
            df_no_match.loc[len(df_no_match.index)] = ([0, k, df[df.index == k]['name'].values[0] , df[df.index == k]['industry'].values[0], df[df.index == k]['market_cap'].values[0], df[df.index == k]['employees'].values[0], df[df.index == k]['country'].values[0], df[df.index == k]['headquarters'].values[0], df[df.index == k]['address'].values[0], df[df.index == k]['sector'].values[0], df[df.index == k]['ceo'].values[0], df[df.index == k]['founded'].values[0], df[df.index == k]['founders'].values[0], df[df.index == k]['share_price'].values[0], df[df.index == k]['website'].values[0], df[df.index == k]['stock'].values[0], df[df.index == k]['area_served'].values[0], df[df.index == k]['revenue'].values[0], v, df[df.index == v]['name'].values[0], df[df.index == v]['industry'].values[0], df[df.index == v]['market_cap'].values[0], df[df.index == v]['employees'].values[0], df[df.index == v]['country'].values[0], df[df.index == v]['headquarters'].values[0], df[df.index == v]['address'].values[0], df[df.index == v]['sector'].values[0], df[df.index == v]['ceo'].values[0], df[df.index == v]['founded'].values[0], df[df.index == v]['founders'].values[0], df[df.index == v]['share_price'].values[0], df[df.index == v]['website'].values[0], df[df.index == v]['stock'].values[0], df[df.index == v]['area_served'].values[0], df[df.index == v]['revenue'].values[0]])
            # print("i: " + str(k) + ", j: " + str(v))
        if stop >= 60000:
            break
        stop = stop + 1
    except:
        break

In [62]:
display(df_no_match.left_name, df_no_match.right_name)

0              Bristol-myers Squibb
1                       Wells Fargo
2                              Nike
3                       Walt Disney
4               Abbott Laboratories
                    ...
22984      Asahi Group Holdings Ltd
22985    Haitong Securities Co. Ltd
22986                Catalent, Inc.
22987         Quanta Services, Inc.
22988                 Ubiquiti Inc.
Name: left_name, Length: 22989, dtype: object

0                             Apple
1              Bristol-myers Squibb
2                       Wells Fargo
3                              Nike
4                       Walt Disney
                    ...
22984     Capitec Bank Holdings Ltd
22985      Asahi Group Holdings Ltd
22986    Haitong Securities Co. Ltd
22987                Catalent, Inc.
22988         Quanta Services, Inc.
Name: right_name, Length: 22989, dtype: object

In [61]:
df_no_match.to_csv('output_match/df_no_match.csv')

# Dataset Unlabeled

In [ ]:
df_unlabel = pd.DataFrame(columns=['label','left_id', 'left_name' , 'left_industry', 'left_market_cap', 'left_employees', 'left_country', 'left_headquarters', 'left_address', 'left_sector', 'left_ceo', 'left_founded', 'left_founders', 'left_share_price', 'left_website', 'left_stock', 'left_area_served', 'left_revenue', 'right_id','right_name' , 'right_industry', 'right_market_cap', 'right_employees', 'right_country', 'right_headquarters', 'right_address', 'right_sector', 'right_ceo', 'right_founded', 'right_founders', 'right_share_price', 'right_website', 'right_stock', 'right_area_served', 'right_revenue'])

for i,j in multi_index:
    df_unlabel.loc[len(df_unlabel.index)] = ([0, i, df[df.index == i]['name'].values[0] , df[df.index == i]['industry'].values[0], df[df.index == i]['market_cap'].values[0], df[df.index == i]['employees'].values[0], df[df.index == i]['country'].values[0], df[df.index == i]['headquarters'].values[0], df[df.index == i]['address'].values[0], df[df.index == i]['sector'].values[0], df[df.index == i]['ceo'].values[0], df[df.index == i]['founded'].values[0], df[df.index == i]['founders'].values[0], df[df.index == i]['share_price'].values[0], df[df.index == i]['website'].values[0], df[df.index == i]['stock'].values[0], df[df.index == i]['area_served'].values[0], df[df.index == i]['revenue'].values[0], j, df[df.index == j]['name'].values[0], df[df.index == j]['industry'].values[0], df[df.index == j]['market_cap'].values[0], df[df.index == j]['employees'].values[0], df[df.index == j]['country'].values[0], df[df.index == j]['headquarters'].values[0], df[df.index == j]['address'].values[0], df[df.index == j]['sector'].values[0], df[df.index == j]['ceo'].values[0], df[df.index == j]['founded'].values[0], df[df.index == j]['founders'].values[0], df[df.index == j]['share_price'].values[0], df[df.index == j]['website'].values[0], df[df.index == j]['stock'].values[0], df[df.index == j]['area_served'].values[0], df[df.index == j]['revenue'].values[0]])

In [ ]:
df_unlabel.to_csv('output_match/df_unlabel.csv')

# Unione di df_match e df_no_match e suddivisione in train, test, validation per Deepmatcher

In [ ]:
df_match = pd.read_csv('output_match/df_match.csv')
df_no_match = pd.read_csv('output_match/df_no_match.csv')
df_union = pd.concat([df_match, df_no_match], ignore_index=True)

In [ ]:
df_train = df_union.sample(7000)
df_test = df_union.sample(2300)
df_validation = df_union.sample(2300)

In [ ]:
df_train.to_csv('output_match/df_train.csv')
df_test.to_csv('output_match/df_test.csv')
df_validation.to_csv('output_match/df_validation.csv')

# Record Linkage con DeepMatcher

In [ ]:
import deepmatcher as dm
train, validation, test = dm.data.process(path='data_directory',
    train='train.csv', validation='validation.csv', test='test.csv')

In [ ]:
model = dm.MatchingModel()

In [ ]:
model.run_train(train, validation, best_save_path='best_model.pth')

In [ ]:
model.run_eval(test)

unlabeled = dm.data.process_unlabeled(path='data_directory/unlabeled.csv', trained_model=model)
model.run_prediction(unlabeled)