In [2]:
%pip install recordlinkage

Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: jellyfish is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

Collecting recordlinkage
  Downloading recordlinkage-0.15-py3-none-any.whl (926 kB)
     ---------------------------------------- 0.0/926.5 kB ? eta -:--:--
     --- ----------------------------------- 81.9/926.5 kB 2.2 MB/s eta 0:00:01
     ------- ------------------------------ 194.6/926.5 kB 2.3 MB/s eta 0:00:01
     ------------ ------------------------- 307.2/926.5 kB 2.1 MB/s eta 0:00:01
     ---------------- --------------------- 409.6/926.5 kB 2.3 MB/s eta 0:00:01
     --------------------- ---------------- 522.2/926.5 kB 2.2 MB/s eta 0:00:01
     ------------------------- ------------ 624.6/926.5 kB 2.2 MB/s eta 0:00:01
     ----------------------------- -------- 727.0/926.5 kB 2.3 MB/s eta 0:00:01
     ---------------------------------- --- 829.4/926.5 kB 2.3 MB/s eta 0:00:01
     -------------------------------------  921.6/926.5 kB 2.2 MB/s eta 0:00:01
     -------------------------------------- 926.5/926.5 kB 2.1 MB/s eta 0:00:00
Collecting jellyfish>=0.8.0
  Downloading jellyfish-0.9.0.tar.gz (132 kB)
     ---------------------------------------- 0.0/132.6 kB ? eta -:--:--
     -------------------------------- ----- 112.6/132.6 kB 2.2 MB/s eta 0:00:01
     -------------------------------------- 132.6/132.6 kB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy>=1.13.0 in c:\python311\lib\site-packages (from recordlinkage) (1.24.2)
Collecting pandas<2,>=1
  Using cached pandas-1.5.3-cp311-cp311-win_amd64.whl (10.3 MB)
Collecting scipy>=1
  Using cached scipy-1.10.0-cp311-cp311-win_amd64.whl (42.2 MB)
Collecting scikit-learn>=0.19.0
  Downloading scikit_learn-1.2.1-cp311-cp311-win_amd64.whl (8.2 MB)
     ---------------------------------------- 0.0/8.2 MB ? eta -:--:--
     ---------------------------------------- 0.1/8.2 MB 1.1 MB/s eta 0:00:08
      --------------------------------------- 0.2/8.2 MB 2.4 MB/s eta 0:00:04
     - -------------------------------------- 0.3/8.2 MB 2.2 MB/s eta 0:00:04
     - -------------------------------------- 0.4/8.2 MB 2.2 MB/s eta 0:00:04
     -- ------------------------------------- 0.5/8.2 MB 2.3 MB/s eta 0:00:04
     -- ------------------------------------- 0.6/8.2 MB 2.3 MB/s eta 0:00:04
     --- ------------------------------------ 0.7/8.2 MB 2.2 MB/s eta 0:00:04
     --- ------------------------------------ 0.8/8.2 MB 2.2 MB/s eta 0:00:04
     ---- ----------------------------------- 0.9/8.2 MB 2.2 MB/s eta 0:00:04
     ---- ----------------------------------- 1.0/8.2 MB 2.2 MB/s eta 0:00:04
     ----- ---------------------------------- 1.1/8.2 MB 2.2 MB/s eta 0:00:04
     ----- ---------------------------------- 1.2/8.2 MB 2.2 MB/s eta 0:00:04
     ------ --------------------------------- 1.4/8.2 MB 2.3 MB/s eta 0:00:04
     ------ --------------------------------- 1.4/8.2 MB 2.2 MB/s eta 0:00:04
     ------- -------------------------------- 1.5/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.7/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.8/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.9/8.2 MB 2.2 MB/s eta 0:00:03
     -------- ------------------------------- 1.9/8.2 MB 2.2 MB/s eta 0:00:03
     --------- ------------------------------ 2.0/8.2 MB 2.2 MB/s eta 0:00:03
     ---------- ----------------------------- 2.2/8.2 MB 2.2 MB/s eta 0:00:03
     ---------- ----------------------------- 2.3/8.2 MB 2.2 MB/s eta 0:00:03
     ----------- ---------------------------- 2.4/8.2 MB 2.2 MB/s eta 0:00:03
     ----------- ---------------------------- 2.5/8.2 MB 2.2 MB/s eta 0:00:03
     ------------ --------------------------- 2.6/8.2 MB 2.2 MB/s eta 0:00:03
     ------------- -------------------------- 2.7/8.2 MB 2.2 MB/s eta 0:00:03
     ------------- -------------------------- 2.8/8.2 MB 2.2 MB/s eta 0:00:03
     -------------- ------------------------- 2.9/8.2 MB 2.2 MB/s eta 0:00:03
     -------------- ------------------------- 3.0/8.2 MB 2.2 MB/s eta 0:00:03
     --------------- ------------------------ 3.1/8.2 MB 2.2 MB/s eta 0:00:03
     --------------- ------------------------ 3.2/8.2 MB 2.2 MB/s eta 0:00:03
     ---------------- ----------------------- 3.3/8.2 MB 2.2 MB/s eta 0:00:03
     ---------------- ----------------------- 3.4/8.2 MB 2.2 MB/s eta 0:00:03
     ----------------- ---------------------- 3.5/8.2 MB 2.2 MB/s eta 0:00:03
     ----------------- ---------------------- 3.6/8.2 MB 2.2 MB/s eta 0:00:03
     ------------------ --------------------- 3.7/8.2 MB 2.2 MB/s eta 0:00:03
     ------------------ --------------------- 3.8/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------- -------------------- 3.9/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------- -------------------- 4.0/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------- ------------------- 4.1/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------- ------------------- 4.3/8.2 MB 2.2 MB/s eta 0:00:02
     --------------------- ------------------ 4.4/8.2 MB 2.2 MB/s eta 0:00:02
     --------------------- ------------------ 4.5/8.2 MB 2.2 MB/s eta 0:00:02
     ---------------------- ----------------- 4.6/8.2 MB 2.2 MB/s eta 0:00:02
     ---------------------- ----------------- 4.7/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------- ---------------- 4.8/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------- ---------------- 4.9/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------------ --------------- 5.0/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------------ --------------- 5.1/8.2 MB 2.3 MB/s eta 0:00:02
     ------------------------- -------------- 5.2/8.2 MB 2.2 MB/s eta 0:00:02
     ------------------------- -------------- 5.3/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------------- ------------- 5.4/8.2 MB 2.2 MB/s eta 0:00:02
     -------------------------- ------------- 5.5/8.2 MB 2.3 MB/s eta 0:00:02
     --------------------------- ------------ 5.6/8.2 MB 2.2 MB/s eta 0:00:02
     --------------------------- ------------ 5.8/8.2 MB 2.2 MB/s eta 0:00:02
     ---------------------------- ----------- 5.8/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------------- ---------- 6.0/8.2 MB 2.2 MB/s eta 0:00:02
     ----------------------------- ---------- 6.1/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------ --------- 6.2/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------ --------- 6.3/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------- -------- 6.4/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------- -------- 6.5/8.2 MB 2.2 MB/s eta 0:00:01
     -------------------------------- ------- 6.6/8.2 MB 2.3 MB/s eta 0:00:01
     -------------------------------- ------- 6.7/8.2 MB 2.2 MB/s eta 0:00:01
     --------------------------------- ------ 6.8/8.2 MB 2.3 MB/s eta 0:00:01
     --------------------------------- ------ 6.9/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------- ----- 7.0/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------- ----- 7.1/8.2 MB 2.2 MB/s eta 0:00:01
     ----------------------------------- ---- 7.2/8.2 MB 2.2 MB/s eta 0:00:01
     ----------------------------------- ---- 7.3/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------------ --- 7.5/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------------ --- 7.6/8.2 MB 2.2 MB/s eta 0:00:01
     ------------------------------------- -- 7.7/8.2 MB 2.3 MB/s eta 0:00:01
     ------------------------------------- -- 7.8/8.2 MB 2.3 MB/s eta 0:00:01
     -------------------------------------- - 7.9/8.2 MB 2.3 MB/s eta 0:00:01
     -------------------------------------- - 8.0/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------------  8.1/8.2 MB 2.3 MB/s eta 0:00:01
     ---------------------------------------  8.2/8.2 MB 2.2 MB/s eta 0:00:01
     ---------------------------------------  8.2/8.2 MB 2.3 MB/s eta 0:00:01
     ---------------------------------------- 8.2/8.2 MB 2.2 MB/s eta 0:00:00
Collecting joblib
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\andre\appdata\roaming\python\python311\site-packages (from pandas<2,>=1->recordlinkage) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas<2,>=1->recordlinkage) (2022.7.1)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: six>=1.5 in c:\users\andre\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas<2,>=1->recordlinkage) (1.16.0)
Installing collected packages: threadpoolctl, scipy, joblib, jellyfish, scikit-learn, pandas, recordlinkage
  Running setup.py install for jellyfish: started
  Running setup.py install for jellyfish: finished with status 'done'
Successfully installed jellyfish-0.9.0 joblib-1.2.0 pandas-1.5.3 recordlinkage-0.15 scikit-learn-1.2.1 scipy-1.10.0 threadpoolctl-3.1.0

# Record linkage con Python Record Linkage Toolkit

In [51]:
import recordlinkage
import pandas as pd

In [112]:
df = pd.read_json('output_alignment_multithread_finalpass/schema_mediato.json')
print(len(df))

# half_size = int(len(df)/2)
# df_a = df.iloc[:half_size,:]
# df_b = df.iloc[half_size:,:]

df_a = df
df_b = df

display(df_a)
display(df_b)

198615

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
0,None,Artificial intelligence,None,None,China,None,None,None,None,None,None,None,None,None,None,None
1,None,Other,None,None,United States,None,None,None,None,None,None,None,None,None,None,None
2,None,E-commerce & direct-to-consumer,None,None,China,None,None,None,None,None,None,None,None,None,None,None
3,None,Fintech,None,None,United States,None,None,None,None,None,None,None,None,None,None,None
4,None,Internet software & services,None,None,Australia,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198610,\n Olajide Semi...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198611,\n Kaidi Klein\...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198612,\n Liridon Resh...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198613,\n Margus L\xc3...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198614,\n Hannes Rosin...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
0,None,Artificial intelligence,None,None,China,None,None,None,None,None,None,None,None,None,None,None
1,None,Other,None,None,United States,None,None,None,None,None,None,None,None,None,None,None
2,None,E-commerce & direct-to-consumer,None,None,China,None,None,None,None,None,None,None,None,None,None,None
3,None,Fintech,None,None,United States,None,None,None,None,None,None,None,None,None,None,None
4,None,Internet software & services,None,None,Australia,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198610,\n Olajide Semi...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198611,\n Kaidi Klein\...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198612,\n Liridon Resh...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198613,\n Margus L\xc3...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198614,\n Hannes Rosin...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [10]:
print(df[df.index == 1202]['name'])
print(df[df.index == 1202]['name'].values[0])

1202    Apple
Name: name, dtype: object
Apple

In [113]:
indexer = recordlinkage.Index()
indexer.block('name')
candidate_links = indexer.index(df_a, df_b)

print(candidate_links)

MultiIndex([(  1202,   1202),
            (  1202,   7104),
            (  1202,   8099),
            (  1202,  16099),
            (  1202,  23192),
            (  1202,  25046),
            (  1202,  40045),
            (  1202,  49100),
            (  1202,  59782),
            (  1202,  67005),
            ...
            (198603, 198603),
            (198605, 198605),
            (198606, 198606),
            (198607, 198607),
            (198608, 198608),
            (198609, 198609),
            (198610, 198610),
            (198611, 198611),
            (198612, 198612),
            (198613, 198613)],
           length=916434)

In [114]:
set_no_copy = set()
for (c,b) in candidate_links:
    if (b,c) not in set_no_copy and (c != b):
        set_no_copy.add((c,b))

print(len(set_no_copy))

list_no_copy = list(set_no_copy)
# gli elementi delle coppie vengono distribuite su due liste parallele
list_0 = [x[0] for x in list_no_copy]
list_1 = [x[1] for x in list_no_copy]

362257

In [115]:
multi_index = pd.MultiIndex.from_arrays([list_0, list_1])

In [14]:
print(multi_index)

MultiIndex([( 16914,  53017),
            ( 96199, 150619),
            ( 48460, 141092),
            ( 76166, 186366),
            ( 25075, 101547),
            ( 55814, 105606),
            ( 91775, 157193),
            ( 20651, 123205),
            (119755, 139657),
            (101835, 186271),
            ...
            (151583, 162585),
            ( 90760, 167186),
            (160670, 171680),
            (124224, 188318),
            (186715, 186771),
            (  1322,   8235),
            ( 87684, 178903),
            ( 24107,  84941),
            (  5010,  13297),
            ( 20528,  79822)],
           length=362257)

In [155]:
compare = recordlinkage.Compare()

compare.string('name', 'name', method='jarowinkler', threshold=0.7)
# compare.string('industry', 'industry', method='jarowinkler', threshold=0.85)
compare.string('country', 'country', method='jarowinkler', threshold=0.5, missing_value=1)
compare.string('headquarters', 'country', method='jarowinkler', threshold=0.5, missing_value=1)
# compare.string('country', 'headquarters', method='jarowinkler', threshold=0.5)
# compare.string('headquarters', 'headquarters', method='jarowinkler', threshold=0.5)


# compare.string('headquarters', 'headquarters', method='jarowinkler', threshold=0.85)
# compare.string('ceo', 'ceo', method='jarowinkler', threshold=0.85)
# compare.string('sector', 'sector', method='jarowinkler', threshold=0.85)

# The comparison vectors
compare_vectors = compare.compute(candidate_links, df_a, df_b)
print(compare_vectors)
type(compare_vectors)

                 0    1    2
1202   1202    1.0  1.0  1.0
       7104    1.0  1.0  1.0
       8099    1.0  1.0  1.0
       16099   1.0  1.0  1.0
       23192   1.0  1.0  1.0
...            ...  ...  ...
198609 198609  1.0  1.0  1.0
198610 198610  1.0  1.0  1.0
198611 198611  1.0  1.0  1.0
198612 198612  1.0  1.0  1.0
198613 198613  1.0  1.0  1.0

[916434 rows x 3 columns]

pandas.core.frame.DataFrame

In [156]:
compare_vectors = compare_vectors[compare_vectors.index.isin(multi_index)]
display(compare_vectors)

                 0    1    2
1202   7104    1.0  1.0  1.0
       8099    1.0  1.0  1.0
       16099   1.0  1.0  1.0
       23192   1.0  1.0  1.0
       25046   1.0  0.0  1.0
...            ...  ...  ...
198440 198450  1.0  1.0  1.0
       198451  1.0  1.0  1.0
198450 198451  1.0  1.0  1.0
198454 198584  1.0  1.0  1.0
198527 198528  1.0  1.0  1.0

[362257 rows x 3 columns]

In [157]:
ecm = recordlinkage.ECMClassifier()
matches = ecm.fit_predict(compare_vectors)

# Creazione di un dizionario con chiave che corrispondono a record relativi ad una entità e come valore una lista di entità che corrispondono a quella relativa alla chiave associata

In [158]:
dict_matches = {}
keyToIgnore = set()
for k, v in matches:
    if k in keyToIgnore:
        continue
    elif k in dict_matches.keys():
        dict_matches[k].append(v)
        keyToIgnore.add(v)
    else :
        dict_matches[k] = [v]
        keyToIgnore.add(v)

In [159]:
dict_matches_global = dict_matches

In [195]:
import json
with open('dict_matches.txt', 'w') as file:
     file.write(json.dumps(dict_matches_global))

In [160]:
df = pd.read_json('output_alignment_multithread_finalpass/schema_mediato.json')
df = df[df.name.isnull() == False]

In [161]:
df_integrato_matches = pd.DataFrame(columns=['name' , 'industry', 'market_cap', 'employees', 'country', 'headquarters', 'address', 'sector', 'ceo', 'founded', 'founders', 'share_price', 'website', 'stock', 'area_served', 'revenue'])

i = 0

for k in dict_matches.keys():
    row = df[df.index == k]
    for v in dict_matches[k]:
        for field in row:
            if(row[field].isnull().values.any()):
                if(not df[df.index == v][field].isnull().values.any()):
                    row.at[k, field] = df[df.index==v][field].values[0]
    df_integrato_matches.loc[len(df_integrato_matches.index)]=row.values[0]

In [162]:
df_integrato_matches

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
0,Apple,"Semiconductors, Electronics, Electrical Engine...",$2.351 T,"100,000",USA,Cupertino,None,None,Mr. Timothy D. Cook,"April 1, 1976","Steve Jobs, Steve Wozniak, Ronald Wayne",$147.81,https://www.apple.com/,AAPL,None,"394,330 Million USD"
1,Apple,"Semiconductors, Electronics, Electrical Engine...","$2,640.32 B","100,000",United States,"Cupertino, CA, United States",None,Technology,Mr. Timothy D. Cook,1976,"Steve Jobs, Steve Wozniak, Ronald Wayne",None,https://www.apple.com/,None,None,"394,330 Million USD"
2,Apple,"Semiconductors, Electronics, Electrical Engine...",$2.194 T,"Employees: 100,000",usa,"Cupertino, California, United States (USA)",None,None,CEO: Mr. Timothy D. Cook,"Founded: April 1, 1976",None,$137.98,None,None,None,$378.7B
3,Wells Fargo,Banking,$175.05 B,"247,848",USA,SanFrancisco,None,None,Mr. Charles W. Scharf,1929,None,$45.94,None,WFC,None,$84.1B
4,Wells Fargo,Banking,$176.77 B,"247,848",United States,"San Francisco, CA, United States",None,Financials,Mr. Charles W. Scharf,1852,None,None,None,None,None,$84.1B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31509,\n Anneli S\xc3...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
31510,\n Kairi Killin...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
31511,\n Mart Kajari\...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
31512,\n Siim P\xc3\x...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
31513,\n Rein P\xc3\x...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [175]:
df_integrato_matches.to_csv('output_integration/matches_collassati12.csv', index=False)

# Seconda passata di matching
#### criteri: matching 1:1 su name

In [22]:
import recordlinkage

df = pd.read_csv('output_integration/matches_collassati12.csv')

df_a = df
df_b = df

In [23]:
indexer = recordlinkage.Index()
indexer.block('name')
candidate_links = indexer.index(df_a, df_b)

In [24]:
set_no_copy = set()
for (c,b) in candidate_links:
    if (b,c) not in set_no_copy and (c != b):
        set_no_copy.add((c,b))

print(len(set_no_copy))

list_no_copy = list(set_no_copy)
# gli elementi delle coppie vengono distribuite su due liste parallele
list_0 = [x[0] for x in list_no_copy]
list_1 = [x[1] for x in list_no_copy]

multi_index = pd.MultiIndex.from_arrays([list_0, list_1])

1531

In [25]:
compare = recordlinkage.Compare()

compare.string('name', 'name', method='jarowinkler', threshold=1)
# workaround
compare.string('country', 'country', method='jarowinkler', threshold=0)

# The comparison vectors
compare_vectors = compare.compute(candidate_links, df_a, df_b)

compare_vectors[compare_vectors.index.isin(multi_index)]

               0    1
0     1      1.0  1.0
      2      1.0  1.0
1     2      1.0  1.0
3     4      1.0  1.0
      5      1.0  1.0
...          ...  ...
15835 15836  1.0  1.0
15838 15839  1.0  1.0
15840 15841  1.0  1.0
15843 15844  1.0  1.0
15845 15846  1.0  1.0

[1531 rows x 2 columns]

In [26]:
compare_vectors = compare_vectors[compare_vectors.index.isin(multi_index)]
ecm = recordlinkage.ECMClassifier()
matches = ecm.fit_predict(compare_vectors)

matches

MultiIndex([(    0,     1),
            (    0,     2),
            (    1,     2),
            (    3,     4),
            (    3,     5),
            (    4,     5),
            (    6,     7),
            (    8,     9),
            (    8,    10),
            (    9,    10),
            ...
            (15825, 15826),
            (15827, 15828),
            (15829, 15830),
            (15831, 15832),
            (15833, 15834),
            (15835, 15836),
            (15838, 15839),
            (15840, 15841),
            (15843, 15844),
            (15845, 15846)],
           length=1515)

In [37]:
df[df.name=='Apple Inc.']

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
8966,Apple Inc.,Consumer Electronics,$2.825 T,"100,000",United States,"Cupertino,CA,UnitedStates",NaN,Technology,Mr. Timothy D. Cook,"April 1, 1976","Steve Jobs, Steve Wozniak, Ronald Wayne",NaN,,AAPL,Worldwide,", (2022)"

In [28]:
dict_matches = {}
keyToIgnore = set()
for k, v in matches:
    if k in keyToIgnore:
        continue
    elif k in dict_matches.keys():
        dict_matches[k].append(v)
        keyToIgnore.add(v)
    else :
        dict_matches[k] = [v]
        keyToIgnore.add(v)

In [30]:
dict_matches

{0: [1, 2],
 3: [4, 5],
 6: [7],
 8: [9, 10],
 11: [12, 13],
 18: [19, 20],
 23: [24, 25],
 26: [27, 28],
 29: [30, 31],
 33: [34, 35],
 36: [37, 38],
 40: [41, 42],
 45: [46, 47],
 52: [53, 54],
 59: [60, 61],
 62: [63, 64],
 65: [66, 67],
 68: [69, 70],
 71: [72, 73],
 76: [77, 78],
 79: [80],
 82: [83],
 84: [85, 86],
 87: [88, 89],
 90: [91, 92],
 93: [94],
 95: [96, 97],
 98: [99, 100],
 104: [105, 106],
 107: [108],
 110: [111, 112],
 115: [116],
 117: [118],
 123: [124, 125],
 130: [131],
 132: [133, 134],
 136: [137, 138],
 139: [140, 141],
 142: [143, 144],
 145: [146],
 150: [151, 152],
 154: [155, 156],
 157: [158, 159, 160],
 161: [162, 163],
 164: [165, 166],
 168: [169, 170],
 171: [172, 173],
 174: [175, 176],
 177: [178, 179],
 180: [181, 182],
 190: [191, 192],
 193: [194, 195],
 196: [197, 198],
 201: [202],
 203: [204, 205],
 207: [208, 209],
 210: [211, 212],
 213: [214, 215],
 222: [223, 224],
 226: [227, 228],
 229: [230],
 232: [233, 234],
 235: [236, 237],
 238: [239, 240],
 244: [245, 246],
 249: [250, 251],
 254: [255, 256],
 257: [258, 259],
 262: [263, 264],
 267: [268, 269],
 270: [271, 272],
 274: [275, 276],
 281: [282, 283, 284],
 289: [290, 291],
 292: [293, 294],
 299: [300, 301],
 302: [303, 304],
 308: [309],
 310: [311],
 312: [313, 314],
 319: [320, 321],
 325: [326, 327],
 328: [329, 330],
 334: [335, 336],
 339: [340],
 342: [343, 344],
 347: [348, 349],
 350: [351, 352],
 353: [354, 355],
 358: [359, 360],
 361: [362, 363],
 369: [370, 371],
 373: [374],
 379: [380, 381],
 384: [385, 386],
 387: [388, 389, 390],
 393: [394, 395],
 396: [397],
 401: [402, 403],
 405: [406, 407],
 416: [417, 418],
 420: [421, 422],
 424: [425],
 426: [427, 428],
 432: [433, 434],
 439: [440, 441],
 442: [443, 444],
 447: [448, 449],
 451: [452, 453],
 454: [455, 456],
 457: [458, 459],
 465: [466, 467],
 469: [470, 471],
 476: [477, 478],
 482: [483, 484],
 488: [489, 490],
 492: [493, 494],
 495: [496],
 500: [501, 502],
 507: [508],
 509: [510],
 511: [512, 513],
 514: [515, 516],
 517: [518, 519],
 522: [523, 524],
 525: [526],
 530: [531, 532],
 544: [545, 546],
 547: [548, 549],
 550: [551, 552],
 559: [560, 561],
 564: [565, 566],
 567: [568, 569],
 572: [573, 574],
 575: [576, 577],
 579: [580],
 584: [585],
 586: [587, 588],
 590: [591],
 592: [593, 594],
 596: [597, 598, 599],
 600: [601, 602],
 604: [605],
 607: [608, 609],
 611: [612],
 616: [617, 618],
 619: [620, 621],
 625: [626, 627],
 629: [630, 631],
 634: [635],
 636: [637, 638],
 640: [641],
 646: [647, 648],
 658: [659, 660],
 661: [662],
 665: [666, 667],
 668: [669],
 680: [681],
 682: [683, 684],
 685: [686],
 690: [691, 692],
 695: [696, 697],
 699: [700, 701, 702],
 705: [706],
 707: [708, 709],
 712: [713],
 714: [715, 716],
 717: [718],
 719: [720],
 722: [723],
 724: [725, 726],
 727: [728],
 740: [741, 742],
 744: [745],
 746: [747, 748],
 751: [752],
 754: [755, 756],
 762: [763, 764],
 774: [775],
 782: [783],
 784: [785],
 788: [789],
 791: [792, 793],
 796: [797],
 798: [799, 800],
 801: [802, 803],
 804: [805],
 806: [807],
 809: [810],
 817: [818, 819],
 824: [825, 826],
 830: [831, 832],
 842: [843, 844, 845],
 848: [849, 850],
 860: [861],
 866: [867, 868],
 871: [872, 873],
 874: [875, 876],
 877: [878],
 891: [892],
 893: [894],
 902: [903],
 904: [905, 906],
 908: [909, 910],
 911: [912, 913],
 915: [916, 917],
 919: [920, 921],
 932: [933],
 937: [938, 939],
 942: [943, 944],
 946: [947],
 948: [949, 950],
 952: [953, 954],
 955: [956, 957],
 959: [960],
 961: [962],
 966: [967],
 976: [977, 978],
 982: [983, 984],
 994: [995, 996],
 998: [999],
 1001: [1002, 1003],
 1005: [1006],
 1007: [1008],
 1011: [1012],
 1017: [1018],
 1023: [1024],
 1026: [1027],
 1032: [1033, 1034],
 1035: [1036],
 1046: [1047, 1048],
 1049: [1050, 1051],
 1052: [1053],
 1057: [1058],
 1063: [1064],
 1065: [1066],
 1068: [1069],
 1070: [1071, 1072],
 1073: [1074],
 1080: [1081],
 1084: [1085, 1086],
 1088: [1089, 1090],
 1093: [1094],
 1102: [1103],
 1107: [1108],
 1118: [1119, 1120],
 1124: [1125],
 1135: [1136, 1137],
 1140: [1141],
 1157: [1158, 1159],
 1161: [1162],
 1164: [1165, 1166],
 1170: [1171, 1172],
 1173: [1174],
 1177: [1178],
 1179: [1180, 1181],
 1183: [1184],
 1192: [1193],
 1199: [1200],
 1205: [1206],
 1210: [1211],
 1214: [1215],
 1216: [1217, 1218],
 1220: [1221],
 1234: [1235],
 1243: [1244],
 1249: [1250, 1251],
 1257: [1258],
 1265: [1266],
 1268: [1269],
 1270: [1271],
 1275: [1276],
 1280: [1281],
 1282: [1283],
 1289: [1290, 1291],
 1294: [1295],
 1297: [1298],
 1299: [1300],
 1303: [1304],
 1305: [1306],
 1307: [1308],
 1310: [1311, 1312],
 1313: [1314],
 1320: [1321],
 1322: [1323, 1324],
 1329: [1330],
 1331: [1332],
 1336: [1337],
 1339: [1340],
 1345: [1346],
 1368: [1369],
 1376: [1377],
 1378: [1379],
 1389: [1390],
 1410: [1411, 1412],
 1417: [1418, 1419],
 1448: [1449, 1450],
 1456: [1457],
 1460: [1461, 1462],
 1469: [1470],
 1483: [1484],
 1485: [1486],
 1487: [1488, 1489],
 1494: [1495, 1496],
 1502: [1503],
 1505: [1506],
 1507: [1508],
 1512: [1513, 1514],
 1550: [1551],
 1567: [1568],
 1569: [1570],
 1572: [1573],
 1619: [1620],
 1627: [1628],
 1647: [1648],
 1651: [1652],
 1658: [1659],
 1663: [1664],
 1697: [1698],
 1704: [1705, 1706, 1707],
 1711: [1712],
 1727: [1728],
 1753: [1754],
 1757: [1758],
 1791: [1792],
 1829: [1830],
 1850: [1851],
 1856: [1857],
 1859: [1860],
 1869: [1870],
 1876: [1877],
 1910: [1911],
 1925: [1926],
 1947: [1948],
 1954: [1955],
 1965: [1966],
 1985: [1986],
 1998: [1999],
 2007: [2008],
 2012: [2013],
 2043: [2044],
 2066: [2067],
 2075: [2076],
 2110: [2111],
 2131: [2132],
 2141: [2142],
 2503: [2504],
 2513: [2514],
 2540: [2541],
 2543: [2544],
 2611: [2612],
 2630: [2631],
 2659: [2660],
 2685: [2686],
 2692: [2693],
 2816: [2817],
 2906: [2907],
 2922: [2923],
 2932: [2933],
 2947: [2948],
 2951: [2952],
 3003: [3004],
 3009: [3010],
 3015: [3016, 3017],
 3032: [3033],
 3166: [3167],
 3174: [3175],
 3247: [3248],
 3288: [3289],
 3358: [3359],
 3387: [3388],
 3433: [3434],
 3445: [3446],
 3463: [3464],
 3466: [3467],
 3482: [3483],
 3488: [3489],
 3502: [3503],
 3506: [3507],
 3521: [3522],
 3529: [3530],
 3532: [3533],
 3545: [3546],
 3579: [3580],
 3612: [3613],
 3630: [3631, 3632],
 3656: [3657],
 3684: [3685],
 3712: [3713],
 3755: [3756],
 3757: [3758],
 3763: [3764],
 3787: [3788],
 3792: [3793],
 3801: [3802],
 3821: [3822],
 3869: [3870],
 3920: [3921],
 3948: [3949],
 3952: [3953],
 3954: [3955],
 4003: [4004],
 4087: [4088],
 4149: [4150],
 4158: [4159],
 4162: [4163],
 4182: [4183],
 4200: [4201],
 4209: [4210],
 4232: [4233],
 4290: [4291],
 4385: [4386],
 4404: [4405],
 4410: [4411],
 4423: [4424, 4425],
 4431: [4432],
 4437: [4438],
 4454: [4455],
 4472: [4473],
 4487: [4488],
 4511: [4512],
 4519: [4520],
 4554: [4555],
 4557: [4558],
 4609: [4610],
 4612: [4613],
 4633: [4634],
 4657: [4658],
 4665: [4666],
 4692: [4693],
 4701: [4702],
 4727: [4728],
 4744: [4745],
 4758: [4759],
 4764: [4765],
 4778: [4779, 4780],
 4785: [4786],
 4789: [4790],
 4800: [4801],
 4822: [4823],
 4838: [4839],
 4851: [4852],
 4878: [4879],
 4880: [4881],
 4882: [4883],
 4886: [4887],
 4892: [4893],
 4894: [4895],
 4911: [4912],
 4934: [4935],
 4937: [4938, 4939],
 4948: [4949],
 4954: [4955],
 4982: [4983],
 4995: [4996],
 5011: [5012],
 5036: [5037],
 5111: [5112],
 5114: [5115],
 5120: [5121],
 5134: [5135],
 5157: [5158],
 5159: [5160, 5161],
 5175: [5176],
 5188: [5189],
 5203: [5204],
 5212: [5213],
 5240: [5241],
 5250: [5251],
 5261: [5262],
 5276: [5277],
 5287: [5288],
 5301: [5302],
 5306: [5307],
 5311: [5312],
 5333: [5334],
 5342: [5343],
 5380: [5381],
 5404: [5405],
 5411: [5412],
 5416: [5417],
 5421: [5422],
 5446: [5447],
 5646: [5647],
 5648: [5649, 5650],
 5652: [5653, 5654],
 5657: [5658, 5659],
 5665: [5666, 5667],
 5672: [5673, 5674],
 5675: [5676],
 5677: [5678, 5679],
 5680: [5681, 5682],
 5687: [5688, 5689],
 5690: [5691, 5692],
 5693: [5694, 5695],
 5696: [5697, 5698],
 5706: [5707, 5708],
 5709: [5710, 5711],
 5713: [5714, 5715, 5716],
 5717: [5718, 5719],
 5722: [5723, 5724],
 5726: [5727, 5728],
 5729: [5730, 5731],
 5734: [5735, 5736],
 5737: [5738, 5739],
 5742: [5743, 5744],
 5746: [5747],
 5748: [5749, 5750, 5751],
 5755: [5756, 5757],
 5761: [5762, 5763],
 5764: [5765, 5766],
 5767: [5768, 5769],
 5770: [5771, 5772],
 5773: [5774],
 5777: [5778, 5779],
 5782: [5783, 5784],
 5790: [5791],
 5792: [5793, 5794],
 5801: [5802, 5803],
 5804: [5805, 5806],
 5811: [5812, 5813],
 5818: [5819, 5820],
 5821: [5822, 5823],
 5826: [5827],
 5831: [5832, 5833],
 5837: [5838, 5839],
 5848: [5849],
 5850: [5851],
 5852: [5853],
 5860: [5861],
 5862: [5863],
 5864: [5865, 5866],
 5868: [5869],
 5872: [5873, 5874],
 5890: [5891],
 5892: [5893],
 5896: [5897, 5898],
 5901: [5902],
 5907: [5908, 5909],
 5916: [5917],
 5918: [5919],
 5923: [5924, 5925],
 5926: [5927, 5928],
 5929: [5930, 5931, 5932],
 5934: [5935, 5936],
 5939: [5940],
 5944: [5945],
 5947: [5948],
 5955: [5956],
 5958: [5960],
 5961: [5962, 5963],
 5966: [5967],
 5973: [5974],
 5980: [5981],
 5985: [5986, 5987],
 5989: [5990],
 5997: [5998],
 6002: [6003],
 6004: [6005],
 6012: [6013, 6014],
 6015: [6016, 6017],
 6019: [6020],
 6038: [6039],
 6040: [6041],
 6043: [6044, 6045],
 6058: [6059],
 6060: [6061, 6062],
 6064: [6065, 6066],
 6069: [6070],
 6076: [6077],
 6078: [6079],
 6080: [6081],
 6082: [6083],
 6085: [6086, 6087],
 6088: [6089],
 6095: [6096, 6097],
 6103: [6104],
 6111: [6112],
 6113: [6114],
 6116: [6117, 6118],
 6119: [6120],
 6121: [6122, 6123],
 6126: [6127, 6128],
 6130: [6131, 6132],
 6142: [6143],
 6151: [6152, 6153],
 6154: [6155],
 6169: [6170],
 6173: [6174, 6175],
 6177: [6178],
 6180: [6181],
 6184: [6185, 6186],
 6187: [6188],
 6189: [6190],
 6194: [6195, 6196],
 6197: [6198],
 6200: [6201],
 6205: [6206],
 6212: [6213],
 6214: [6215],
 6225: [6226],
 6232: [6233, 6234],
 6235: [6236],
 6248: [6249],
 6250: [6251],
 6254: [6255],
 6256: [6257],
 6258: [6259, 6260],
 6262: [6263],
 6270: [6271],
 6273: [6274],
 6276: [6277],
 6284: [6285, 6286],
 6287: [6288],
 6289: [6290],
 6291: [6292],
 6296: [6297],
 6299: [6300],
 6305: [6306],
 6311: [6312, 6313],
 6314: [6315, 6316],
 6325: [6326, 6327],
 6328: [6329, 6330],
 6338: [6339],
 6342: [6343],
 6346: [6347],
 6351: [6352, 6353],
 6357: [6358],
 6361: [6362],
 6363: [6364, 6365],
 6371: [6372],
 6373: [6374, 6375],
 6377: [6378],
 6382: [6383],
 6392: [6393],
 6404: [6405],
 6410: [6411],
 6416: [6417, 6418],
 6419: [6420, 6421, 6422],
 6432: [6433],
 6441: [6442],
 6443: [6444],
 6452: [6453],
 6459: [6460, 6461],
 6465: [6466],
 6472: [6473],
 6482: [6483],
 6493: [6494, 6495],
 6508: [6509],
 6520: [6521],
 6531: [6532],
 6536: [6537],
 6538: [6539],
 6541: [6542],
 6546: [6547],
 6549: [6550],
 6556: [6557, 6558],
 6562: [6563],
 6571: [6572],
 6575: [6576],
 6589: [6590, 6591],
 6594: [6595],
 6600: [6601],
 6614: [6615],
 6631: [6632],
 6638: [6639],
 6644: [6645],
 6650: [6651],
 6655: [6656],
 6662: [6663],
 6669: [6670],
 6671: [6672],
 6682: [6683],
 6695: [6696],
 6700: [6701, 6702],
 6703: [6704],
 6706: [6707, 6708],
 6714: [6715],
 6722: [6723],
 6724: [6725, 6726],
 6728: [6729],
 6737: [6738, 6739],
 6742: [6743, 6744],
 6761: [6762, 6763],
 6777: [6778],
 6780: [6781],
 6788: [6789],
 6804: [6805],
 6808: [6809],
 6812: [6813, 6814],
 6815: [6816],
 6831: [6832],
 6837: [6838],
 6839: [6840],
 6845: [6846],
 6865: [6866],
 6874: [6875],
 6879: [6880],
 6916: [6917],
 6929: [6930],
 6932: [6933, 6934],
 6937: [6938],
 6943: [6944],
 6946: [6947],
 6955: [6956, 6957],
 6958: [6959],
 6977: [6978],
 6982: [6983],
 6986: [6987],
 6991: [6992],
 6997: [6998],
 7005: [7006],
 7011: [7012],
 7019: [7020],
 7023: [7024],
 7040: [7041],
 7044: [7045],
 7046: [7047],
 7053: [7054],
 7071: [7072],
 7073: [7074, 7075],
 7089: [7090],
 7100: [7101],
 7106: [7107],
 7109: [7110],
 7121: [7122],
 7147: [7148],
 7150: [7151, 7152],
 7157: [7158],
 7179: [7180],
 7181: [7182],
 7186: [7187],
 7189: [7190],
 7210: [7211],
 7217: [7218],
 7229: [7230],
 7245: [7246],
 7250: [7251],
 7258: [7259],
 7261: [7262],
 7275: [7276],
 7287: [7288],
 7297: [7298],
 7303: [7304],
 7314: [7315],
 7359: [7360],
 7366: [7367, 7368],
 7377: [7378],
 7386: [7387, 7388],
 7391: [7392],
 7402: [7403],
 7406: [7407],
 7426: [7427],
 7434: [7435],
 7450: [7451],
 7454: [7455],
 7457: [7458],
 7460: [7461],
 7465: [7466],
 7470: [7471],
 7491: [7492],
 7510: [7511],
 7518: [7519],
 7522: [7523],
 7524: [7525],
 7533: [7534],
 7538: [7539],
 7541: [7542],
 7551: [7552],
 7557: [7558],
 7561: [7562],
 7572: [7573],
 7576: [7577],
 7578: [7579],
 7581: [7582],
 7585: [7586],
 7601: [7602],
 7618: [7619],
 7621: [7622],
 7629: [7630],
 7644: [7645],
 7658: [7659],
 7697: [7698],
 7740: [7741],
 7762: [7763],
 7769: [7770],
 7792: [7793],
 7810: [7811],
 7815: [7816],
 7819: [7820, 7821],
 7825: [7826],
 7837: [7838],
 7848: [7849],
 7851: [7852],
 7862: [7863],
 7868: [7869],
 7872: [7873],
 7880: [7881],
 7886: [7887],
 7890: [7891],
 7893: [7894],
 7904: [7905],
 7913: [7914],
 7923: [7924],
 7930: [7931],
 7934: [7935],
 7939: [7940],
 7950: [7951],
 7967: [7968],
 7973: [7974],
 7989: [7990],
 7994: [7995, 7996],
 8009: [8010],
 8012: [8013],
 8019: [8020],
 8025: [8026],
 8029: [8030],
 8032: [8033],
 8034: [8035],
 8039: [8040],
 8061: [8062],
 8071: [8072],
 8079: [8080],
 8085: [8086],
 8102: [8103],
 8126: [8127],
 8131: [8132],
 8139: [8140],
 8146: [8147],
 8159: [8160, 8161],
 8179: [8180],
 8205: [8206, 8207],
 8215: [8216],
 8235: [8236],
 8238: [8239],
 8244: [8245],
 8251: [8252],
 8254: [8255, 8256],
 8259: [8260],
 8276: [8277],
 8284: [8285],
 8295: [8296],
 8308: [8309],
 8310: [8311],
 8313: [8314],
 8341: [8342],
 8343: [8344],
 8351: [8352],
 8376: [8377],
 8387: [8388],
 8396: [8397],
 8398: [8399],
 8416: [8417],
 8424: [8425],
 8430: [8431],
 8442: [8443],
 8444: [8445],
 8449: [8450],
 8456: [8457],
 8465: [8466],
 8468: [8469],
 8477: [8478],
 8500: [8501],
 8518: [8519],
 8525: [8526],
 8601: [8602],
 8647: [8648],
 8661: [8662],
 8665: [8666],
 8696: [8697],
 8711: [8712],
 8713: [8714],
 8727: [8728],
 8742: [8743],
 8778: [8779],
 8796: [8797],
 8803: [8804],
 8845: [8846],
 9399: [9400],
 9448: [9449],
 9971: [9972],
 10142: [10143],
 10260: [10261],
 10486: [10487],
 10807: [10808],
 13121: [13122],
 13154: [13155],
 15815: [15816],
 15817: [15818],
 15819: [15820],
 15821: [15822],
 15823: [15824],
 15825: [15826],
 15827: [15828],
 15829: [15830],
 15831: [15832],
 15833: [15834],
 15835: [15836],
 15838: [15839],
 15840: [15841],
 15843: [15844],
 15845: [15846]}

In [32]:
df_integrato_matches2 = pd.DataFrame(columns=['name' , 'industry', 'market_cap', 'employees', 'country', 'headquarters', 'address', 'sector', 'ceo', 'founded', 'founders', 'share_price', 'website', 'stock', 'area_served', 'revenue'])
indexesToDelete = []
i = 0

for k in dict_matches.keys():
    indexesToDelete.append(k)
    row = df[df.index == k]
    for v in dict_matches[k]:
        indexesToDelete.append(v)
        for field in row:
            if(row[field].isnull().values.any()):
                if(not df[df.index == v][field].isnull().values.any()):
                    row.at[k, field] = df[df.index==v][field].values[0]
    df_integrato_matches2.loc[len(df_integrato_matches2.index)]=row.values[0]
df_integrato_clean = df.drop(indexesToDelete)
df_integrato_matches2 = pd.concat([df_integrato_clean, df_integrato_matches2], ignore_index=True)

In [36]:
df_integrato_matches2[df_integrato_matches2.name=='Apple Inc']

Empty DataFrame
Columns: [name, industry, market_cap, employees, country, headquarters, address, sector, ceo, founded, founders, share_price, website, stock, area_served, revenue]
Index: []

In [183]:
df_integrato_matches2.to_csv('output_integration/matches_collassati_seconda2.csv', index=False)

# Passo finale integration

### eliminazione righe 'doppione'
### concatenazione dataframe integrato dei match

In [4]:
df = pd.read_json('output_alignment_multithread_finalpass/schema_mediato.json')
df = df[df.name.isnull() == False]

In [21]:
df[df.name=='Apple Inc.']

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
15099,Apple Inc.,Consumer Electronics,$2.825 T,None,United States,None,None,Technology,None,None,None,None,None,AAPL,None,None
48100,Apple Inc.,Consumer Electronics,$2.825 T,None,United States,None,None,Technology,None,None,None,None,None,AAPL,None,None
84007,Apple Inc.,Consumer Electronics,2825000000000,None,United States,None,None,Technology,None,None,None,None,None,AAPL,None,None
119490,Apple Inc.,Consumer Electronics,$2.825 T,"100,000",United States,"Cupertino,CA,UnitedStates",None,Technology,Mr. Timothy D. Cook,"April 1, 1976",None,None,None,AAPL,None,None
139207,Apple Inc.,Consumer electronics Software services Online ...,None,None,None,1 Apple Park Way,None,None,None,"April 1, 1976; 46 years ago (1976-04-01) in Lo...",None,None,None,None,Worldwide,None
140714,Apple Inc.,"Consumer electronics, Software services, Onli...",None,"164,000 (2022)",None,1 Apple Park Way,None,None,None,"Los Altos, California","Steve Jobs, Steve Wozniak, Ronald Wayne",None,,None,None,", (2022)"
140782,Apple Inc.,None,$2.825 T,None,united states,None,None,technology,None,None,None,None,None,AAPL,None,None

In [185]:
indexesToDelete = []
for k, vs in dict_matches_global.items():
    indexesToDelete.append(k)
    indexesToDelete += vs

len(indexesToDelete)

131219

In [186]:
print(len(df))
df_clean = df.drop(indexesToDelete)
print(len(df_clean))

191920
62385

In [187]:
df_final = pd.concat([df_clean, df_integrato_matches2], ignore_index=True)
len(df_final)

63287

In [20]:
display(df_final[df_final.name.str.contains("Apple Inc")])

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
43877,Apple Inc,Technology and Communications,"$2,141.2B","164,000",NaN,United States of America,"One Apple Park Way, Cupertino, California, 95014",NaN,NaN,NaN,NaN,NaN,www.apple.com,NaN,NaN,$394.3B

In [191]:
df_final.to_csv('output_integration/final_plt.csv', index=False)

In [15]:

# keyToIgnore
# print(dict_matches)
print(len(dict_matches.keys()))

22842

In [2]:
import pandas as pd
df_final = pd.read_csv('output_integration/final_plt.csv')

C:\Users\feder\AppData\Local\Temp\ipykernel_23928\3911268321.py:2: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_final = pd.read_csv('output_integration/final_plt.csv')

In [3]:
df_final[df_final.name=='Apple']

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
62385,Apple,"Semiconductors, Electronics, Electrical Engine...",$2.351 T,"100,000",USA,Cupertino,NaN,Technology,Mr. Timothy D. Cook,"April 1, 1976","Steve Jobs, Steve Wozniak, Ronald Wayne",$147.81,https://www.apple.com/,AAPL,NaN,"394,330 Million USD"

In [38]:
df_final.name.to_csv('solonomi.csv', index=False)

# Creazione Dataset con coppie di record che sono in match

In [16]:
import csv
import time

start = time.time()

df_match = pd.DataFrame(columns=['label','left_id', 'left_name' , 'left_industry', 'left_market_cap', 'left_employees', 'left_country', 'left_headquarters', 'left_address', 'left_sector', 'left_ceo', 'left_founded', 'left_founders', 'left_share_price', 'left_website', 'left_stock', 'left_area_served', 'left_revenue', 'right_id','right_name' , 'right_industry', 'right_market_cap', 'right_employees', 'right_country', 'right_headquarters', 'right_address', 'right_sector', 'right_ceo', 'right_founded', 'right_founders', 'right_share_price', 'right_website', 'right_stock', 'right_area_served', 'right_revenue'])
for k in dict_matches.keys():
    for v in dict_matches[k]:
        df_match.loc[len(df_match.index)] = ([1, k, df[df.index == k]['name'].values[0] , df[df.index == k]['industry'].values[0], df[df.index == k]['market_cap'].values[0], df[df.index == k]['employees'].values[0], df[df.index == k]['country'].values[0], df[df.index == k]['headquarters'].values[0], df[df.index == k]['address'].values[0], df[df.index == k]['sector'].values[0], df[df.index == k]['ceo'].values[0], df[df.index == k]['founded'].values[0], df[df.index == k]['founders'].values[0], df[df.index == k]['share_price'].values[0], df[df.index == k]['website'].values[0], df[df.index == k]['stock'].values[0], df[df.index == k]['area_served'].values[0], df[df.index == k]['revenue'].values[0], v, df[df.index == v]['name'].values[0], df[df.index == v]['industry'].values[0], df[df.index == v]['market_cap'].values[0], df[df.index == v]['employees'].values[0], df[df.index == v]['country'].values[0], df[df.index == v]['headquarters'].values[0], df[df.index == v]['address'].values[0], df[df.index == v]['sector'].values[0], df[df.index == v]['ceo'].values[0], df[df.index == v]['founded'].values[0], df[df.index == v]['founders'].values[0], df[df.index == v]['share_price'].values[0], df[df.index == v]['website'].values[0], df[df.index == v]['stock'].values[0], df[df.index == v]['area_served'].values[0], df[df.index == v]['revenue'].values[0]])
end = time.time()
print("The time of execution of above program is :", (end-start) * 10**3, "ms")

The time of execution of above program is : 17507378.231287003 ms

In [17]:
df_match.to_csv('output_match/df_match.csv')

# Creazione Dataset con coppie di record che NON sono in match

In [20]:
candidate_links

MultiIndex([(  1202,   1202),
            (  1202,   7104),
            (  1202,   8099),
            (  1202,  16099),
            (  1202,  23192),
            (  1202,  25046),
            (  1202,  40045),
            (  1202,  49100),
            (  1202,  59782),
            (  1202,  67005),
            ...
            (198603, 198603),
            (198605, 198605),
            (198606, 198606),
            (198607, 198607),
            (198608, 198608),
            (198609, 198609),
            (198610, 198610),
            (198611, 198611),
            (198612, 198612),
            (198613, 198613)],
           length=916434)

In [35]:
lista_indici_nomi_null = df[df.name.isnull() == True].index
df = df.drop(lista_indici_nomi_null)
display(df)

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
1202,Apple,None,$2.351 T,None,USA,None,None,None,None,None,None,$147.81,None,None,None,None
1203,Bristol-myers Squibb,None,$172.49 B,None,USA,None,None,None,None,None,None,$81.13,None,None,None,None
1204,Wells Fargo,None,$175.05 B,None,USA,None,None,None,None,None,None,$45.94,None,None,None,None
1205,Nike,None,$175.54 B,None,USA,None,None,None,None,None,None,$112.20,None,None,None,None
1206,Walt Disney,None,$177.08 B,None,USA,None,None,None,None,None,None,$99.43,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198610,\n Olajide Semi...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198611,\n Kaidi Klein\...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198612,\n Liridon Resh...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198613,\n Margus L\xc3...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198614,\n Hannes Rosin...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [60]:
stop = 0
df_no_match = pd.DataFrame(columns=['label','left_id', 'left_name' , 'left_industry', 'left_market_cap', 'left_employees', 'left_country', 'left_headquarters', 'left_address', 'left_sector', 'left_ceo', 'left_founded', 'left_founders', 'left_share_price', 'left_website', 'left_stock', 'left_area_served', 'left_revenue', 'right_id','right_name' , 'right_industry', 'right_market_cap', 'right_employees', 'right_country', 'right_headquarters', 'right_address', 'right_sector', 'right_ceo', 'right_founded', 'right_founders', 'right_share_price', 'right_website', 'right_stock', 'right_area_served', 'right_revenue'])

for k,v in zip(df.index, df.index):
    try:
        k = k + 1
        if (k, v) not in candidate_links:
            df_no_match.loc[len(df_no_match.index)] = ([0, k, df[df.index == k]['name'].values[0] , df[df.index == k]['industry'].values[0], df[df.index == k]['market_cap'].values[0], df[df.index == k]['employees'].values[0], df[df.index == k]['country'].values[0], df[df.index == k]['headquarters'].values[0], df[df.index == k]['address'].values[0], df[df.index == k]['sector'].values[0], df[df.index == k]['ceo'].values[0], df[df.index == k]['founded'].values[0], df[df.index == k]['founders'].values[0], df[df.index == k]['share_price'].values[0], df[df.index == k]['website'].values[0], df[df.index == k]['stock'].values[0], df[df.index == k]['area_served'].values[0], df[df.index == k]['revenue'].values[0], v, df[df.index == v]['name'].values[0], df[df.index == v]['industry'].values[0], df[df.index == v]['market_cap'].values[0], df[df.index == v]['employees'].values[0], df[df.index == v]['country'].values[0], df[df.index == v]['headquarters'].values[0], df[df.index == v]['address'].values[0], df[df.index == v]['sector'].values[0], df[df.index == v]['ceo'].values[0], df[df.index == v]['founded'].values[0], df[df.index == v]['founders'].values[0], df[df.index == v]['share_price'].values[0], df[df.index == v]['website'].values[0], df[df.index == v]['stock'].values[0], df[df.index == v]['area_served'].values[0], df[df.index == v]['revenue'].values[0]])
            # print("i: " + str(k) + ", j: " + str(v))
        if stop >= 60000:
            break
        stop = stop + 1
    except:
        break

In [62]:
display(df_no_match.left_name, df_no_match.right_name)

0              Bristol-myers Squibb
1                       Wells Fargo
2                              Nike
3                       Walt Disney
4               Abbott Laboratories
                    ...
22984      Asahi Group Holdings Ltd
22985    Haitong Securities Co. Ltd
22986                Catalent, Inc.
22987         Quanta Services, Inc.
22988                 Ubiquiti Inc.
Name: left_name, Length: 22989, dtype: object

0                             Apple
1              Bristol-myers Squibb
2                       Wells Fargo
3                              Nike
4                       Walt Disney
                    ...
22984     Capitec Bank Holdings Ltd
22985      Asahi Group Holdings Ltd
22986    Haitong Securities Co. Ltd
22987                Catalent, Inc.
22988         Quanta Services, Inc.
Name: right_name, Length: 22989, dtype: object

In [61]:
df_no_match.to_csv('output_match/df_no_match.csv')

# Dataset Unlabeled

In [ ]:
df_unlabel = pd.DataFrame(columns=['label','left_id', 'left_name' , 'left_industry', 'left_market_cap', 'left_employees', 'left_country', 'left_headquarters', 'left_address', 'left_sector', 'left_ceo', 'left_founded', 'left_founders', 'left_share_price', 'left_website', 'left_stock', 'left_area_served', 'left_revenue', 'right_id','right_name' , 'right_industry', 'right_market_cap', 'right_employees', 'right_country', 'right_headquarters', 'right_address', 'right_sector', 'right_ceo', 'right_founded', 'right_founders', 'right_share_price', 'right_website', 'right_stock', 'right_area_served', 'right_revenue'])

for i,j in multi_index:
    df_unlabel.loc[len(df_unlabel.index)] = ([0, i, df[df.index == i]['name'].values[0] , df[df.index == i]['industry'].values[0], df[df.index == i]['market_cap'].values[0], df[df.index == i]['employees'].values[0], df[df.index == i]['country'].values[0], df[df.index == i]['headquarters'].values[0], df[df.index == i]['address'].values[0], df[df.index == i]['sector'].values[0], df[df.index == i]['ceo'].values[0], df[df.index == i]['founded'].values[0], df[df.index == i]['founders'].values[0], df[df.index == i]['share_price'].values[0], df[df.index == i]['website'].values[0], df[df.index == i]['stock'].values[0], df[df.index == i]['area_served'].values[0], df[df.index == i]['revenue'].values[0], j, df[df.index == j]['name'].values[0], df[df.index == j]['industry'].values[0], df[df.index == j]['market_cap'].values[0], df[df.index == j]['employees'].values[0], df[df.index == j]['country'].values[0], df[df.index == j]['headquarters'].values[0], df[df.index == j]['address'].values[0], df[df.index == j]['sector'].values[0], df[df.index == j]['ceo'].values[0], df[df.index == j]['founded'].values[0], df[df.index == j]['founders'].values[0], df[df.index == j]['share_price'].values[0], df[df.index == j]['website'].values[0], df[df.index == j]['stock'].values[0], df[df.index == j]['area_served'].values[0], df[df.index == j]['revenue'].values[0]])

In [ ]:
df_unlabel.to_csv('output_match/df_unlabel.csv')

# Unione di df_match e df_no_match e suddivisione in train, test, validation per Deepmatcher

In [ ]:
df_match = pd.read_csv('output_match/df_match.csv')
df_no_match = pd.read_csv('output_match/df_no_match.csv')
df_union = pd.concat([df_match, df_no_match], ignore_index=True)

In [ ]:
df_train = df_union.sample(7000)
df_test = df_union.sample(2300)
df_validation = df_union.sample(2300)

In [ ]:
df_train.to_csv('output_match/df_train.csv')
df_test.to_csv('output_match/df_test.csv')
df_validation.to_csv('output_match/df_validation.csv')

# Record Linkage con DeepMatcher

In [ ]:
import deepmatcher as dm
train, validation, test = dm.data.process(path='data_directory',
    train='train.csv', validation='validation.csv', test='test.csv')

In [ ]:
model = dm.MatchingModel()

In [ ]:
model.run_train(train, validation, best_save_path='best_model.pth')

In [ ]:
model.run_eval(test)

unlabeled = dm.data.process_unlabeled(path='data_directory/unlabeled.csv', trained_model=model)
model.run_prediction(unlabeled)