# CONTROLLO MATCHING

In [1]:
import os
import pandas as pd
from valentine import valentine_match, valentine_metrics
from valentine.algorithms import Coma, DistributionBased, Cupid
import pprint
import numpy as np

def list2string(x):
    result = ''
    if(isinstance(x, list)):
        for element in x:
            result = result + ', ' + str(element)
        return result[1:]
    else:
        return x

# Load data using pandas
df1 = pd.read_json("schema_mediato_confronto.json")
# df2 = pd.read_json("datasets/output_globaldata.json")
df2 = pd.read_json("datasets/valueToday_dataset.jsonl", lines=True)
# df2 = df2.apply(np.vectorize(list2string))
df2 = df2.applymap(list2string)
display(df2)
# Instantiate matcher and run
# Coma requires java to be installed on your machine
# If java is not an option, all the other algorithms are in Python (e.g., Cupid)
# matcher = Coma(strategy="COMA_OPT")
matcher = DistributionBased(0.9, 0.9)
matches = valentine_match(df1, df2, matcher)
# print(type(matches))
# print(matches)
pp = pprint.PrettyPrinter(indent=4)

,id,name,world_rank,annual_revenue_in_usd,annual_net_income_in_usd,annual_results_for_year_ending,total_assets_in_usd,total_liabilities_in_usd,total_equity_in_usd,headquarters_region_city,headquarters_country,headquarters_sub_region,headquarters_continent,company_business,number_of_employees,ceo,founders,company_website
0,b9a098214d1a4ce1acc834cf17aef660,Apple,1,"394,330 Million USD","99,803 Million USD",Sep-2022,"352,760 Million USD","302,080 Million USD","50,672 Million USD",California,USA,Northern America,Americas,"Technology, Mobiles & Accessories, Electronic...","154,000",Tim Cook,"Steve Jobs, Steve Wozniak, Ronald Wayne",https://www.apple.com/
1,42f1b7d5a40343de9837fc75d74767c3,Taiwan Semiconductor Manufacturing Company (tsmc),10,"55,306 Million USD","20,783 Million USD",Dec-2021,"129,800 Million USD","54,253 Million USD","75,543 Million USD",Hsinchu,Taiwan,South East Asia,Asia,"Technology, Semiconductors, Electronics, Tech...","65,152",C. C. Wei,Morris Chang,https://www.tsmc.com/
2,85fa8c7dfbb447d898002cb3cfb2fffd,Nvidia Corporation,9,"26,914 Million USD","9,752 Million USD",For Year Ending JAN-2022,"44,187 Million USD","17,575 Million USD","26,612 Million USD",California,USA,Northern America,Americas,"Technology, Semiconductors, Electronics, Tech...","18,975",Jensen Huang,"Jensen Huang, Chris Malachowsky, Curtis Priem",http://www.nvidia.com/
3,6b52bb9b50924235b1003c74bb8db227,Berkshire Hathaway,8,"354,640 Million USD","89,795 Million USD",For Year ending Dec-2021,"956,780 Million USD","443,850 Million USD","514,930 Million USD",Nebraska,USA,Northern America,Americas,"Financial Services, Investments, Insurance","372,000",Warren Buffett,Oliver Chace,https://www.berkshirehathaway.com/
4,d10c3bd4fe924f138454b6f0583de7a1,Meta Platforms,7,"117,930 Million USD","39,370 Million USD",Dec-2021,"165,990 Million USD","41,108 Million USD","124,880 Million USD",California,USA,Northern America,Americas,"Communication Services, Internet or Mobile Ap...","77,805",Mark Zuckerberg,"Mark Zuckerberg, Andrew McCollum, Eduardo Sav...",https://www.facebook.com/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10677,b08a3d47642d44e7a10f8582a14cf9f9,Nilfisk Holding A/s,"9,992",994 Million USD,51 Million USD,For Year Ending Dec-2021,841 Million USD,633 Million USD,207 Million USD,NaN,Denmark,Northern Europe,Europe,"Industries, Industry Machinery",NaN,NaN,NaN,https://www.nilfisk.com/
10678,6622d097ddd74d8c8c1be4cec195dfb6,Taikisha,"9,991","1,527 Million USD",53 Million USD,For Year Ending Mar-2022,"1,665 Million USD",711 Million USD,954 Million USD,NaN,Japan,Eastern Asia,Asia,"Industries, Electronics, Paints and Coatings,...","5,042",NaN,NaN,https://www.taikisha-group.com/
10679,42e3f369762b44d7977fda3584145175,Parque Arauco,"9,990",189 Million USD,26 Million USD,For Year Ending Dec-2021,"3,084 Million USD","1,651 Million USD","1,433 Million USD",NaN,Chile,South America,Americas,Real Estate,NaN,NaN,NaN,https://www.parauco.com/
10680,dda34d322ea9415aa399a26e207e6a64,Talos Energy,"9,999","1,244 Million USD",-182 Million USD,Year ending Dec-2021,"2,766 Million USD","2,006 Million USD",760 Million USD,Texas,USA,Northern America,Americas,"Energy, Oil and Gas",443,NaN,NaN,https://www.talosenergy.com
10681,3b5fbfbbdad84d3eb761851048e20223,"Ck Life Sciences Int'l., (holdings) Inc.","10,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hong Kong,Eastern Asia,Asia,"Healthcare, Biotechnology",NaN,NaN,NaN,https://www.ck-lifesciences.com/

In [2]:
pp.pprint(matches)

{   (('table_1', 'area_served'), ('table_2', 'headquarters_continent')): 0.8377128325544686,
    (('table_1', 'country'), ('table_2', 'headquarters_country')): 0.8807710731409065,
    (('table_1', 'employees'), ('table_2', 'number_of_employees')): 0.7121586240337022,
    (('table_1', 'employees'), ('table_2', 'world_rank')): 0.9251787351957952,
    (('table_1', 'headquarters'), ('table_2', 'headquarters_region_city')): 0.9587807736553855,
    (('table_1', 'name'), ('table_2', 'name')): 0.8885161921180947,
    (('table_1', 'website'), ('table_2', 'company_website')): 0.9261661952364245}

# CREAZIONE SCHEMA MEDIATO

In [1]:
import os
import pandas as pd
from valentine import valentine_match, valentine_metrics
from valentine.algorithms import Coma, DistributionBased
import pprint

In [2]:
# ---------------------------------------------------------
# CREATA PER INIZIALIZZARE UN DATASET FITTIZIO MA ORA NON
# SI UTILIZZA IL DATASET FITTIZIO DA NOI CREATO MANUALMENTE
# ---------------------------------------------------------
def creation_dataset_confronto(df1):
  # Load data using pandas
  df2 = pd.read_json("datasets/output_disfold.json")

  matcher_coma = Coma(strategy="COMA_OPT")
  matches_coma = valentine_match(df1, df2, matcher_coma)

  attributi_mediato = []
  attributi_dataset = []
  for i in matches_coma:
    if matches_coma[i] > 0.5:
      attributi_mediato.append(i[0][1])
      attributi_dataset.append(i[1][1])

  for i in df2.index:
      data = {}
      # print(i)
      for d,m in zip(attributi_dataset,attributi_mediato):
        # print(df2[d][i])
        data[m] = df2[d][i]
      temp_data=pd.DataFrame([data])
      df1=pd.concat([df1, temp_data], ignore_index=True)

  return df1

In [3]:
def creation_df_log_matcher(df_logmachers_temp, matches, i, type, name_dataset):
  record = {}
  record['tab1'] = i[0][0]
  record['attr1'] = i[0][1]
  record['tab2'] = name_dataset
  record['attr2'] = i[1][1]
  record['prob'] = matches[i]
  if type == 'coma':
    record['matcher'] = 'Coma'
  else:
    record['matcher'] = 'DistributionBased'
  temp_record=pd.DataFrame([record])
  # df_logmachers=df_logmachers.append(record, ignore_index=True)
  df_logmachers_temp=pd.concat([df_logmachers_temp, temp_record], ignore_index=True)
  return df_logmachers_temp

In [4]:
def creation_schema_alignment(df1, df2, df_confronto, df_logmachers, name_dataset):

  # Instantiate matcher and run
  # Coma requires java to be installed on your machine
  # If java is not an option, all the other algorithms are in Python (e.g., Cupid)
  matcher_coma = Coma(strategy="COMA_OPT")
  matches_coma = valentine_match(df1, df2, matcher_coma)

  distr_run = False

  df_logmachers_temp = pd.DataFrame(columns = ['tab1' , 'attr1', 'tab2', 'attr2', 'prob', 'matcher'])
 
  attributi_mediato = []
  attributi_dataset = []
  for i in matches_coma:
    df_logmachers_temp = creation_df_log_matcher(df_logmachers_temp, matches_coma, i, 'coma', name_dataset)
    if matches_coma[i] > 0.5:
      attributi_mediato.append(i[0][1])
      attributi_dataset.append(i[1][1])
    else:
      try:
        if not distr_run:
          matcher_distr = DistributionBased()
          matches_distr = valentine_match(df_confronto, df2, matcher_distr)
          distr_run = True
        # distribution based già instanziato
        # log del matcher su Distribution Based
        df_logmachers_temp = creation_df_log_matcher(df_logmachers_temp, matches_distr, i, 'distribution', name_dataset)
        # se nel Distribution Based c'è la stessa coppia di attributi 
        # che fa match con valore superiore a 0.5 allora fa match
        if matches_distr[i] > 0.5:
          attributi_mediato.append(i[0][1])
          attributi_dataset.append(i[1][1])
      except:
        pass
  # print(attributi_dataset)
  # print(attributi_mediato)

  df1_temp = pd.DataFrame(columns = ['name' , 'industry', 'market_cap', 'employees', 'country', 'headquarters', 'address', 'sector', 'ceo', 'founded', 'founders', 'share_price', 'website', 'stock', 'area_served', 'revenue'])

  # inserimento dei dati nel dataframe
  for i in df2.index:
    data = {}
    # print(i)
    for d,m in zip(attributi_dataset,attributi_mediato):
      # print(df2[d][i])
      data[m] = df2[d][i]
    temp_data=pd.DataFrame([data])
    df1_temp=pd.concat([df1_temp, temp_data], ignore_index=True)

  pp = pprint.PrettyPrinter(indent=4)

  # stampa dei matchers
  pp.pprint(matches_coma)
  if distr_run:
    pp.pprint(matches_distr)


  return df1_temp, df_logmachers_temp
  # print(df1)

In [5]:
#funzione utilizzata per trasformare gli elementi del dataframe che sono una lista in stringa 
def list2string(x):
    result = ''
    if(isinstance(x, list)):
        for element in x:
            result = result + ', ' + str(element)
        return result[1:]
    else:
        return x

In [6]:
from threading import Thread
import time
class IlMioThread (Thread):

    def __init__(self, df1, df2, df_confronto, df_logmachers, name_dataset):
        Thread.__init__(self)
        self.df1 = df1
        self.df2 = df2
        self.df_confronto = df_confronto
        self.df_logmachers = df_logmachers
        self.name_dataset = name_dataset
   
    def run(self):
        try:
            self.df1, self.df_logmachers = creation_schema_alignment(self.df1, self.df2, self.df_confronto, self.df_logmachers, self.name_dataset)
        except:
            print("ERRORE " + str(self.name_dataset))

In [7]:
from pathlib import Path
from itertools import zip_longest
import time
#formati json, csv, xls, xlsx, jsonl
df1 = pd.DataFrame(columns = ['name' , 'industry', 'market_cap', 'employees', 'country', 'headquarters', 'address', 'sector', 'ceo', 'founded', 'founders', 'share_price', 'website', 'stock', 'area_served', 'revenue'])
# df_confronto = creation_dataset_confronto(df1)
df_confronto = pd.read_json('output_alignment_multithread/schema_mediato.json')
df_logmachers = pd.DataFrame(columns = ['tab1' , 'attr1', 'tab2', 'attr2', 'prob', 'matcher'])


df1_a = df1
df1_b = df1
df1_c = df1
df1_d = df1
df1_e = df1

df_logmachers_a = df_logmachers
df_logmachers_b = df_logmachers
df_logmachers_c = df_logmachers
df_logmachers_d = df_logmachers
df_logmachers_e = df_logmachers


#numero di errori nell'esecuzione di file
num_error = 0

directory = 'datasets'
dataset_list_json = Path(directory).glob('*.json')
dataset_list_jsonl = Path(directory).glob('*.jsonl')
dataset_list_csv = Path(directory).glob('*.csv')
dataset_list_xls = Path(directory).glob('*.xls')
dataset_list_xlsx = Path(directory).glob('*.xlsx')
i = 0

start_time = time.time()


for a,b,c,d,e in zip_longest(dataset_list_json, dataset_list_jsonl, dataset_list_csv, dataset_list_xls, dataset_list_xlsx, fillvalue='?'):

  df1_a = df1
  df1_b = df1
  df1_c = df1
  df1_d = df1
  df1_e = df1

  df_logmachers_a = df_logmachers
  df_logmachers_b = df_logmachers
  df_logmachers_c = df_logmachers
  df_logmachers_d = df_logmachers
  df_logmachers_e = df_logmachers


  if a != '?':
    print(str(i) + " " + str(a))
    i=i+1
    df2_a = pd.read_json(a)
    # trasforma le celle del dataframe che hanno liste in stringhe
    df2_a = df2_a.applymap(list2string)
    name_dataset_a = str(a).split('\\')[1]
    thread1 = IlMioThread(df1_a, df2_a, df_confronto, df_logmachers_a, name_dataset_a)
    thread1.start()
  else:
    thread1 = None
  
  if b != '?':
    print(str(i) + " " + str(b))
    i=i+1
    df2_b = pd.read_json(b, lines=True)
    # trasforma le celle del dataframe che hanno liste in stringhe
    df2_b = df2_b.applymap(list2string)
    name_dataset_b = str(b).split('\\')[1]
    thread2 = IlMioThread(df1_b, df2_b, df_confronto, df_logmachers_b, name_dataset_b)
    thread2.start()
  else:
    thread2 = None

  
  if c != '?':
    print(str(i) + " " + str(c))
    i=i+1
    df2_c = pd.read_csv(c, encoding='ISO-8859-1')
    # trasforma le celle del dataframe che hanno liste in stringhe
    df2_c = df2_c.applymap(list2string)
    name_dataset_c = str(c).split('\\')[1]
    thread3 = IlMioThread(df1_c, df2_c, df_confronto, df_logmachers_c, name_dataset_c)
    thread3.start()
  else:
    thread3 = None

  if d != '?':
    print(str(i) + " " + str(d))
    i=i+1
    df2_d = pd.read_excel(d)
    # trasforma le celle del dataframe che hanno liste in stringhe
    df2_d = df2_d.applymap(list2string)
    name_dataset_d = str(d).split('\\')[1]
    thread4 = IlMioThread(df1_d, df2_d, df_confronto, df_logmachers_d, name_dataset_d)
    thread4.start()
  else:
    thread4 = None

  if e != '?':
    print(str(i) + " " + str(e))
    i=i+1
    df2_e = pd.read_excel(e)
    # trasforma le celle del dataframe che hanno liste in stringhe
    df2_e = df2_e.applymap(list2string)
    name_dataset_e = str(e).split('\\')[1]
    thread5 = IlMioThread(df1_e, df2_e, df_confronto, df_logmachers_e, name_dataset_e)
    thread5.start()
  else:
    thread5 = None


  if thread1 != None:
    thread1.join()
  if thread2 != None:
    thread2.join()
  if thread3 != None:
    thread3.join()
  if thread4 != None:
    thread4.join()
  if thread5 != None:
    thread5.join()

  if thread1 != None:
    df1=pd.concat([df1, thread1.df1], ignore_index=True)
  if thread2 != None:
    df1=pd.concat([df1, thread2.df1], ignore_index=True)
  if thread3 != None:
    df1=pd.concat([df1, thread3.df1], ignore_index=True)
  if thread4 != None:
    df1=pd.concat([df1, thread4.df1], ignore_index=True)
  if thread5 != None:
    df1=pd.concat([df1, thread5.df1], ignore_index=True)
  
  
  if thread1 != None:
    df_logmachers=pd.concat([df_logmachers, thread1.df_logmachers], ignore_index=True)
  if thread2 != None:
    df_logmachers=pd.concat([df_logmachers, thread2.df_logmachers], ignore_index=True)
  if thread3 != None:
    df_logmachers=pd.concat([df_logmachers, thread3.df_logmachers], ignore_index=True)
  if thread4 != None:
    df_logmachers=pd.concat([df_logmachers, thread4.df_logmachers], ignore_index=True)
  if thread5 != None:
    df_logmachers=pd.concat([df_logmachers, thread5.df_logmachers], ignore_index=True)
  

  
end_time = time.time()
total_time = end_time - start_time

display(df1)
display(df_confronto)
display(df_logmachers)
print("Tempo Esecuzione: " + str(total_time))

0 datasets\cbinsights.json
1 datasets\companiesMarketCap_dataset.jsonl
2 datasets\campaignindia.csv
3 datasets\MalPatSaj-companiesmarketcap.com.xls
4 datasets\MalPatSaj-disfold.com.xlsx

c:\Users\andre\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

{   (('table_1', 'country'), ('table_2', 'Country')): 0.8457614,
    (('table_1', 'industry'), ('table_2', 'Industry')): 0.84821236,
    (('table_1', 'market_cap'), ('table_2', 'MarketCap')): 0.7106706,
    (('table_1', 'name'), ('table_2', 'Name')): 0.8363075,
    (('table_1', 'sector'), ('table_2', 'Sector')): 0.843004,
    (('table_1', 'stock'), ('table_2', 'Stock')): 0.83987904}
{   (('table_1', 'country'), ('table_2', 'CATEGORY')): 0.31707317,
    (('table_1', 'market_cap'), ('table_2', 'MAIN MARKET')): 0.42591837,
    (('table_1', 'name'), ('table_2', 'BRAND NAME')): 0.42887965,
    (('table_1', 'stock'), ('table_2', 'RANK')): 0.24250546}
{   (('table_1', 'country'), ('table_2', 'MAIN MARKET')): 0.9802687726581588,
    (('table_1', 'founded'), ('table_2', 'RANK')): 0.972249786965376,
    (('table_1', 'industry'), ('table_2', 'CATEGORY')): 0.8896370484826355,
    (('table_1', 'market_cap'), ('table_2', '2010 RANK')): 0.8632383401457776,
    (('table_1', 'name'), ('table_2', 'BRAND NAME')): 0.9780207788541116,
    (('table_1', 'sector'), ('table_2', 'CATEGORY')): 0.9153535328551349,
    (('table_1', 'stock'), ('table_2', 'BRAND NAME')): 0.9307436538708472}
{   (('table_1', 'country'), ('table_2', 'country')): 0.7812582,
    (('table_1', 'founded'), ('table_2', 'datejoined')): 0.28348395,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.78370917,
    (('table_1', 'name'), ('table_2', 'valuation')): 0.22510847,
    (('table_1', 'sector'), ('table_2', 'selectinvestors')): 0.35179862}
{   (('table_1', 'headquarters'), ('table_2', 'city')): 0.9404813311619253,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.89733216564366,
    (('table_1', 'name'), ('table_2', 'company')): 0.9877393256078376,
    (('table_1', 'name'), ('table_2', 'selectinvestors')): 0.9871954730645356,
    (('table_1', 'sector'), ('table_2', 'industry')): 0.9687751520153844}
{   (('table_1', 'country'), ('table_2', 'country')): 0.811216,
    (('table_1', 'employees'), ('table_2', 'categories')): 0.29485422,
    (('table_1', 'founded'), ('table_2', 'id')): 0.30935657,
    (('table_1', 'market_cap'), ('table_2', 'market_cap')): 0.81783354,
    (('table_1', 'name'), ('table_2', 'name')): 0.8017621,
    (('table_1', 'share_price'), ('table_2', 'share_price')): 0.8196193,
    (('table_1', 'stock'), ('table_2', 'rank')): 0.30294633}
{   (('table_1', 'area_served'), ('table_2', 'country')): 0.9102946306021109,
    (('table_1', 'country'), ('table_2', 'country')): 0.9979901755840958,
    (('table_1', 'employees'), ('table_2', 'rank')): 0.8802673582108158,
    (('table_1', 'founders'), ('table_2', 'name')): 0.6851481300818467,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.8872285886986854,
    (('table_1', 'market_cap'), ('table_2', 'market_cap')): 0.9465239191086355,
    (('table_1', 'name'), ('table_2', 'name')): 0.9940627105775467,
    (('table_1', 'share_price'), ('table_2', 'share_price')): 0.987433555338582}
{   (('table_1', 'country'), ('table_2', 'Country')): 0.802208,
    (('table_1', 'market_cap'), ('table_2', 'MarketCap')): 0.6671172,
    (('table_1', 'name'), ('table_2', 'Name')): 0.7927542,
    (('table_1', 'share_price'), ('table_2', 'Price')): 0.49910343,
    (('table_1', 'stock'), ('table_2', 'Symbol')): 0.2597665}
{   (('table_1', 'area_served'), ('table_2', 'Country')): 0.9422936089328472,
    (('table_1', 'country'), ('table_2', 'Country')): 0.9803420071973336,
    (('table_1', 'employees'), ('table_2', 'Unnamed: 0')): 0.9192099202729634,
    (('table_1', 'founded'), ('table_2', 'Unnamed: 0')): 0.880041925227264,
    (('table_1', 'headquarters'), ('table_2', 'Country')): 0.9200222226744931,
    (('table_1', 'market_cap'), ('table_2', 'MarketCap')): 0.9607722737046704,
    (('table_1', 'name'), ('table_2', 'Name')): 0.9951559318266185,
    (('table_1', 'name'), ('table_2', 'Symbol')): 0.9466619374987517,
    (('table_1', 'share_price'), ('table_2', 'Price')): 0.9924457962744723,
    (('table_1', 'stock'), ('table_2', 'Name')): 0.9206209744113963,
    (('table_1', 'stock'), ('table_2', 'Symbol')): 0.9768512647224261}
5 datasets\companiesmarketcap.json
6 datasets\disfold_dataset.jsonl
7 datasets\company_social_urls.csv
8 datasets\MalPatSaj-forbes.com.xls
{   (('table_1', 'ceo'), ('table_2', 'ceo')): 0.831255,
    (('table_1', 'employees'), ('table_2', 'employees')): 0.84947366,
    (('table_1', 'founded'), ('table_2', 'founded')): 0.8448297,
    (('table_1', 'headquarters'), ('table_2', 'headquarters_country')): 0.6357422,
    (('table_1', 'market_cap'), ('table_2', 'market_cap')): 0.8514473,
    (('table_1', 'name'), ('table_2', 'name')): 0.83537585}
{   (('table_1', 'address'), ('table_2', 'Pinterest')): 0.17812456,
    (('table_1', 'country'), ('table_2', 'Company')): 0.3124383,
    (('table_1', 'industry'), ('table_2', 'Instagram')): 0.21795724,
    (('table_1', 'sector'), ('table_2', 'Twitter')): 0.19300869,
    (('table_1', 'stock'), ('table_2', 'Facebook')): 0.19300869}
{   (('table_1', 'headquarters'), ('table_2', 'Company')): 0.9832446603262865,
    (('table_1', 'name'), ('table_2', 'Company')): 0.9918567195356908,
    (('table_1', 'stock'), ('table_2', 'Company')): 0.9436979604099285}
{   (('table_1', 'address'), ('table_2', 'Assets')): 0.30833468,
    (('table_1', 'country'), ('table_2', 'Country')): 0.7905094,
    (('table_1', 'employees'), ('table_2', 'Sales')): 0.31992114,
    (('table_1', 'market_cap'), ('table_2', 'Market Value')): 0.4463486,
    (('table_1', 'name'), ('table_2', 'Name')): 0.78105557}
{   (('table_1', 'area_served'), ('table_2', 'Country')): 0.8880964152102943,
    (('table_1', 'area_served'), ('table_2', 'Name')): 0.6441182259647845,
    (('table_1', 'country'), ('table_2', 'Country')): 0.9555197336952609,
    (('table_1', 'country'), ('table_2', 'Name')): 0.906665679232858,
    (('table_1', 'employees'), ('table_2', 'Unnamed: 0')): 0.9006499894153204,
    (('table_1', 'headquarters'), ('table_2', 'Country')): 0.9659258830983645,
    (('table_1', 'headquarters'), ('table_2', 'Name')): 0.9506320014344598,
    (('table_1', 'market_cap'), ('table_2', 'Assets')): 0.934026966166055,
    (('table_1', 'market_cap'), ('table_2', 'Market Value')): 0.9309208626682783,
    (('table_1', 'market_cap'), ('table_2', 'Profit')): 0.9480861130188682,
    (('table_1', 'market_cap'), ('table_2', 'Sales')): 0.8085372230334059,
    (('table_1', 'name'), ('table_2', 'Country')): 0.8591469719004616,
    (('table_1', 'name'), ('table_2', 'Name')): 0.9886996687645879,
    (('table_1', 'revenue'), ('table_2', 'Assets')): 0.9279063607241097,
    (('table_1', 'revenue'), ('table_2', 'Market Value')): 0.8414618621805181,
    (('table_1', 'revenue'), ('table_2', 'Profit')): 0.9660202991109104,
    (('table_1', 'revenue'), ('table_2', 'Sales')): 0.8544933591839968,
    (('table_1', 'stock'), ('table_2', 'Country')): 0.853951097320851,
    (('table_1', 'stock'), ('table_2', 'Name')): 0.9731163852313901}
{   (('table_1', 'country'), ('table_2', 'country')): 0.8025657,
    (('table_1', 'employees'), ('table_2', 'categories')): 0.28620395,
    (('table_1', 'market_cap'), ('table_2', 'marketcap')): 0.66747487,
    (('table_1', 'name'), ('table_2', 'name')): 0.79311186,
    (('table_1', 'share_price'), ('table_2', 'sharePrice')): 0.67961013,
    (('table_1', 'stock'), ('table_2', 'rank')): 0.29429606}
{   (('table_1', 'area_served'), ('table_2', 'country')): 0.9593458080376581,
    (('table_1', 'country'), ('table_2', 'country')): 0.999849512678318,
    (('table_1', 'employees'), ('table_2', 'rank')): 0.8813641055651136,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.95489500289061,
    (('table_1', 'industry'), ('table_2', 'categories')): 0.8794586841855367,
    (('table_1', 'market_cap'), ('table_2', 'marketcap')): 0.9670552268975864,
    (('table_1', 'name'), ('table_2', 'code')): 0.934339860310421,
    (('table_1', 'name'), ('table_2', 'name')): 0.9985509329419353,
    (('table_1', 'share_price'), ('table_2', 'sharePrice')): 0.9907932893551816,
    (('table_1', 'stock'), ('table_2', 'code')): 0.9666559740999215,
    (('table_1', 'stock'), ('table_2', 'name')): 0.9214677700062459}
9 datasets\disfold.com.json
10 datasets\hitHorizons_dataset.jsonl
11 datasets\DDD-cbinsight.com.csv
12 datasets\MalPatSaj-wikipedia.org.xls
{   (('table_1', 'address'), ('table_2', 'address')): 0.7944409,
    (('table_1', 'employees'), ('table_2', 'sic_code')): 0.2648777,
    (('table_1', 'founded'), ('table_2', 'id')): 0.29258153,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.79689187,
    (('table_1', 'name'), ('table_2', 'name')): 0.7849871,
    (('table_1', 'share_price'), ('table_2', 'sic_code')): 0.26525867}
{   (('table_1', 'address'), ('table_2', 'address')): 0.8578558072075427,
    (('table_1', 'founded'), ('table_2', 'est_of_ownership')): 0.9302663360452481,
    (('table_1', 'name'), ('table_2', 'name')): 0.95027182220661}
{   (('table_1', 'country'), ('table_2', 'country')): 0.81663823,
    (('table_1', 'founded'), ('table_2', 'founded')): 0.81663823,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.8190892,
    (('table_1', 'name'), ('table_2', 'name')): 0.8071844,
    (('table_1', 'stock'), ('table_2', 'stage')): 0.37027967}
{   (('table_1', 'country'), ('table_2', 'city')): 0.9503747905975326,
    (('table_1', 'country'), ('table_2', 'country')): 0.9583007957634286,
    (('table_1', 'country'), ('table_2', 'investors')): 0.9883205007412781,
    (('table_1', 'country'), ('table_2', 'name')): 0.9804965664326295,
    (('table_1', 'country'), ('table_2', 'stage')): 0.7689215430379964,
    (('table_1', 'employees'), ('table_2', 'Unnamed: 0')): 0.9711003798818434,
    (('table_1', 'employees'), ('table_2', 'founded')): 0.8188107360999741,
    (('table_1', 'headquarters'), ('table_2', 'city')): 0.961929457635233,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.9585504145880094,
    (('table_1', 'headquarters'), ('table_2', 'investors')): 0.9632028826417346,
    (('table_1', 'headquarters'), ('table_2', 'name')): 0.9539919121894203,
    (('table_1', 'headquarters'), ('table_2', 'stage')): 0.7966176948886977,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.9387636779218238,
    (('table_1', 'market_cap'), ('table_2', 'totalRaised')): 0.9633817451264811,
    (('table_1', 'market_cap'), ('table_2', 'valuation')): 0.9309662606376448,
    (('table_1', 'name'), ('table_2', 'city')): 0.9421802115078874,
    (('table_1', 'name'), ('table_2', 'country')): 0.8979244515102466,
    (('table_1', 'name'), ('table_2', 'investors')): 0.9956069590401645,
    (('table_1', 'name'), ('table_2', 'name')): 0.9828903499894526,
    (('table_1', 'name'), ('table_2', 'stage')): 0.8009120271903305,
    (('table_1', 'revenue'), ('table_2', 'totalRaised')): 0.9474076653452729,
    (('table_1', 'revenue'), ('table_2', 'valuation')): 0.9509509889409317,
    (('table_1', 'sector'), ('table_2', 'industry')): 0.974053841941935,
    (('table_1', 'stock'), ('table_2', 'city')): 0.9338400625766069,
    (('table_1', 'stock'), ('table_2', 'country')): 0.9506093749228256,
    (('table_1', 'stock'), ('table_2', 'investors')): 0.9577455365351614,
    (('table_1', 'stock'), ('table_2', 'name')): 0.9278379303795944,
    (('table_1', 'stock'), ('table_2', 'stage')): 0.7988929484166966}
{   (('table_1', 'employees'), ('table_2', 'Notes')): 0.36392817,
    (('table_1', 'founded'), ('table_2', 'Founded')): 0.84105235,
    (('table_1', 'headquarters'), ('table_2', 'Headquarters')): 0.8510791,
    (('table_1', 'industry'), ('table_2', 'Industry')): 0.8435033,
    (('table_1', 'name'), ('table_2', 'Name')): 0.8315985,
    (('table_1', 'sector'), ('table_2', 'Sector')): 0.838295}
{   (('table_1', 'country'), ('table_2', 'Industry')): 0.9778493164994013,
    (('table_1', 'country'), ('table_2', 'Notes')): 0.9654754038258011,
    (('table_1', 'country'), ('table_2', 'Sector')): 0.90363750976301,
    (('table_1', 'employees'), ('table_2', 'Founded')): 0.9141020092236872,
    (('table_1', 'employees'), ('table_2', 'Unnamed: 0')): 0.9724614344777286,
    (('table_1', 'founded'), ('table_2', 'Founded')): 0.9775428152875418,
    (('table_1', 'founded'), ('table_2', 'Unnamed: 0')): 0.6777096842239865,
    (('table_1', 'headquarters'), ('table_2', 'Headquarters')): 0.9152838913673733,
    (('table_1', 'headquarters'), ('table_2', 'Name')): 0.9561259852289052,
    (('table_1', 'industry'), ('table_2', 'Industry')): 0.9575649106179276,
    (('table_1', 'industry'), ('table_2', 'Notes')): 0.9437902436599201,
    (('table_1', 'industry'), ('table_2', 'Sector')): 0.979156078931734,
    (('table_1', 'name'), ('table_2', 'Headquarters')): 0.9825596809507529,
    (('table_1', 'name'), ('table_2', 'Name')): 0.9906571969017361,
    (('table_1', 'sector'), ('table_2', 'Industry')): 0.9491451999662575,
    (('table_1', 'sector'), ('table_2', 'Notes')): 0.9736900180627913,
    (('table_1', 'sector'), ('table_2', 'Sector')): 0.9356175526840956,
    (('table_1', 'stock'), ('table_2', 'Headquarters')): 0.9569260795734559,
    (('table_1', 'stock'), ('table_2', 'Name')): 0.9389306057169884}
{   (('table_1', 'ceo'), ('table_2', 'ceo')): 0.8211616,
    (('table_1', 'employees'), ('table_2', 'employees')): 0.83938026,
    (('table_1', 'headquarters'), ('table_2', 'headquarters')): 0.84476304,
    (('table_1', 'market_cap'), ('table_2', 'market_cap')): 0.8413539,
    (('table_1', 'name'), ('table_2', 'name')): 0.82528245,
    (('table_1', 'stock'), ('table_2', 'link')): 0.32646668}
{   (('table_1', 'ceo'), ('table_2', 'ceo')): 0.9336307051571335,
    (('table_1', 'employees'), ('table_2', 'employees')): 0.9857138118159054,
    (('table_1', 'headquarters'), ('table_2', 'headquarters')): 0.9539437275997003,
    (('table_1', 'name'), ('table_2', 'name')): 0.9915625955028549,
    (('table_1', 'stock'), ('table_2', 'name')): 0.9340049899117002}
13 datasets\disfold.json
14 datasets\valueToday_dataset.jsonl
15 datasets\DDD-companiesmarketcap.com.csv
{   (('table_1', 'country'), ('table_2', 'country')): 0.8495943,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.85204524,
    (('table_1', 'market_cap'), ('table_2', 'marketCap')): 0.71450347,
    (('table_1', 'name'), ('table_2', 'name')): 0.84014046,
    (('table_1', 'sector'), ('table_2', 'sector')): 0.8468369,
    (('table_1', 'stock'), ('table_2', 'stock')): 0.8437119}
{   (('table_1', 'country'), ('table_2', 'country')): 0.8071872,
    (('table_1', 'employees'), ('table_2', 'categories')): 0.29082543,
    (('table_1', 'market_cap'), ('table_2', 'marketcap')): 0.6720964,
    (('table_1', 'name'), ('table_2', 'name')): 0.7977333,
    (('table_1', 'share_price'), ('table_2', 'share_price')): 0.8155905,
    (('table_1', 'stock'), ('table_2', 'rank')): 0.29891753}
{   (('table_1', 'country'), ('table_2', 'country')): 0.9831155679839062,
    (('table_1', 'employees'), ('table_2', 'Unnamed: 0')): 0.8315346684375166,
    (('table_1', 'employees'), ('table_2', 'rank')): 0.8916334279067337,
    (('table_1', 'market_cap'), ('table_2', 'marketcap')): 0.9382941545950919,
    (('table_1', 'name'), ('table_2', 'name')): 0.9964260567275351,
    (('table_1', 'share_price'), ('table_2', 'share_price')): 0.996640523312541,
    (('table_1', 'stock'), ('table_2', 'name')): 0.9322198275742521}
{   (('table_1', 'address'), ('table_2', 'company_business')): 0.32536897,
    (('table_1', 'ceo'), ('table_2', 'ceo')): 0.8019144,
    (('table_1', 'employees'), ('table_2', 'number_of_employees')): 0.5471067,
    (('table_1', 'founders'), ('table_2', 'founders')): 0.81794,
    (('table_1', 'headquarters'), ('table_2', 'headquarters_country')): 0.60640156,
    (('table_1', 'name'), ('table_2', 'name')): 0.8060352,
    (('table_1', 'revenue'), ('table_2', 'annual_revenue_in_usd')): 0.38044006,
    (('table_1', 'stock'), ('table_2', 'world_rank')): 0.26223826,
    (('table_1', 'website'), ('table_2', 'company_website')): 0.5335994}
{   (('table_1', 'area_served'), ('table_2', 'headquarters_continent')): 0.7630614847555209,
    (('table_1', 'area_served'), ('table_2', 'headquarters_country')): 0.9541149145794794,
    (('table_1', 'area_served'), ('table_2', 'headquarters_region_city')): 0.8933309269644469,
    (('table_1', 'area_served'), ('table_2', 'name')): 0.955836186798104,
    (('table_1', 'ceo'), ('table_2', 'ceo')): 0.9743596822807683,
    (('table_1', 'country'), ('table_2', 'headquarters_continent')): 0.7189654083829723,
    (('table_1', 'country'), ('table_2', 'headquarters_country')): 0.9545547272521081,
    (('table_1', 'country'), ('table_2', 'headquarters_region_city')): 0.9579221336763206,
    (('table_1', 'country'), ('table_2', 'name')): 0.9259713872978721,
    (('table_1', 'employees'), ('table_2', 'number_of_employees')): 0.9957157351915414,
    (('table_1', 'employees'), ('table_2', 'world_rank')): 0.9576481036097321,
    (('table_1', 'founders'), ('table_2', 'founders')): 0.8802402546341315,
    (('table_1', 'headquarters'), ('table_2', 'headquarters_continent')): 0.7290566468375126,
    (('table_1', 'headquarters'), ('table_2', 'headquarters_country')): 0.9126646804038525,
    (('table_1', 'headquarters'), ('table_2', 'headquarters_region_city')): 0.9581395514250746,
    (('table_1', 'headquarters'), ('table_2', 'name')): 0.9762325322999085,
    (('table_1', 'industry'), ('table_2', 'company_business')): 0.8190350767144774,
    (('table_1', 'market_cap'), ('table_2', 'number_of_employees')): 0.9278304294872437,
    (('table_1', 'market_cap'), ('table_2', 'world_rank')): 0.8049382513748875,
    (('table_1', 'name'), ('table_2', 'headquarters_continent')): 0.7709932761085446,
    (('table_1', 'name'), ('table_2', 'headquarters_country')): 0.9171069395248731,
    (('table_1', 'name'), ('table_2', 'headquarters_region_city')): 0.9528044634112447,
    (('table_1', 'name'), ('table_2', 'name')): 0.9972677352505416,
    (('table_1', 'revenue'), ('table_2', 'annual_net_income_in_usd')): 0.9217766069952165,
    (('table_1', 'revenue'), ('table_2', 'annual_revenue_in_usd')): 0.9503802760264116,
    (('table_1', 'revenue'), ('table_2', 'total_assets_in_usd')): 0.993574374229464,
    (('table_1', 'revenue'), ('table_2', 'total_equity_in_usd')): 0.9042816404083797,
    (('table_1', 'revenue'), ('table_2', 'total_liabilities_in_usd')): 0.9870700960624399,
    (('table_1', 'sector'), ('table_2', 'company_business')): 0.6166039042003081,
    (('table_1', 'website'), ('table_2', 'company_website')): 0.9986751204469618}
16 datasets\forbes.com.json
17 datasets\DDD-ft.com.csv
{   (('table_1', 'country'), ('table_2', 'country')): 0.81169474,
    (('table_1', 'employees'), ('table_2', 'number_of_employees_2017')): 0.41764307,
    (('table_1', 'employees'), ('table_2', 'number_of_employees_2020')): 0.41764307,
    (('table_1', 'founded'), ('table_2', 'founding_year')): 0.43914568,
    (('table_1', 'name'), ('table_2', 'name')): 0.8022409,
    (('table_1', 'revenue'), ('table_2', 'revenue_2017_euro')): 0.49534726,
    (('table_1', 'revenue'), ('table_2', 'revenue_2020_euro')): 0.49534726,
    (('table_1', 'sector'), ('table_2', 'sector')): 0.8089374}
{   (('table_1', 'country'), ('table_2', 'country')): 0.9292820018474831,
    (('table_1', 'employees'), ('table_2', 'Unnamed: 0')): 0.8567098556996592,
    (('table_1', 'employees'), ('table_2', 'compound_annual_growth_rate_cagr_pct')): 0.890067307825309,
    (('table_1', 'employees'), ('table_2', 'founding_year')): 0.6696591040074529,
    (('table_1', 'employees'), ('table_2', 'number_of_employees_2017')): 0.9816680909680879,
    (('table_1', 'employees'), ('table_2', 'number_of_employees_2020')): 0.9935155563445606,
    (('table_1', 'founded'), ('table_2', 'Unnamed: 0')): 0.8084578501450719,
    (('table_1', 'founded'), ('table_2', 'compound_annual_growth_rate_cagr_pct')): 0.8373595995493722,
    (('table_1', 'founded'), ('table_2', 'founding_year')): 0.6871146819253656,
    (('table_1', 'founded'), ('table_2', 'number_of_employees_2017')): 0.8874785953445534,

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
0,NaN,Artificial intelligence,NaN,NaN,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Other,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,E-commerce & direct-to-consumer,NaN,NaN,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Fintech,NaN,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Internet software & services,NaN,NaN,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198610,\n Olajide Semi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198611,\n Kaidi Klein\...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198612,\n Liridon Resh...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198613,\n Margus L\xc3...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198614,\n Hannes Rosin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
0,None,Artificial intelligence,None,None,China,None,None,None,None,None,None,None,None,None,None,None
1,None,Other,None,None,United States,None,None,None,None,None,None,None,None,None,None,None
2,None,E-commerce & direct-to-consumer,None,None,China,None,None,None,None,None,None,None,None,None,None,None
3,None,Fintech,None,None,United States,None,None,None,None,None,None,None,None,None,None,None
4,None,Internet software & services,None,None,Australia,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198610,\n Olajide Semi...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198611,\n Kaidi Klein\...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198612,\n Liridon Resh...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198613,\n Margus L\xc3...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
198614,\n Hannes Rosin...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

,tab1,attr1,tab2,attr2,prob,matcher
0,table_1,industry,cbinsights.json,industry,0.783709,Coma
1,table_1,country,cbinsights.json,country,0.781258,Coma
2,table_1,sector,cbinsights.json,selectinvestors,0.351799,Coma
3,table_1,founded,cbinsights.json,datejoined,0.283484,Coma
4,table_1,name,cbinsights.json,valuation,0.225108,Coma
...,...,...,...,...,...,...
361,table_1,country,wissel-rappresentanti-ariregister.rik.ee.csv,Code,0.305081,Coma
362,table_1,revenue,wissel-rappresentanti-ariregister.rik.ee.csv,Role,0.305081,Coma
363,table_1,stock,wissel-rappresentanti-ariregister.rik.ee.csv,Start Date,0.264107,Coma
364,table_1,website,wissel-rappresentanti-ariregister.rik.ee.csv,Start Date,0.262191,Coma
365,table_1,address,wissel-rappresentanti-ariregister.rik.ee.csv,ID azienda,0.187544,Coma

Tempo Esecuzione: 12113.28674197197

In [8]:
#formati csv
df1.to_csv('output_alignment_multithread_finalpass/schema_mediato.csv')
df_logmachers.to_csv('output_alignment_multithread_finalpass/log_matchers.csv')
df_confronto.to_csv('output_alignment_multithread_finalpass/schema_mediato_incrementale_confronto.csv')
#formati json
df1.to_json('output_alignment_multithread_finalpass/schema_mediato.json')
df_logmachers.to_json('output_alignment_multithread_finalpass/log_matchers.json')
df_confronto.to_json('output_alignment_multithread_finalpass/schema_mediato_incrementale_confronto.json')

# Il codice sottostante è utilizzato per generare il dataframe di un singolo dataset

In [18]:
df1 = pd.DataFrame(columns = ['name' , 'industry', 'market_cap', 'employees', 'country', 'headquarters', 'address', 'sector', 'ceo', 'founded', 'founders', 'share_price', 'website', 'stock', 'area_served', 'revenue'])
df_confronto = pd.read_json('schema_mediato_auto.json')
df_logmachers = pd.DataFrame(columns = ['tab1' , 'attr1', 'tab2', 'attr2', 'prob', 'matcher'])



df2 = pd.read_csv('datasets/DDD-cbinsight.com.csv', encoding='ISO-8859-1')
# df2 = pd.read_json('datasets/output_wiki.json')
# trasforma le celle del dataframe che hanno liste in stringhe
df2 = df2.applymap(list2string)
df1, df_logmachers, df_confronto = creation_schema_alignment(df1, df2, df_confronto, df_logmachers, 'companiesMarketCap_dataset.jsonl')

display(df1)
display(df_logmachers)
display(df_confronto)

{   (('table_1', 'country'), ('table_2', 'country')): 0.81663823,
    (('table_1', 'founded'), ('table_2', 'founded')): 0.81663823,
    (('table_1', 'industry'), ('table_2', 'industry')): 0.8190892,
    (('table_1', 'name'), ('table_2', 'name')): 0.8071844,
    (('table_1', 'stock'), ('table_2', 'stage')): 0.37027967}
{   (('table_1', 'country'), ('table_2', 'city')): 0.9282149206585528,
    (('table_1', 'country'), ('table_2', 'country')): 0.9527752093616784,
    (('table_1', 'headquarters'), ('table_2', 'city')): 0.9105745288665776,
    (('table_1', 'headquarters'), ('table_2', 'country')): 0.9224909701879977}

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
0,Lacework,Cybersecurity,NaN,NaN,United States,NaN,NaN,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN
1,Tipalti,Fintech,NaN,NaN,United States,NaN,NaN,NaN,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN
2,Tempus,Health,NaN,NaN,United States,NaN,NaN,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN
3,Anduril,Artificial intelligence,NaN,NaN,United States,NaN,NaN,NaN,NaN,2017,NaN,NaN,NaN,NaN,NaN,NaN
4,Bolt,Auto & transportation,NaN,NaN,Estonia,NaN,NaN,NaN,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1180,SpaceX,Other,NaN,NaN,United States,NaN,NaN,NaN,NaN,2002,NaN,NaN,NaN,NaN,NaN,NaN
1181,Fanatics,E-commerce & direct-to-consumer,NaN,NaN,United States,NaN,NaN,NaN,NaN,1995,NaN,NaN,NaN,NaN,NaN,NaN
1182,Instacart,"Supply chain, logistics, & delivery",NaN,NaN,United States,NaN,NaN,NaN,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN
1183,Databricks,Data management & analytics,NaN,NaN,United States,NaN,NaN,NaN,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN
1184,Stripe,Fintech,NaN,NaN,United States,NaN,NaN,NaN,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN

,tab1,attr1,tab2,attr2,prob,matcher
0,table_1,industry,companiesMarketCap_dataset.jsonl,industry,0.819089,Coma
1,table_1,country,companiesMarketCap_dataset.jsonl,country,0.816638,Coma
2,table_1,founded,companiesMarketCap_dataset.jsonl,founded,0.816638,Coma
3,table_1,name,companiesMarketCap_dataset.jsonl,name,0.807184,Coma
4,table_1,stock,companiesMarketCap_dataset.jsonl,stage,0.370280,Coma

,name,industry,market_cap,employees,country,headquarters,address,sector,ceo,founded,founders,share_price,website,stock,area_served,revenue
0,"Avis Budget Group, Inc.",Rental & Leasing Services,$18.12 B,"16,000",United States,"Parsippany,NJ,UnitedStates",None,Industrials,Mr. Joseph A. Ferraro,2006,NaN,NaN,None,CAR,NaN,None
1,Telefônica Brasil SA,Telecom Services,$20.19 B,"34,000",Brazil,"SÃ£oPaulo,SP,Brazil",None,Communication Services,Mr. Christian Mauad Gebara,1998,NaN,NaN,None,VIV,NaN,None
2,East Japan Railway Company,Railroads,$22.78 B,"71,973",Japan,"Tokyo,Japan",None,Industrials,Mr. Yuji Fukasawa,,NaN,NaN,None,9020,NaN,None
3,Twilio Inc.,Internet Content & Information,$26.09 B,"7,867",United States,"SanFrancisco,CA,UnitedStates",None,Communication Services,Mr. Jeffrey Lawson,2008,NaN,NaN,None,TWLO,NaN,None
4,"Delta Electronics, Inc.",Electronic Components,$24.05 B,,Taiwan,"Taipei,Taiwan",None,Technology,Mr. Ping Cheng,,NaN,NaN,None,2308,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3180,SpaceX,Other,NaN,NaN,United States,NaN,NaN,NaN,NaN,2002,NaN,NaN,NaN,NaN,NaN,NaN
3181,Fanatics,E-commerce & direct-to-consumer,NaN,NaN,United States,NaN,NaN,NaN,NaN,1995,NaN,NaN,NaN,NaN,NaN,NaN
3182,Instacart,"Supply chain, logistics, & delivery",NaN,NaN,United States,NaN,NaN,NaN,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN
3183,Databricks,Data management & analytics,NaN,NaN,United States,NaN,NaN,NaN,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN
3184,Stripe,Fintech,NaN,NaN,United States,NaN,NaN,NaN,NaN,2010,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
original_columns=["name", "industry", "market_cap", "employees", "country", "headquarters", "address", "sector", "ceo", "founded", "founders", "share_price", "website", "stock", "area_served", "revenue"]
schema_mediato = pd.DataFrame(columns=original_columns)

df_gd = pd.read_json('datasets/output_globaldata.json')
df_gd.rename(columns={"number_of_employees":"employees"}, inplace=True)

df_disfold = pd.read_json('datasets/output_disfold.json')

df_vt = pd.read_json('datasets/gren-value.today.json')
df_vt.rename(columns={"annual_revenue_USD":"revenue", "annual_net_income_USD":"earnings", "employees_number":"employees", "headquarters_country": "headquarters", "market_capitalization_2022": "market_cap", "CEO":"ceo"}, inplace=True)

df_vt2 = pd.read_json('datasets/valueToday2.json')
df_vt2.rename(columns={"marketCap":"market_cap", "country": "country", "CEO":"ceo"}, inplace=True)

schema_mediato = schema_mediato.append(df_disfold[:500], ignore_index=True)
schema_mediato = schema_mediato.append(df_vt[:500], ignore_index=True)
schema_mediato = schema_mediato.append(df_vt2[:500], ignore_index=True)
schema_mediato = schema_mediato.append(df_gd[:500], ignore_index=True)

schema_mediato[original_columns].to_json('schema_mediato_auto.json', orient='records')

C:\Users\andre\AppData\Local\Temp\ipykernel_14896\198771844.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  schema_mediato = schema_mediato.append(df_disfold[:500], ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_14896\198771844.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  schema_mediato = schema_mediato.append(df_vt[:500], ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_14896\198771844.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  schema_mediato = schema_mediato.append(df_vt2[:500], ignore_index=True)
C:\Users\andre\AppData\Local\Temp\ipykernel_14896\198771844.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  schema_mediato = schema_mediato.append(df_gd[:500], ignore_index=True)